<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows>
    <ng-container matColumnDef="{{column.property}}" *ngFor="let column of columns">
        <th mat-header-cell *matHeaderCellDef> {{column.property != 'action' ? column.label : ''}} </th>
        <td mat-cell *matCellDef="let element"
            [class.cell-highlight]="((column.property === 'logDateTime'&& element.closestRecord) ||( column.property === 'createdDateTime'))">
            {{element[column.property]}}
            <button mat-icon-button color="basic" *ngIf="column.property=='action'"
                    (click)="expandedElement = expandedElement === element ? null : element">
                <mat-icon>expand_more</mat-icon>
            </button>
        </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columns.length">
            <div class="element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <app-expansion-table-detail [data]="element"
                                            [isHeaderHidden]="isHeaderHidden"
                                            [tableType]="tableType"></app-expansion-table-detail>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="element-row"
        [class.expanded-row]="expandedElement === element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>
