@import '../../../../styles/main.scss';

.export-button {
  @include font-function('Lato', normal, 18px, 22px, $purple-bf);
  font-weight: 700;
  width: 190px;
  height: 46px;
  background: $white;
  border: 1px solid $purple-bf;
  border-radius: 5px;
}
