<button class="back-arrow" (click)="clickBackPrevious()">
  <mat-icon>arrow_back</mat-icon>
</button>
<div class="main">
  <div class="review-app-header-wrapper">
    <div class="page-header-title">Review payment details</div>
  </div>
  <form>
    <div fxLayout="column">
      <!-- Information -->
      <mat-expansion-panel *ngFor="let labelName of labelExpansionDetails" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{labelName.headerName}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description style="display:block;">
          <div *ngFor="let info of labelName.labelInfo; let i=index">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div class="label-input">
                <p>{{info}}</p>
              </div>
              <div class="details-input">
                <span>{{labelName.labelDetails[i]}}</span>
              </div>

            </div>
            <div *ngIf="info === 'Seat'" class="escooter-declare">
              {{escooterDeclared}}
              <ul>
                <li *ngFor="let criteria of escooterCriteriaList">
                  {{criteria}}
                </li>
              </ul>
            </div>
          </div>

        </mat-panel-description>
      </mat-expansion-panel>
    </div>
  </form>
  <div fxLayOutAlign="row">
    <div>
      <pre class="review-declaration">{{reviewDeclarationInfo}}</pre>
    </div>
    <div fxLayoutAlign="column">
      <mat-checkbox color="primary" class="roundCheckBox" [(ngModel)]="submitCheckBox"
        [ngModelOptions]="{standalone: true}">
        <div class="detailsInput">{{reviewReadAgreeInfo}}</div>
      </mat-checkbox>
    </div>
  </div>
  <div fxLayout="row" style="margin-top:20px" fxLayoutAlign="space-between center">
    <app-button (click)="clickBackPrevious()" [btnConfig]="backButtonConfig"></app-button>
    <button fxLayout="row" fxLayoutAlign="space-between stretch" type="button" [disabled]="!submitCheckBox"
      class="select-payment-btn" (click)="clickNext()">
      Select payment method
      <mat-icon>arrow_right_alt</mat-icon>
    </button>
  </div>
</div>
