@import '../../../styles/main.scss';

.page-header-title {
  @include font-function('Lato', normal, 30px, 36px, $black-heading);
  font-weight: 900;
  text-align: left;
  vertical-align: top;
  margin-bottom: 10px;
}

.review-app-header-wrapper {
  @include font-function('Lato-Bold', normal, 30px, 36px, $black-heading);
  text-align: left;
}


.back-arrow {
  border: none;
  background: none;
  position:absolute;
  top: -50px;
  .mat-icon {
    color: $purple-bf;
  }
}
.app-header-wrapper {
  padding: 24px 0 0 0;
  text-align: center;
  margin-bottom: 20px;
}

.spacing-between {
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 31px;
}

:host::ng-deep .roundCheckBox {
  & .mat-checkbox-background, .mat-checkbox-frame {
      border-radius: 70% !important;
  }
}
.label-input {
  @include font-function('Lato', normal, 16px, 24px, $black-heading);
  font-weight: normal;
}
.details-input {
  @include font-function('Lato', bold, 16px, 19px, $black-heading);
  font-weight: bold;
  white-space: pre-wrap;
}

.review-declaration {
  @include font-function('Lato', normal, 16px, 21px, $black-heading);
  font-weight: 900;
  white-space: pre-line;
}

.select-payment-btn {
  @include font-function('Lato', normal, 18px, 22px, $white);
  background-color: $purple-c5;
  padding: 10px 7px ;
  width: 70%;
  outline: 0;
  border: none;
  border-radius: 7px;
}
.select-payment-btn:disabled {
  background-color: $grey-ab;
}

.escooter-declare {
  @include font-function('Lato', normal, 16px, 21px, #5B5B5B);

}
