<ng-container *ngIf="showTransactions">
  <app-search (searched)="search($event)"></app-search>
  <div class="content" fxLayout="column">
    <app-filter (filtered)="filter($event)" [stats]="stats"></app-filter>
    <div *ngFor="let transaction of transactions">
      <app-card [transaction]="transaction"></app-card>
    </div>
    <app-pagination
      (pageMove)="onPageMove($event)"
      [pageNo]="pageNo"
    ></app-pagination>
  </div>
</ng-container>


