// .main-container {
//     display: flex;
//   }
  
//   .sidenav-container {
//     display: flex;
//     align-content: flex-start;
//     justify-content: center;
//     flex-direction: column;
//     background-color: purple;
//     color: white;
//     font-size: 20px;
//     margin: 0;
//     padding: 20px;
//     div {
//       padding: 20px;
//     }
//   }
  
 .margin-bottom {
     margin-bottom: 30px;
 } 
  