<app-dashboard-greeting></app-dashboard-greeting>
<app-card [card]="dates.transactionDueDates" ></app-card>  
<app-table [link]="url" [userType]="userType" (routeTo)="goToViewDetails($event)" *ngIf="transactions" [transactionDetails]="transactions"></app-table>
<app-pagination (pageMove)="onPageMove($event)" [pageNo]="pageNo"></app-pagination>

