<div class="title">Approval Work List</div>

<app-table [link]="url"  *ngIf="transactions" (approve)="openAddFileDialog($event)" (sort)="sortList($event)" (routeTo)="goToViewDetails($event)" [userType]="userType"  [transactionDetails]="transactions"></app-table>
<app-pagination (pageMove)="onPageMove($event)" [pageNo]="pageNo"></app-pagination>
<app-modal></app-modal> 

