<div fxLayout="row" fxLayoutGap="64px">
  <div
    fxLayout="column"
    fxLayoutGap="4px"
    *ngFor="let textGroup of subtitleTextgroup"
  >
    <span class="label">{{ textGroup.label }}</span>
    <span class="value">{{ textGroup.value }}</span>
  </div>
</div>
