@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/colors.scss';

.label {
  @include font-function('Lato', normal, 16px, 19px, #5f5f5f);
}

.value {
  @include font-function('Lato', normal, 18px, 22px, $black-6c);
  font-weight: 700;
}
