<div class="wrapper">
  <div>
    <p class="submit-heading-text-header">Successfully Submitted</p>
    <p class="submit-heading-text-1">Thank You!</p>
    <p class="submit-heading-text-2">
      You have submitted this form. A copy of the application has ben sent to
      xxx@gmail.com as requested.
    </p>
  </div>

  <div class="transaction-card">
    <div class="transaction-wrapper">
      <p class="transaction-title">Business Transaction Ref No.</p>
      <p class="transaction-info">{{ vehicleResponse.transactionRefNum }}</p>
    </div>
    <div class="transaction-wrapper">
      <p class="transaction-title">Business Transaction Date</p>
      <p class="transaction-info">{{ vehicleResponse.transactionDate }}</p>
    </div>
    <div class="transaction-wrapper">
      <p class="transaction-title">Business Transaction Time</p>
      <p class="transaction-info">{{ vehicleResponse.transactionTime }}</p>
    </div>
  </div>

  <div class="submit-footer">
    <footer class="submit-text">
      The vehicle has been successfully registered. Please note that
      <strong>$xx,xxx.xx</strong> will be deducted from your credits.
    </footer>
  </div>
</div>
