@import '../../../styles/main.scss';

.mat-expansion-panel {
  margin: 12px;
  padding: 0 12px;
  box-shadow: 0 4px 4px 0 #00000040;
}

.mat-expansion-panel-header {
  height: 36px;
  border-bottom: 1px solid #4e4f6c;
  border-radius: 0;
  padding: 0;
  box-sizing: border-box;
}

:host ::ng-deep .mat-expansion-panel-body {
  margin-bottom: 10px;
  padding: 12px 0 !important;
}

fieldset {
  border: 1px solid #6471bf;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 12px;
  margin-bottom: 16px;
}

legend {
  @include font-function('Lato', 'normal', '12px', '14px', $purple-bf);
  font-weight: 400;
}

:host ::ng-deep .mat-form-field-outline,
:host ::ng-deep .mat-form-field-outline-thick {
  color: $black-55;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

.controls button {
  @include font-function('Lato', 'normal', '16px', '19px', $white);
  height: 43px;
  width: 135px;
  border-radius: 10px;
  font-weight: 400;
}

.controls button[type='button'] {
  background: $white;
  border: 1px solid $purple-bf;
  color: $purple-bf;
}

.controls button[type='submit'] {
  background: $purple-bf;
}
