<mat-expansion-panel
  class="mat-elevation-z2"
  [hideToggle]="false"
  (opened)="onOpen()"
  (closed)="onClose()"
  #searchFormPanel
>
  <mat-expansion-panel-header>
    <mat-panel-title>Search</mat-panel-title>
  </mat-expansion-panel-header>
  <form
    [formGroup]="searchForm"
    (ngSubmit)="onSearchFormSubmit()"
    fxLayout="column"
    fxLayoutGap="10px"
  >
    <fieldset>
      <legend>Enter search criteria below</legend>
      <div fxLayout="column">
        <label class="register-form-labels" for="transactionRefNum"
          >Transaction No.</label
        >
        <mat-form-field appearance="outline">
          <input
            matInput
            type="text"
            formControlName="transactionRefNum"
            id="transactionRefNum"
          />
        </mat-form-field>
      </div>
      <div fxLayout="column">
        <label class="register-form-labels" for="ownerId">Owner ID</label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="ownerId" id="ownerId" />
        </mat-form-field>
      </div>
      <div fxLayout="column">
        <label class="register-form-labels" for="lastModifiedDateFrom"
          >Last Modified Date/Time From</label
        >
        <mat-form-field appearance="outline">
          <input
            matInput
            [ngxMatDatetimePicker]="lastModifiedDateFrom"
            formControlName="lastModifiedDateFrom"
            id="lastModifiedDateFrom"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="$any(lastModifiedDateFrom)"
          ></mat-datepicker-toggle>
          <ngx-mat-datetime-picker
            #lastModifiedDateFrom
            [showSeconds]="true"
            [defaultTime]="[00, 00, 00]"
          >
          </ngx-mat-datetime-picker>
        </mat-form-field>
      </div>
      <div fxLayout="column">
        <label class="register-form-labels" for="lastModifiedDateTo"
          >Last Modified Date/Time To</label
        >
        <mat-form-field appearance="outline">
          <input
            matInput
            [ngxMatDatetimePicker]="lastModifiedDateTo"
            formControlName="lastModifiedDateTo"
            id="lastModifiedDateTo"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="$any(lastModifiedDateTo)"
          ></mat-datepicker-toggle>
          <ngx-mat-datetime-picker
            #lastModifiedDateTo
            [showSeconds]="true"
            [defaultTime]="[00, 00, 00]"
          >
          </ngx-mat-datetime-picker>
        </mat-form-field>
      </div>
    </fieldset>
    <div class="controls" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="16px">
      <button
        mat-stroked-button
        type="button"
        color="primary"
        (click)="searchForm.reset()"
      >
        Clear
      </button>
      <button mat-flat-button type="submit" color="primary">Search</button>
    </div>
  </form>
</mat-expansion-panel>
