<div class="main">
  <form>
    <div fxLayout="column">
      <!-- Information -->
      <mat-label> {{ reviewDetailsTitle }}</mat-label>
      <mat-expansion-panel *ngFor="let labelName of labelExpansionDetails">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ labelName.headerName }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description style="display: block">
          <ng-template
            ngFor
            let-i="index"
            let-info
            [ngForOf]="labelName.labelInfo"
          >
            <div class="register-form-labels">
              <p>{{ info }}</p>
            </div>
            <div class="detailsInput">
              <p>{{ labelName.labelDetails[i] }}</p>
            </div>
          </ng-template>
        </mat-panel-description>
      </mat-expansion-panel>
      <div fxLayOutAlign="row" class="spacing-between">
        <div class="review-declaration">{{ reviewDeclarationInfo }}</div>
        <div fxLayoutAlign="column" class="spacing-between">
          <mat-checkbox
            color="primary"
            class="roundCheckBox"
            [(ngModel)]="submitCheckBox"
            [ngModelOptions]="{ standalone: true }"
          >
            <div class="detailsInput">{{ reviewReadAgreeInfo }}</div>
          </mat-checkbox>
        </div>
      </div>

      <div
        fxLayout="row"
        class="spacing-between"
        fxLayoutAlign="space-between center"
      >
        <app-buttons
          (click)="clickBackPrevious()"
          [btnConfig]="backButtonConfig"
        ></app-buttons>
        <button
          fxLayout="row"
          fxLayoutAlign="space-between stretch"
          type="button"
          [disabled]="!submitCheckBox"
          class="submit-btn"
          (click)="clickSubmit()"
        >
          Submit
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>

<div class="register-form-labels">
  Please do not use your browser’s Back or Forward buttons as this may result in
  information loss
</div>
