@import '../../../styles/main.scss';

.detailsInput {
  @include font-function('Lato-Bold', normal, 16px, 19px, $black-55);
  white-space: pre-wrap;
}

.mat-divider {
  background: #9d9fa6;
  border-radius: 10px;
}

.submit-btn {
  @include font-function('Lato', normal, 16px, 19px, $white);
  background-color: $purple-c5;
  color: #fff;
  padding: 15px 33px;
  width: 70%;
  outline: 0;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}
.submit-btn:disabled {
  background-color: $grey-ab;
}

:host::ng-deep .roundCheckBox {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 70%;
  }
}
.review-declaration {
  @include font-function('Lato', normal, 12px, 14.4px, $black-heading);
  margin-left: 10px;
}

.spacing-between {
  margin-top: 20px;
}
