@import '../../../../../../styles/main.scss';

.custom-border {
  padding: 20px;
  border: 1px solid $globalappcolor;
  border-radius: 20px;
}

.label-detail-header {
  margin-bottom: 5px;
}

.label-detail-item {
  margin-top: 15px;
  margin-bottom: 15px;
}

.label-divider {
  border-top-color: black;
}

