<div class="custom-border">
    <ng-container *ngFor="let labelDetail of labelDetails">
        <div [hidden]="isHeaderHidden">
            <div class="label-detail-header">  {{ labelDetail.headerName }} </div>
            <mat-divider [inset]="true" class="label-divider"></mat-divider>
        </div>
        <div class="label-detail-item" fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
            <ng-container *ngFor="let label of labelDetail.labels; let i=index;">
                <div fxFlex="0 1 calc(20% - 32px)">
                    <div>
                        <label class="register-form-labels">{{ label }}</label>
                        <div class="detailsInput">
                            <p>{{labelDetail.values[i]}}</p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>