@import '../../../../styles/main.scss';

.singapore-common-header {
  @include font-function('Lato', normal, 12px, 14px, $black-5a);
  background: $white-f0;
  padding: 8px;
  img {
    margin-right: 8px;
  }
  padding-left: 5%;
  padding-right: 5%;
}

.logo-header {
  background-color: white;
  padding: 8px;
  padding-left: 5%;
  padding-right: 5%;
}

.VRLS-icon {
  margin-right: 10px;
  width: 40px;
}

.topbar-button-right {
  position: relative;
}

.common-icons {
  margin-right: 8px;
  width: 20px;
  height: 18px;
}
.icon-button{
  width: 10px;
  background-color: blue;
}
.notification-number {
  @include font-function('Lato', normal, 12px, 20px, $white);
  position: absolute;
  top: 0;
  left: 43%;
  width: 19px;
  height: 19px;
  font-weight: 700;
  background-color: red;
  text-align: center;
  border-radius: 50%;
}

::ng-deep .mat-menu-panel {
  max-width: none !important;
  width: 100%;
}

.noti-header {
  padding: 5% 0 5% 0;
}

.noti-word {
  @include font-function('Lato', bold, 12px, 14px, $black-6c);
  font-weight: bold;
  text-align: Left;
  vertical-align: top;
  padding-left: 18px;
}

.read-word {
  @include font-function('Lato', normal, 12px, 14px, $blue-bf);  
  font-weight: 400;
  text-align: right;
  vertical-align: top;
  padding-right: 18px;
}

.noti-card {
  background-color: #f5f3ff;
  width: 100%;
  margin-bottom: 1px;
}

.view-button {
  @include font-function('Lato', normal, 10px, 17px, $white);  
  padding: 3px 7px;
  background-color: $blue-bf;
  border-radius: 12px;
  height: 50%;
  font-weight: 700;
  text-align: right;
  vertical-align: middle;
  border: 0;
  outline: none;
  cursor: pointer;
}

.view-icon {
  width: 25%;
}

.mat-menu-content {
  padding: 0 !important;
}

.mat-menu-content {
  position: relative;
}
.mat-menu-content::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  left: 20px;
  bottom: 110%;
}

.notif-fill-color {
  color: $globalappcolor;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
}

.mat-menu-item {
  height: auto;
  line-height: 30px;
  padding: 10px 9px;
}

.notif-msg {
  font-size: 12px;
}
