<div fxLayoutAlign="space-between center" class="singapore-common-header">
    <div fxLayout="row">
        <img src="../../../../assets/images/lion-icon.svg" alt="lion-icon"/>
        <div>A Singapore Government Agency Website</div>
    </div>
    <div fxLayout="row">
        <img src="../../../../assets/images/printer-icon.svg" alt="printer"/>
        <img src="../../../../assets/images/small-A.svg" alt="small-A"/>
        <img src="../../../../assets/images/medium-A.svg" alt="medium-A"/>
        <img src="../../../../assets/images/big-A.svg" alt="big-A"/>
    </div>
</div>

<div fxLayoutAlign="space-between center" class="logo-header">
    <div fxLayout="row">
        <img src="../../../../assets/images/lta-logo.svg" alt="lta-logo"/>
    </div>

    <div fxLayout="row">
        <img
                class="VRLS-icon"
                src="../../../../assets/images/VRLS-icon.svg"
                alt="VRLS"
        />
        <div>
            <button
                    [matMenuTriggerFor]="notificationMenu"
                    mat-icon-button
                    matTooltip="Notifications"
                    [style.overflow]="'visible'"
                    class="topbar-button-right"
            >
                <mat-icon class="notif-fill-color">notifications</mat-icon>
                <span class="notification-number mat-bg-warn">{{ notificationsLength }}</span>
            </button>
            <mat-menu #notificationMenu="matMenu">
                <div
                        fxLayout="row"
                        class="noti-word"
                        fxLayoutAlign="space-between center"
                >
                    <div class="notification-header">
                        <span>Notifications</span>
                    </div>
                    <button class="mark-all-read-btn">
                        <div>Mark all as read</div>
                    </button>
                </div>

                <button
                        class="noti-card"
                        mat-menu-item
                        *ngFor="let notification of notificationList; let i = index"
                        (click)="openNotification(i)"
                >
                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <div>
                            <span class="notif-msg">{{ notification.transactionRefNum + ': ' + notification.subject }}</span>
                        </div>
                        <div>
                            <button
                                    fxLayout="row"
                                    fxLayoutAlign="space-between center"
                                    class="view-button"
                            >
                                <img
                                        class="view-icon"
                                        src="../../assets/images/view-icon.svg"
                                        alt="view"
                                />
                                View
                            </button>
                        </div>
                    </div>
                </button>
            </mat-menu>
        </div>

        <div fxLayoutAlign="space-between center">
            <img
                    class="common-icons"
                    src="../../../../assets/images/calendar-icon.svg"
                    alt="calendar"
            />
            <img
                    class="common-icons"
                    src="../../../../assets/images/tasks-icon.svg"
                    alt="tasks"
            />
            <button mat-icon-button class="topbar-button-right" (click)="goToPage()">
                <img
                        class="common-icons"
                        src="../../../../assets/images/next-icon.svg"
                        alt="next"
                />
            </button>
        </div>
    </div>
</div>
