@import "../../../../styles/main.scss";

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}
.element-detail {
  overflow: hidden;
  margin-left: 288px;
}
.element-row td {
  border-bottom-width: 0;
}

.container {
  width: 100%;
}

.new-value {
  outline: none !important;
  width: 39px;
}

.edit-amount-container {
  margin-left: 15px;
}

.edit-effective-date {
  margin-right: 90px;
}

.edit-end-date {
  margin-right: 177px;
}

.base-amt {
  margin-bottom: 18px;
  display: inline-flex;
}

.date {
  width: 110px;
}

.effective-date {
  margin-right: 91px;
}

.end-date {
  margin-right: 215px;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  background-color: $white-f0;
  color: $purple-bf;
}

::ng-deep .mat-tab-list .mat-tab-labels {
  background-color: $purple-bf;
  color: $white-f0;
  width: 60%;
}

::ng-deep .mat-tab-label {
  color: $white;
}

.add {
  color: $purple-bf;
}

.delete {
  color: $red-22;
}

.active {
  background: $green-F0;
}

.hide-active {
  display: none !important;
}

.proceed-button {
  margin-top: 35px;
  margin-right: 30px;
}
