<app-search-form (searchParams)="getSearchParams($event)" [userType]="userType"></app-search-form>
<app-table *ngIf="transactions" [link]="url" (routeTo)="goToViewDetails($event)" [userType]="userType"
           [transactionDetails]="transactions" (sort)="sortList($event)"></app-table>
<app-pagination (pageMove)="onPageMove($event)" [pageNo]="pageNo"></app-pagination>
