@import '/src/styles/main.scss';

.message{
  @include font-function('Lato', normal, 14px, 19px, $black-heading);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  vertical-align: top;
  margin-bottom: 20px;
  margin-left: 3%;
  margin-right: 5%;
}

.alphabet
{
  list-style-type: lower-alpha;

}

.roman
{
  list-style-type: lower-roman;
}
