<div class="message">
<ul>
  <li>Any incorrect or invalid information submitted may result in the deregistration of this e-scooter and the registration fee paid will not be refunded.</li>
  <li>It is an offence:</li>
  <ol class="alphabet">
    <li>
      To use or keep an e-scooter on public which:
      <ol class="roman">
        <li>Does not meet the specified requirements under the Active Mobility Act;</li>
        <li>Does not have a valid LTA registration Mark and/or compliant Identification Mark;</li>
        <li>Has an Idenfication Mark which does not meet the prescribed specifications, is forged or false and/or which bears an incorrect or invalid number;</li>
      </ol>
    </li>
    <li>
      To tamper with or remove an LTA Registration Mark and/or the Identification Mark on an e-scooter;
    </li>
    <li>
      To alter/modify an e-scooter in contravention of the specified requirements under the Active Mobility Act once it has been registered and affixed with an LTA registration mark; or
    </li>
    <li>
      To furnish or cause to be furnished any particulars in connection with this application which are flase or misleading.
    </li>
  </ol>
</ul>
</div>
