@import '../../styles/main.scss';

.header-panel {
    @include font-function('Lato-Bold', normal, 20px, 24px, $white);
}

.mat-expansion-panel-header {
  margin: 0 16px;
}

.mat-expansion-panel{
  background-color: $grey-f5;
}

.owner-dashboard-header {
  margin: 10px 30px;
}

.table-container {
    height: 300px;
    width: 100%;
    overflow: scroll;
    box-shadow: 0 4px 4px #00000040;
    background: $white;
    margin-top: 15px;
}

.header {
    @include font-function('Lato-Bold', normal, 18x, 22px, $black-55);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 1px;
}

.header-date {
    @include font-function('Lato', normal, 12x, 14px, $black-55);
    padding-left: 20px;
    margin-bottom: 20px;
}

.sub-header {
   @include font-function('Lato', normal, 14px, 17px, $black-55);
    font-weight: 900;
    width: 100%;
}

.container {
    background: $grey-f5;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    height: 550px;
}

.ref-num {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.divider {
    margin: 10px 0;
}

.details {
    @include font-function('Lato', normal, 17px, 14px, $black-55);
}

.details-header {
    @include font-function('Lato-Bold', normal, 17px, 14px, $black-55);

}

.no-data {
    @include font-function('Lato-Bold', normal, 15px, 14px, $black-55);
    text-align: center;
    margin: 110px;
}


.mat-list-base .mat-list-item {
    height: auto;
    padding: 5px 0;
    font-size: 14px;
}

.mat-list {
    border-bottom: 1px solid #4e4f6c33;
}

mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
    background: $purple-48;
}

.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
    background: $purple-48;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
    color: $white;
}

.mat-expansion-panel-header:not([aria-disabled="true"]) {
    background: $purple-48;
}



.label {
    @include font-function('Lato', normal, 17px, 20px, $black-55);
    padding: 5px;
    margin-left: 2px;
}

.about {
    box-sizing: border-box;
    border: 1px solid $black-55;
    background: $white;
    margin: 20px 0 13px 17px;
    width: 90%;
    height: 30px;
    padding: 0;
}

.lta-logo {
    text-align: end;
    padding: 20px 10px;
}

.heading {
    @include font-function('Lato-Bold', normal, 22px, 26px, $white);
    padding: 10px;
    align-content: space-evenly;
    margin: 0;
    display: flex;
}

.heading-container {
    display: flex;
    background: $purple-bf;
    height: 50px;
}

.icon {
    padding-right: 20px;
}

.footer-contents {
    margin-left: 20px;
    margin-right:20px;
    padding-bottom:20px;
  }

  .footer {
    @include font-function('Lato', normal, 13px, 15px, $black-30);
    font-weight: 400;
    background: $grey-f7;
  }
