<div class="owner-dashboard-header" fxLayout="row" fxLayoutAlign="space-between center">
  <img src="../../assets/images/oneMotoring.svg" alt="oneMotoring" width="auto" height="auto" />
  <button mat-icon-button [matMenuTriggerFor]="mainMenu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #mainMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
</div>

<div class="heading-container">

  <div class="heading"> <mat-icon class="icon" (click)="back()">keyboard_backspace</mat-icon>View e-Letters</div>
</div>

<div class="container">
  <div class="header">
    Welcome, ROBERT LOH
  </div>
  <div class="header-date">
    Session Date: {{date}}
  </div>

  <div class="about">
    <div class="label">About this digital service</div>
  </div>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header class="exp-header">
        <mat-panel-title class="panel-header-title">
          <div class="header-panel">Search e-Letters</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="row" fxLayoutAlign="space-between end">
        <div>
          <label class="sub-header">You have 1 unread e-letter(s).</label>

        </div>

        <div>
          <label class="sub-header">ALL</label>
          <label class="sub-header"> | Read</label>
          <label class="sub-header">| Unread</label>
        </div>
      </div>

      <div class="table-container">
        <div *ngIf="hasData">
          <mat-list role="list" *ngFor="let item of dataSource">
            <div class="divider" fxLayout='row' fxLayoutAlign="center center" fxLayoutGap="20px">

              <div class="id">
                <mat-list-item role="listitem" class="details">{{item.notifId}}</mat-list-item>
              </div>

              <div>
                <mat-list-item role="listitem" class="details-header">{{item.subject}}</mat-list-item>
                <mat-list-item role="listitem" class="details ref-num">{{item.transactionRefNum == 'null' ? '-' : item.transactionRefNum}}</mat-list-item>
                <mat-list-item role="listitem" class="details">{{item.notifDateTime | date}}</mat-list-item>
              </div>

            </div>
          </mat-list>
        </div>
        <div *ngIf="noData" class="no-data">You do not have any e-letters</div>
      </div>

    </mat-expansion-panel>
</div>

<div class="lta-logo">
  <img src="../../assets/images/lta-logo.svg" alt="image" width="auto" height="auto" />
</div>

<div class="footer-contents">
  <div>Contact Us · Feedback</div>
  <br />
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px">
    <img alt="image" src="../../assets/images/1.svg"  alt="image" width="auto" height="auto" />
    <img alt="image" src="../../assets/images/2.svg" alt="image" width="auto" height="auto" />
    <img alt="image" src="../../assets/images/3.svg" alt="image" width="auto" height="auto" />
    <img alt="image" src="../../assets/images/4.svg" alt="image" width="auto" height="auto" />
    <img alt="image" src="../../assets/images/5.svg" alt="image" width="auto" height="auto" />
    <img alt="image" src="../../assets/images/6.svg" alt="image" width="auto" height="auto" />
  </div>
  <br>
  <mat-divider></mat-divider><br />
  <div>Report Vulnerability</div>
  <br />
  <div>Privacy Statement</div>
  <br />
  <div>Terms of Use</div>
  <br />
  <div>Disclaimer</div>
  <br />
  <div>O 2021 Land Transport Authority of Singapore.</div>
  <div fxLayout="row" fxLayoutAlign="space-between center" >
    <div>Last updated: 30 May 2021</div>
  <img src="../../assets/images/footer-icon.JPG" alt="image" width="auto" height="auto" />
</div>
</div>

