<div
  class="singapore-common-header"
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <img src="../../../../assets/images/lion-icon.svg" alt="lta logo" width="auto" height="auto"/>
  <div>A Singapore Government Agency Website</div>
</div>

<div *ngIf="hasRoute('home')">
<div fxLayout="row" fxLayoutAlign="space-between center" class="header-left">
  <img src="../../assets/images/oneMotoring.svg" alt="oneMotoring" width="auto" height="auto"/>
  <div>
    <button mat-flat-button [matMenuTriggerFor]="mainMenu">
      <img src="../../assets/images/human-icon.svg" alt="human-icon" width="auto" height="auto"/>
      Login
    </button>
    <mat-menu #mainMenu="matMenu" xPosition="before">
        <div fxLayout="column" class="menu">
      <br><div class="menu-header">Access your dashboard</div><br>
      <img src="../../assets/images/singpass-menu-icon.png" alt="singpass-menu-icon" width="auto" height="auto"/><br>

      <div class="menu-btn blue-button">
        <button mat-flat-button (click)="Singpass()">For Individual Users</button>
      </div>
      <div class="menu-btn yellow-button">
        <button mat-flat-button>For Business Users</button>
      </div>
      <div >
      <div fxLayout="row" fxLayoutAlign="space-between center" class="mat-menu-footer">
        <div>User ID & Password</div>
        <mat-icon>arrow_right_alt</mat-icon>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="mat-menu-footer">
        <div>LTALINK</div>
        <mat-icon>arrow_right_alt</mat-icon>
      </div>
      <br>
    </div>
  </div>

    </mat-menu>

  </div>
  <button
  mat-icon-button
  [matMenuTriggerFor]="mainMenu"
>
  <mat-icon>menu</mat-icon>
</button>
</div>
</div>


