@import '../../../../styles/main.scss';

.singapore-common-header {
  @include font-function('Lato', normal, 12px, 14px, $grey-5a);
  background-color: $white-f0;
  padding: 8px;
  img {
    margin-right: 8px;
  }
}

.header-left {
  box-sizing: border-box;
  width: 100%;
  height: 75px;
  vertical-align: middle;
  padding: 0 30px;
}

.left {
  margin-left: 30px;
}

.menu {
  text-align: center;
}

.menu-btn {
  @include font-function('Lato', normal, 18px, 22px, $white);
  margin: 0 20px;
  button {
    height: 42px;
    color: $white;
    outline: 0;
    border: none;
    margin-bottom: 15px;
    border-radius: 5px;
    &:focus {
      box-shadow: 0 2px 6px $blue-toolbar;
    }
  }
}

.blue-button {
  button {
    background-color: $blue-toolbar;
  }
}

.yellow-button {
  button {
    background-color: $yellow-55;
  }
}

.menu-header {
  @include font-function('Lato', normal, 18px, 22px, $black-heading);
  font-weight: 400;
  width: 100%;
}

.mat-menu-footer {
  @include font-function('Lato', normal, 16px, 19px, $black-heading);
  font-weight: 400;
  margin: 0 20px;
}
