
<div class="icon">
    <mat-icon inline="true">report_problem</mat-icon>
</div>





<div class="error-label"> You are not Authorized to access this page</div>

<div class="sso-login-btn">
    <button type="submit" (click)="back()">Back</button>
</div>
