@import '../../../styles/main.scss';
.error-label {
  @include font-function('Lato', normal, 30px, 36px, $black-55);
  font-weight: normal;
  text-align: center;
  margin-top: 5%;
}

.icon {
  font-size: 90px;
  text-align: center;
  margin-top: 20%;
  color: #3e3b55;
}

.sso-login-btn {
  width: 100%;
  margin: 31px 0 70px;
  text-align: center;

  button {
    width: auto;
    height: 42px;
    background-color: $purple-bf;
    @include font-function('Lato', normal, 18px, 22px, $white);
    outline: 0;
    border: none;
    border-radius: 5px;

    &:focus {
      box-shadow: 0px 2px 6px $purple-bf;
    }
  }
}
