<div class="lta-logo-wrapper">
  <!-- <button class="back-arrow" (click)="clickBackPrevious()">
    <mat-icon>arrow_back</mat-icon>
  </button> -->
  <img src="../../assets/images/oneMotoring.svg" />
</div>

<div class="register-page-wrapper">
  <div class="register-heading-wrapper">
      <div class="register-heading-text">{{ registerHeading }}</div>
  </div>

  <mat-stepper [linear]="isLinear" labelPosition="bottom" #stepper class="register-stepper-wrapper">
      <ng-template matStepperIcon="edit" let-index="index">
          {{ index + 1 }}
      </ng-template>
      <ng-template matStepperIcon="done">
          <mat-icon>done_all</mat-icon>
      </ng-template>
      <mat-step>
          <ng-template matStepLabel>Particulars <br> & Details</ng-template>
          <div class="app-header-wrapper">
              <app-particular-details (onNextStepper)="allowToProceed($event)"></app-particular-details>
          </div>
      </mat-step>
      <mat-step>
          <ng-template matStepLabel>Review</ng-template>
          <div class="app-header-wrapper">
              <app-review (onNextStepper)="allowToProceed($event)" (onPreviousStepper)="onBack()"></app-review>
          </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Acknowledge</ng-template>
        <div class="app-header-wrapper">
            <app-acknowledge></app-acknowledge>
        </div>
    </mat-step>
  </mat-stepper>
</div>

