<div class="footer-contents">
  <div class="lta-logo">
    <img
      alt="image"
      src="../../assets/images/lta-logo.svg"
      width="auto"
      height="auto"
    />
  </div>
  <div>Contact Us · Feedback</div>
  <br />
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px">
    <img
      alt="image"
      src="../../assets/images/1.svg"
      width="auto"
      height="auto"
    />
    <img
      alt="image"
      src="../../assets/images/2.svg"
      width="auto"
      height="auto"
    />
    <img
      alt="image"
      src="../../assets/images/3.svg"
      width="auto"
      height="auto"
    />
    <img
      alt="image"
      src="../../assets/images/4.svg"
      width="auto"
      height="auto"
    />
    <img
      alt="image"
      src="../../assets/images/5.svg"
      width="auto"
      height="auto"
    />
    <img
      alt="image"
      src="../../assets/images/6.svg"
      width="auto"
      height="auto"
    />
  </div>
  <br />
  <mat-divider></mat-divider><br />
  <div>Report Vulnerability</div>
  <br />
  <div>Privacy Statement</div>
  <br />
  <div>Terms of Use</div>
  <br />
  <div>Disclaimer</div>
  <br />
  <div>O 2021 Land Transport Authority of Singapore.</div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>Last updated: 30 May 2021</div>
    <img
      alt="image"
      src="../../assets/images/footer-icon.JPG"
      width="auto"
      height="auto"
    />
  </div>
</div>
