@import '../../../styles/main.scss';

.lta-logo {
  text-align: end;
}

.footer-contents {
  padding: 22px 27px 25px 31px;
  background: #f7f7f7;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.footer {
  @include font-function('Lato', normal, 13px, 15px, #303030);
  font-weight: 400;
  background: #f7f7f7;
}
