@import '../../styles/main.scss';

.lta-logo-wrapper {
  padding: 12px;
  text-align: center;
  box-shadow: 0 2px 6px $black-29;
}

.register-page-wrapper {
  position: relative;
  height: 100%;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.register-heading-wrapper {
  @include font-function('Lato-Bold', normal, 29px, 30px, $black-heading);
  padding: 24px 0 0 0;
  text-align: center;
  margin-bottom: 20px;
  .register-heading-text {
    display: inline;
    padding: 0 20px;
    padding-bottom: 17px;
    border-bottom: 1px solid $black-heading;
  }
}

.mat-step-header.mat-horizontal-stepper-header {
  padding: 24px 1px;
}

.register-new-vehicle-common-footer {
  @include font-function('Lato', normal, 13px, 15px, $black-6c);
  position: absolute;
  bottom: 16px;
  left: 0;
  padding: 0 27px;
}


