<app-lta-logo-header></app-lta-logo-header>

<div class="register-page-wrapper">
  <div class="register-heading-wrapper">
    <div class="register-heading-text">{{ registerHeading }}</div>
  </div>

  <mat-stepper
    [linear]="isLinear"
    labelPosition="bottom"
    #stepper
    class="register-stepper-wrapper"
  >
    <ng-template matStepperIcon="edit" let-index="index">
      {{ index + 1 }}
    </ng-template>
    <ng-template matStepperIcon="done">
      <mat-icon>done_all</mat-icon>
    </ng-template>
    <mat-step>
      <ng-template matStepLabel>Initiate</ng-template>
      <div>
        <app-initiate (allowNext)="allowToProceed($event)"></app-initiate>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Fill Details</ng-template>
      <div>
        <app-fill-blockchain
          (onNextStepper)="onNext($event)"
          (onPreviousStepper)="onBack()"
        ></app-fill-blockchain>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Review</ng-template>
      <div>
        <app-review-blockchain
          (onNextStepper)="onSubmit($event)"
          (onPreviousStepper)="onBack()"
        ></app-review-blockchain>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Submit</ng-template>
      <div>
        <app-submit-blockchain></app-submit-blockchain>
      </div>
    </mat-step>
  </mat-stepper>
</div>
