<div class="popup">
  <header fxLayout="column" fxLayoutGap="10px">
    <div class="close">
      <img
        class="close-icon"
        mat-dialog-close
        src="../../../../assets/images/close-logo.svg"
      />
    </div>
    <div
      class="table-header"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div class="text" fxLayout="column" fxLayoutGap="14px">
        <h1 class="header">{{ data.header }}</h1>
        <h2 class="subheader">{{ data.subheader }}</h2>
      </div>
      <app-formula-card-export
        [data]="data.spreadsheet"
      ></app-formula-card-export>
    </div>
  </header>
  <div class="table-wrapper">
    <table mat-table [dataSource]="data.table.rows" *ngIf="show">
      <ng-container
        *ngFor="let header of data.table.headers"
        [matColumnDef]="header.property"
      >
        <th
          role="cell"
          mat-header-cell
          *matHeaderCellDef
          [ngStyle]="{ width: header.width }"
        >
          {{ header.label }}
        </th>
        <td
          role="cell"
          mat-cell
          *matCellDef="let element; let i = index"
          [ngClass]="{ 'no-border-bottom': i + 1 === data.table.rows.length }"
        >
          <div fxLayout="row" fxLayoutAlign="space-between">
            <span>{{ getLabel(element, header) }}</span>
            <img
              src="../../assets/images/eye-icon.svg"
              alt="eye icon"
              width="22px"
              height="22px"
              *ngIf="getTooltip(element, header)"
              [matTooltip]="getTooltipText(element, header)"
              matTooltipClass="tooltip"
            />
          </div>
        </td>
      </ng-container>
      <tr role="row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        role="row"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
</div>
