@import '../../../../styles/main.scss';

.popup {
  padding: 10px 16px 0 24px;
}

.table-header,
table {
  padding-right: 64px;
}

.close-icon {
  float: right;
  cursor: pointer;
  height: 22px;
  width: 22px;
}

.header {
  @include font-function('Lato', normal, 24px, 29px, $purple-bf);
  font-weight: 900;
}

.subheader {
  @include font-function('Lato', normal, 14px, 17px, $purple-bf);
}

.table-wrapper {
  padding-top: 24px;
  padding-left: 32px;
  height: 526px;
  overflow-y: auto;
}

table {
  width: 100%;
}

th {
  @include font-function('Lato', normal, 16px, 19px, $black-55);
  font-weight: 700;
}

td {
  @include font-function('Lato', normal, 16px, 19px, $black-55);
}

th.mat-header-cell:not(:last-child),
td.mat-cell:not(:last-child) {
  border-right: 1px solid #eaedf4;
}

th.mat-header-cell,
.no-border-bottom {
  border-bottom-width: 0;
}

th.mat-header-cell:not(:first-child),
td.mat-cell:not(:first-child) {
  padding: 0 23px;
}

::ng-deep .tooltip {
  @include font-function('Lato', normal, 14px, 17px, $black-55);
  color: $black-55 !important;
  font-weight: 900;
  background: #6c7bc6;
  border-radius: 5px;
  width: 283px;
  margin-right: 200px !important;
}
