@import '../../../../../styles/colors.scss';
@import '../../../../../styles/mixins.scss';

.content {
  height: 100%;
}

.wrapper {
  padding: 10px;
  height: 250px;
  overflow-y: auto;
}

.text-group-rows {
  margin: 0 auto;
}

.mat-icon {
  color: $purple-bf;
  font-size: 58px;
}

.header {
  @include font-function('Lato', normal, 30px, 36px, $purple-bf);
  font-weight: 900;
}

.subheader {
  @include font-function('Lato', normal, 14px, 17px, $purple-bf);
  font-weight: 400;
}

.label {
  @include font-function('Lato', normal, 12px, 14px, $purple-bf);
  font-weight: 900;
}

.value {
  @include font-function('Lato', normal, 14px, 17px, $black-55);
  font-weight: 700;
}

.action-button {
  @include font-function('Lato', normal, 18px, 22px, $white);
  font-weight: 700;
  border-radius: 5px;
  height: 43px;
  width: 222px;
}

.blue-button {
  background: $purple-bf;
}

.mat-divider {
  width: 100%;
  border-radius: 10px;
  border-bottom: 1px solid #eaedf4;
}

.rejection-remarks {
  color: $warning-red;
}
