<div fxLayout="column" fxLayoutAlign="space-between" class="content">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div>
      <mat-icon>{{ data.icon }}</mat-icon>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px">
      <h1 class="header">{{ data.header }}</h1>
      <p class="subheader">{{ data.subheader }}</p>
    </div>
  </div>
  <div class="wrapper" fxLayout="column" fxLayoutGap="60px">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <ng-container>
        <div
          *ngFor="let row of data.displayedRows; let i = index"
          fxLayout="column"
          fxLayoutGap="12px"
          class="text-group-rows"
          [ngStyle]="getWidth()"
        >
          <div>
            <div
              fxLayout="row"
              fxLayoutAlign="space-between space-between"
              fxLayoutGap="50px"
            >
              <div
                *ngFor="let column of row"
                fxLayout="column"
                fxLayoutGap="9px"
              >
                <span class="label">{{ column.label }}</span>
                <div class="value" fxLayout="column" fxLayoutGap="9px">
                  <span *ngIf="isADate(column.value); else displayedAsString">
                    {{ column.value | date: 'dd MMM yyyy'  }}
                  </span>
                  <span
                    *ngIf="
                      isADate(column.subvalue);
                      else displayedSubvalueAsString
                    "
                  >
                    {{  column.value | date: 'dd MMM yyyy'  }}
                  </span>
                  <ng-template #displayedAsString>
                    <span>{{ column.value }}</span>
                  </ng-template>
                  <ng-template #displayedSubvalueAsString>
                    <span>{{ column.subvalue }}</span>
                  </ng-template>
                </div>
              </div>
            </div>
            <div *ngIf="isApproved(row)" fxLayout="row" fxLayoutAlign="start">
              <span class="value rejection-remarks"
                >Remarks: {{ getRemarks(row) }}</span
              >
            </div>
          </div>
          <mat-divider
            *ngIf="
              data.displayedRows.length && i !== data.displayedRows.length - 1
            "
          ></mat-divider>
        </div>
      </ng-container>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="18px">
    <button
      mat-flat-button
      *ngFor="let button of data.buttons"
      class="action-button"
      (click)="action(button.function)"
      [ngClass]="button.class"
    >
      {{ button.text }}
    </button>
  </div>
</div>
