<div class="main">
  <form>
    <div fxLayout="column">
      <div class="page-title">Vehicle Owner has acknowledged registration application</div>
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title class="header-name">
          PAYMENT SUMMARY
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description style="display: block">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <p class="receipt-labels">Total COE Rebate Amount</p>
              <p class="details">{{ rebateAmount?.COERebateAmount || undefined }}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <p class="receipt-labels">Total PARF Rebate Amount</p>
              <p class="details">{{ rebateAmount?.PARFRebateAmount }}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <p class="receipt-labels-bold">Total Rebate Amount</p>
              <p class="details-bold">{{ rebateAmount?.TotalRebateAmount }}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <p class="receipt-labels">Registration Fee</p>
              <p class="details">{{ regAmount?.registrationFee }}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <p class="receipt-labels">Additional Registration Fee</p>
              <p class="details">{{ regAmount?.additionalRegistrationFee }}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <p class="receipt-labels">Quota Premium</p>
              <p class="details">{{ regAmount?.quotaPremium }}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <p class="receipt-labels">CEVS/VES Surcharge</p>
              <p class="details">{{ regAmount?.CEVSVESSurcharge }}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <p class="receipt-labels-bold">Total Registration Amount</p>
              <p class="details-bold">{{ regAmount?.totalRegistrationAmount }}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <p class="receipt-labels">Road Tax Renewal Period</p>
              <p class="details">{{ roadTaxAmount?.RoadTaxRenewalPeriod }}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <p class="receipt-labels">Road Tax Amount</p>
              <p class="details">{{ roadTaxAmount?.RoadTaxAmount }}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <p class="receipt-labels">Total Road Tax Rebate</p>
              <p class="details">{{ roadTaxAmount?.TotalRoadTaxRebate }}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <p class="receipt-labels-bold">Total Road Tax Amount</p>
              <p class="details-bold">{{ roadTaxAmount?.TotalRoadTaxAmount }}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <p class="receipt-labels">COE Deposit</p>
              <p class="details">{{ paymentDetails?.COEDeposit }}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <p class="receipt-labels-bold">Grand Total</p>
              <p class="details-bold">{{ grandTotal }}</p>
            </div>
        </mat-panel-description>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="header-name">
            OWNER PARTICULARS
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description style="display: block">
            <div fxLayout="column" fxLayoutAlign="space-between start">
              <p class="owner-particulars-label">Owner ID:</p>
              <p class="owner-particulars-value">{{ownerDetails?.ownerId}}</p>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-between start">
              <p class="owner-particulars-label">Owner Name:</p>
              <p class="owner-particulars-value">{{ownerDetails?.ownerName}}</p>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-between start">
              <p class="owner-particulars-label">Sales Agreement ID:</p>
              <p class="owner-particulars-value">{{ownerDetails?.salesAgreementId}}</p>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-between start">
              <p class="owner-particulars-label">Owner ID Type:</p>
              <p class="owner-particulars-value">{{ownerDetails?.ownerIdTypeDesc}}</p>
            </div>
        </mat-panel-description>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="header-name">
            DECLARATION
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="header-name">
            INSTRUCTIONS AND NOTES
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <div class="page-footer">Acknowledgement Date/Time: {{ transactionDate }}</div>
      <div fxLayOutAlign="row" class="spacing-between">
        <div fxLayout="row" class="spacing-between" fxLayoutAlign="space-between center">
          <app-buttons [btnConfig]="backButtonConfig"></app-buttons>
          <button (click)="payNow()" fxLayout="row" fxLayoutAlign="space-between stretch" type="button"
            class="submit-btn">
            Pay Now
            <mat-icon>arrow_right_alt</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>