@import '../../styles/main.scss';

.page-title {
  @include font-function('Lato', normal, 22px, 26px, $black-heading);
  font-weight: 900;
  padding: 5% 10% 5% 10%;
  background-color: $grey-56;
}

.header-name {
  @include font-function('Lato', regular, 18px, 22px, $black-heading);
  font-weight: 900;
  text-align: left;
  vertical-align: middle;
}
.receipt-labels {
  @include font-function('Lato', normal, 18px, 19px, $grey-a6);
}
.details {
  @include font-function('Lato', normal, 16px, 19px, $black-55);
  white-space: pre-wrap;
}
.details-bold {
  @include font-function('Lato-Bold', normal, 16px, 19px, $black-55);
  white-space: pre-wrap;
}
.receipt-labels-bold {
  @include font-function('Lato-Bold', normal, 16px, 19px, $black-heading);
  white-space: pre-wrap;
}

.mat-divider {
  background: #9d9fa6;
  border-radius: 10px;
}

.submit-btn {
  @include font-function('Lato', normal, 16px, 19px, $white);
  background-color: $purple-c5;
  color: #fff;
  padding: 15px 33px;
  width: 70%;
  outline: 0;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}
.submit-btn:disabled {
  background-color: $grey-ab;
}

.spacing-between {
  margin-top: 20px;
  margin-left: 2%;
  margin-right: 2%;
}
.page-footer {
  @include font-function('Lato', normal, 12px, 14px, $black-heading);
  font-weight: 400;
  text-align: right;
  vertical-align: Top;
  padding: 2%;
}
.owner-particulars-label {
  @include font-function('Lato', 'normal', 12px, 14.4px, #a6a8ab);
  font-weight: 400;
}
.owner-particulars-value {
  @include font-function('Lato', 'normal', 16px, 19.2px, #3e3b55);
  font-weight: 700;
}
