@import '../../../../styles/mixins.scss';
@import '../../../../styles/colors.scss';

.preview-button {
  @include font-function('Lato', normal, 18px, 22px, $black-heading);
  font-weight: 700;
  height: 43px;
  width: 172px;
  border-radius: 5px;
  background: #f8cc55;
}
