<div fxFlex="1 1 auto" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
    <mat-card >
       <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
           <div fxLayout="row" fxLayoutAlign="space-between center">
               <div>Due Today</div>
               <div class="dot" class="dot dot-red"></div>
           </div>
           <mat-icon>warning</mat-icon>
       </mat-card-title>
       <mat-card-content>
           <div class="cardcontentnumber">{{card?.dueDateToday}}</div>
           <div>{{card?.dueDateToday}} Approval | Follow-up</div>
           <ng-content></ng-content>
       </mat-card-content>
   </mat-card>
   <mat-card >
       <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
           <div fxLayout="row" fxLayoutAlign="space-between center">
               <div>Due Tomorrow</div>
               <div class="dot" class="dot dot-orange"></div>
           </div>
           <mat-icon>alarm</mat-icon>
       </mat-card-title>
       <mat-card-content>
           <div class="cardcontentnumber">{{card?.dueDateTomorrow}}</div>
           <div>{{card?.dueDateToday}} Approval | Follow-up</div>
           <ng-content></ng-content>
       </mat-card-content>
   </mat-card>
   <mat-card >
       <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
           <div fxLayout="row" fxLayoutAlign="space-between center">
               <div>Due This Week</div>
               <div class="dot" class="dot dot-green"></div>
           </div>
           <mat-icon>history</mat-icon>
       </mat-card-title>
       <mat-card-content>
           <div class="cardcontentnumber">{{card?.dueDateWeek}}</div>
           <div>{{card?.dueDateToday}} Approval |  Follow-up</div>
           <ng-content></ng-content>
       </mat-card-content>
   </mat-card>
   <mat-card >
       <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
           <div fxLayout="row" fxLayoutAlign="space-between center">
               <div>Due 1-Week later</div>
               <div class="dot" class="dot dot-blue"></div>
           </div>
           <mat-icon>calendar_today</mat-icon>
       </mat-card-title>
       <mat-card-content>
           <div class="cardcontentnumber">{{card?.dueDateMonth}}</div>
           <div>{{card?.dueDateToday}} Approval | Follow-up</div>
           <ng-content></ng-content>
       </mat-card-content>
   </mat-card>
   </div>
