$globalappcolor: #626ede;

.cardcontentnumber {
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
    color: #626ede;
}

.mat-card {
    padding: 0;
    border-radius: 15px;
}


.mat-card-title {
    background-color: #626ede;
    padding: 20px;
    color: #fff;
    border-radius: 15px 15px 0 0;
    font-size: 14px;
    font-weight: normal;
}

.mat-card-content {
    padding: 20px 50px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-left: 12px;
}

.dot-red {
    background-color: red;
}

.dot-orange {
    background-color: #F5B740;
}

.dot-green {
    background: #76D53B;
}

.dot-blue {
    background: #37BBE5;
}
