@import '../../styles/main.scss';

.detailsInput {
  @include font-function("Lato-Bold", normal, 16px, 19px, $black-55);
  white-space: pre-wrap;
}

.mat-divider {
  background: $grey-a6;
  border-radius: 10px;
}

.reject-btn {
  @include font-function('Lato', normal, 18px, 22px, $purple-bf);
  background-color: $white;
  padding: 15px 33px;
  width: 70%;
  outline: 0;
  border-radius: 7px;
  margin-right: 10px;
  border: 1px solid $purple-bf;
}
.reject-btn:disabled {
  background-color: $grey-ab;
}

.approve-btn {
  @include font-function('Lato', normal, 18px, 22px, $white);
  background-color: $purple-c5;
  padding: 15px 33px;
  width: 70%;
  outline: 0;
  border: none;
  border-radius: 7px;
}
.approve-btn:disabled {
  background-color: $grey-ab;
}

:host::ng-deep .roundCheckBox {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 70% !important;
  }
}
.review-declaration {
  @include font-function('Lato', normal, 12px, 14.4px, $black-heading);
  font-weight: 900;
  white-space: pre-line;
}

.review-footer {
  @include font-function('Lato', normal, 13px, 16px, $black-heading);
  font-weight: 400;
  padding-bottom: 30px;
}
.spacing-between {
  margin: 30px;
}

.singpassTxtFasterForm {
  @include font-function('Lato', normal, 28px, 34px, $black-heading);
  font-weight: normal;
  margin-top: 20px;
}

.singpassTxtSingpassEnable {
  @include font-function('Lato', normal, 16px, 19px, $black-heading);
  margin-top: 20px;
}

.singpassTxtBtn {
  border: none;
  padding: 0;
  margin-top: 20px;
}

.back-arrow {
  border: none;
  background: none;
  .mat-icon {
    color: $purple-bf;
  }
}
.back-word {
  @include font-function("Lato-Bold", normal, 16px, 19px, $black-heading);
}

.review-app-header-wrapper {
  @include font-function("Lato-Bold", normal, 32px, 38px, $black-heading);
  padding: 24px 0 0 0;
  text-align: center;
  margin-bottom: 20px;
  .review-app-header-text {
    display: inline;
    padding: 0 20px;
    padding-bottom: 17px;
    border-bottom: 1px solid $black-heading;
  }
}

.form-input-common-style[disabled] {
   background-color: $disabled-grey;
   color: $black;
}


