<div class="owner-review-headers" fxLayout="row" fxLayoutAlign="space-between center">
  <button class="back-arrow" (click)="goBackDashboard()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <img src="../../assets/images/oneMotoring.svg" alt="oneMotoring" />
  <div></div>
</div>

<div class="main">
  <div class="review-app-header-wrapper">
    <div class="review-app-header-text">Review Application</div>
  </div>
  <form>
    <div fxLayout="column">
      <!-- Information -->
      <mat-expansion-panel *ngFor="let labelName of labelExpansionDetails">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{labelName.headerName}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description style="display:block;">
          <div *ngIf="labelName.headerName==='OWNER PARTICULARS'">
            <mat-card fxLayout="column" fxLayoutAlign="space-between center">
              <div class="singpassTxtFasterForm">{{singPassTxtFasterForm}}</div>
              <div class="singpassTxtSingpassEnable">{{singPassTxtSingpassEnable}}</div>
              <button class="singpassTxtBtn" (click)="retrieveMyInfo()"><img
                  src="../../assets/images/singPassFont.svg" /></button>
            </mat-card>
          </div>
          <div *ngFor="let info of labelName.labelInfo; let i=index">
            <div *ngIf="labelName.headerName==='OWNER PARTICULARS'; then inputText; else textOut"></div>
            <ng-template #inputText>
              <!-- Only Address does not include the label Text -->
              <div class="register-form-labels" *ngIf="info !== 'Address Line' && info !== 'Address Postal' ">
                <p>{{info}}</p>
              </div>
              <div class="detailsInput" style="margin-top: -8px;">
                <input *ngIf="info !== 'Date of Birth (For individual)'" [disabled]=" disableSingpassInput" class="form-input-common-style"
                  type="text" [(ngModel)]="labelName.labelDetails[i]" [ngModelOptions]="{standalone: true}" />

                <input *ngIf="info == 'Date of Birth (For individual)'" [disabled]=" disableSingpassInput" class="form-input-common-style"
                  type="text" [(ngModel)]="labelName.labelDetails[i]" [ngModelOptions]="{standalone: true}" placeholder="e.g 01 Jun 1999"/>
              </div>
            </ng-template>
            <ng-template #textOut>
              <div class="register-form-labels">
                <p>{{info}}</p>
              </div>
              <div class="detailsInput">
                <p>{{labelName.labelDetails[i]}}</p>
              </div>
            </ng-template>
          </div>
          <div *ngIf="labelName.headerName==='DECLARATIONS'">
            <div fxLayOutAlign="row">
              <div>
                <pre class="review-declaration">{{reviewDeclarationInfo}}</pre>
              </div>
              <div fxLayoutAlign="column" style="margin-top: 36px;">
                <mat-checkbox color="primary" class="spacing-between" class="roundCheckBox" [(ngModel)]="submitCheckBox"
                  [ngModelOptions]="{standalone: true}">
                  <div class="detailsInput">{{reviewReadAgreeInfo}}</div>
                </mat-checkbox>
              </div>
            </div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel>
    </div>
  </form>

  <div fxLayout="row" class="spacing-between">
    <button fxLayout="row" fxLayoutAlign="space-between stretch" type="button" class="reject-btn" (click)="rejectBtn()">
      <img src="../../assets/images/x_reject_button.svg" alt="reject" />Reject
    </button>
    <button fxLayout="row" fxLayoutAlign="space-between stretch" type="button" [disabled]="!submitCheckBox"
      class="approve-btn" (click)="approveBtn()">
      <img src="../../assets/images/tick_approve.svg" alt="approve" />Approve
    </button>
  </div>
  <div class="spacing-between">
    <div class="review-footer">{{reviewFootNote}}</div>
  </div>
</div>
<app-modal></app-modal>
