<img
  class="close-icon"
  mat-dialog-close
  src="../../../assets/images/close-logo.svg"
/>
<div
  class="export-dialog"
  fxLayout="column"
  fxLayoutAlign="center center"
  [ngStyle]="{ gap: data.showDownloadButton ? '32px' : '16px' }"
>
  <img
    *ngIf="data.showIcon"
    class="loading-icon"
    mat-button
    src="../../../assets/images/loader-icon.svg"
  />
  <div
    class="message"
    [ngClass]="{ 'export-dialog-download': data.showDownloadButton }"
  >
    <p>
      {{ data.message }}
    </p>
  </div>
  <button
    class="download-button"
    *ngIf="data.showDownloadButton"
    mat-flat-button
    (click)="download()"
  >
    Download
  </button>
</div>
