@import '../../../styles/main.scss';

.close-icon {
  float: right;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.export-dialog {
  height: 100%;
}

.loading-icon {
  height: 36px;
  width: 36px;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.message {
  @include font-function('Lato', 'normal', 22px, 26px, $black-55);
  font-weight: 400;
}

.export-dialog-download {
  text-align: center;
  font-weight: 700;
  height: 60px;
  width: 427px;
}

.download-button {
  height: 43px;
  width: 172px;
  border-radius: 5px;
  background: $blue-bf;
  @include font-function('Lato', 'normal', 18px, 22px, $white);
  font-weight: 700;
}
