<img class="closeIcon" (click)="onCloseExit()"
  src="../../../assets/images/close-logo.svg"
  alt="close"
/>

<div class="titleLabel" mat-dialog-title>Reject Application</div>
<div class="transactionLabel" mat-dialog-title>{{data.details}}</div>

<div class="remarksLabel" mat-dialog-title>Remarks</div>

<mat-form-field class="textInput" appearance="outline">
  <mat-label class="placeholderLabel">Remarks goes here..</mat-label>
  <textarea
    class="remarksInput"
    matInput
    rows="10"
    [ngModel]="remarksControl.value"
  ></textarea>
</mat-form-field>

<div class="messageLabel" mat-dialog-title>
  Select a message or type your own above
</div>

<mat-button-toggle-group
  [formControl]="remarksControl"
  appearance="legacy"
  class="toggleGroup"
>
  <mat-button-toggle value="Document does not match Applicant’s details"
    >Document does not match Applicant’s details</mat-button-toggle
  >
  <mat-button-toggle value="Applicant’s details are not accurate"
    >Applicant’s details are not accurate</mat-button-toggle
  >
  <mat-button-toggle value="Please upload relevant document"
    >Please upload relevant document</mat-button-toggle
  >
</mat-button-toggle-group>

<div mat-dialog-actions align="center">
  <app-button-dialog mat-raised-button (click)="onClose()" [btnConfig]="proceedButtonConfig"></app-button-dialog>
</div>

