@import "../../../styles/main.scss";

.closeIcon {
  float: right;
}

.titleLabel {
  @include font-function("Lato", normal, 26px, 30px, $blue-bf);
  font-weight: 900;
  text-align: center;
  vertical-align: top;
  margin-top: 15px;
  margin-bottom: 5px;
}

.transactionLabel {
  @include font-function("Lato", normal, 14px, 16px, $blue-bf);
  font-weight: 400;
  text-align: center;
  vertical-align: top;
  margin-bottom: 15px;
}

.remarksLabel {
  @include font-function("Lato", regular, 12px, 14px, $grey-ab);
  font-weight: 400;
  text-align: left;
  vertical-align: top;
  margin-bottom: 5px;
}

.textInput {
  width: 100%;
  border: 1px;
  border-color: $black-55;
  border-radius: 5px;
  margin-bottom: 5px;
}

.placeholderLabel {
  @include font-function("Lato", normal, 14px, 16px, $grey-ab);
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}
.remarksInput {
  font-size: 12px;
}

.messageLabel {
  @include font-function("Lato", regular, 12px, 14px, $grey-ab);
  font-weight: 400;
  text-align: left;
  vertical-align: top;
  margin-bottom: 5px;
}

.toggleGroup {
  flex-direction: row;
  border: 1px;
  display: flex;
  margin-bottom: 20px;
  box-shadow: none;
  place-content: space-between;
}

.mat-button-toggle {
  @include font-function("Lato", normal, 12px, 14px, $black-55);
  font-weight: 700;
  text-align: left;
  border: 1px solid $black-55;
  border-radius: 4px;
  margin-bottom: 5px;
  width:32%;
}

.mat-dialog-actions {
  &[align="center"] {
    justify-content: center;
  }
}
