<div class="home-wrapper">
  <div class="container">

    <mat-expansion-panel>
      <mat-expansion-panel-header class="header-styles">
        <mat-panel-title class="panel-styles">
          Popular Digital Services
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="align-col" fxLayout="column" fxLayoutAlign="start center">
          <button mat-fab aria-label="Owner Dashboard" (click)="singpass('ownerDashboard')"></button><br />
          <div>Owner Dashboard</div>
        </div>
        <div class="align-col" fxLayout="column" fxLayoutAlign="start center">
          <button mat-fab aria-label="Renew Road Tax" (click)="renewRoadTax()"></button><br />
          <div>Renew Road Tax</div>
          <app-button [btnConfig]="nologinButtonConfig"></app-button>
        </div>
        <div class="align-col" fxLayout="column" fxLayoutAlign="start center">
          <button mat-fab aria-label="Register E-Scooter" (click)="singpass('regEScooter')"></button><br />
          <div>Register E-Scooter</div>
        </div>
        <div class="align-col" fxLayout="column" fxLayoutAlign="start center">
          <button mat-fab aria-label="Transfer Vehicle"></button><br />
          <div>Transfer Vehicle</div>
        </div>
        <div class="align-col" fxLayout="column" fxLayoutAlign="start center">
          <button mat-fab aria-label="Transfer PARF/COE Rebate"></button><br />
          <div>Transfer PARF/COE Rebate</div>
        </div>
        <div class="align-col" fxLayout="column" fxLayoutAlign="start center">
          <button mat-fab aria-label="Enquire PARF/COE
        Rebate"></button><br />
          <div>Enquire PARF/COE Rebate</div>
          <app-button [btnConfig]="nologinButtonConfig"></app-button>
        </div>
        <div class="align-col" fxLayout="column" fxLayoutAlign="start center">
          <button mat-fab aria-label="Buy e-Day Licence"></button><br />
          <div>Buy e-Day Licence</div>
          <app-button [btnConfig]="nologinButtonConfig"></app-button>
        </div>
        <div class="align-col" fxLayout="column" fxLayoutAlign="start center">
          <button mat-fab aria-label="Declare Off-peak Car Usage"></button><br />
          <div>Declare Off-peak Car Usage</div>
        </div>
        <div class="align-col" fxLayout="column" fxLayoutAlign="start center">
          <button mat-fab aria-label="Enquire Fines & Notices"></button><br />
          <div>Enquire Fines & Notices</div>
          <app-button [btnConfig]="nologinButtonConfig"></app-button>
        </div>
      </div>
      <div class="view-button">
        <app-button [btnConfig]="viewButtonConfig"></app-button>
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header class="header-styles">
        <mat-panel-title class="panel-styles"> COE </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header class="header-styles">
        <mat-panel-title class="panel-styles"> Traffic Updates </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header class="header-styles">
        <mat-panel-title class="panel-styles"> Traffic Cameras </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </div>
  <div class="footer-wrapper">
    <div class="lta-moving">
      <img src="../../assets/images/lta-moving.svg" alt="image" width="auto" height="auto" />
    </div>

    <div class="footer">
      <div class="footer-contents">
        <div>Contact Us · Feedback</div>
        <br />
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px">
          <img src="../../assets/images/1.svg" alt="image" width="auto" height="auto" />
          <img src="../../assets/images/2.svg" alt="image" width="auto" height="auto" />
          <img src="../../assets/images/3.svg" alt="image" width="auto" height="auto" />
          <img src="../../assets/images/4.svg" alt="image" width="auto" height="auto" />
          <img src="../../assets/images/5.svg" alt="image" width="auto" height="auto" />
          <img src="../../assets/images/6.svg" alt="image" width="auto" height="auto" />
        </div>
        <br />
        <mat-divider></mat-divider><br />
        <div>Report Vulnerability</div>
        <br />
        <div>Privacy Statement</div>
        <br />
        <div>Terms of Use</div>
        <br />
        <div>Disclaimer</div>
        <br />
        <div>O 2021 Land Transport Authority of Singapore.</div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div>Last updated: 30 May 2021</div>
          <img src="../../assets/images/footer-icon.JPG" alt="image" width="auto" height="auto" />
        </div>
      </div>
    </div>
  </div>
</div>
