@import '../../styles/main.scss';

.home-wrapper {
  position: relative;
}

.header-styles {
  background: $blue-toolbar;
}

.header-styles:hover {
  background: $blue-toolbar !important;
}

.panel-styles {
  @include font-function('Lato', normal, 22px, 26px, $white);
  font-weight: 900px;
}

.mat-fab.mat-accent {
  background-color: transparent;
}

::ng-deep .mat-expansion-indicator::after {
  color: white;
}

.lta-moving {
  padding-top: 20px;
  background-color: #f7f7f7;
  text-align: right;
  padding-bottom: 20px;
  padding-right: 20px;
}

.footer {
  @include font-function('Lato', normal, 13px, 15px, $black-30);
  font-weight: 400;
  background: $grey-f7;
}

.footer-wrapper {
  position: absolute;
  width: 100%;
}

.row {
  @include font-function("Lato-Bold", normal, 12px, 14px, $purple-bf);
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  display:flex;
  flex-flow: wrap;
}

.align-col {
  flex: 1 1 33%;
  margin-bottom: 30px;

}

.mat-expansion-panel {
  background-color: $grey-f5;
}

.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
  background: $purple-bf;
}

.view-button {
  float: right;
  margin-bottom: 20px;
}
.footer-contents {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}
.container {
  margin: 0 0 50px 0;
}
