$globalappcolor: #626ede; 
$white: #fff;
$blue-bf:#6471BF;
$black-heading: #4E4F6C;
$warning-red:#F60D0D;
$grey-f8:#F8F8F8;
$black-bd: #bdbdbd;
$black-55: #3E3B55;
$grey-ab: #A6A8AB;
$red-22: #E23022;
$purple-c5: #636FC5;
$purple-bf: #6471BF;
$grey-a6: #9D9FA6;
$black-55: #3E3B55;
$black-5a: #5A5A5A;
$white-f0: #f0f0f0;
$white-fd: #ebeefd;
$black-6c: #4e4f6c;
$white-dd: #dddddd;
$orange-40: #F5B740;
$green-3B: #75D43B;
$blue-E5: #37BBE5;
$green-F0: #EAF4F0;
$grey-f4: #EAEDF4;
$grey-5f:#5f5f5f;
$yellow-55:#f8cc55;
$grey-c9:#C0C2C9;
$grey:#1b2336;







