@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/Lato-Regular.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Lato-Bold';
    src: url('../assets/fonts/Lato/Lato-Bold.woff') format('woff');
  }
  