/* You can add global styles to this file, and also import other style files */
@import "colors.scss";
@import "functions.scss";
@import "mixins.scss";
@import "fonts.scss";
@import "material-override.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  border: 0;
  background-color: transparent;
  outline: none;
}

app-dashboard-vlcmanager {
  display: flex;
  flex-direction: column;
}

app-dashboard-vqrofficer {
  display: flex;
  flex-direction: column;
}

app-dashboard-vlcofficer {
  display: flex;
  flex-direction: column;
}

app-dashboard-vqrmanager {
  display: flex;
  flex-direction: column;
}

.common-margin {
  margin-bottom: 100px;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
}

.register-form-labels {
  align-self: baseline;
  @include font-function('Lato', normal, 12px, 14px, $grey-ab);
  sup {
    color: $red-22;
    font-size: 16px;
    vertical-align: top;
    position: relative;
    top: 4px;
    
  }
}

.form-input-common-style {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  padding: 0 16px;
  margin-bottom: 10px;
  border-width: 1px;
  border-color: $black-55;
  border-style: solid;
  border-radius: 4px;
  outline: none;
  margin-top: 5px;
  @include font-function('Lato', normal, 16px, 20px, $black-55);
  ::-webkit-input-placeholder {
      font-size: 16px;
  }
}

.register-form-labels {
  align-self: baseline;
  @include font-function('Lato', normal, 12px, 14px, $grey-ab);
  sup {
    color: $red-22;
    font-size: 16px;
    vertical-align: top;
    position: relative;
    top: 4px;
    
  }
}

.popup-dialog .mat-dialog-container {
  overflow-y: hidden;
}


