//expansion panel 
.mat-expansion-panel-header {
    padding: 0 16px;
    border-bottom: 1px solid $grey-a6;
    border-radius: 0;
  }
  
  .mat-expansion-panel-body {
    padding: 16px 16px 0 16px !important;
  }
  
  .mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
  }
  
  .mat-expansion-panel-content {
    margin-top: 10px;
    @include font-function('Lato', normal, 16px, 19px, $black-55);
  }