<form [formGroup]="roadTaxFormGroup">
    <label class="register-form-labels">TCOE No.</label>
    <p> {{tceoDetails ? tceoDetails.tcoe : "-" }} </p>

    <label class="register-form-labels"><sup>*</sup>PARF/COE Rebate No.</label>
    <mat-form-field class="fill-dropdown default">
        <mat-select
                formControlName="coeRebateNumber"
        >
            <mat-option value="N/A">N/A - Not Applicable</mat-option>
        </mat-select>
    </mat-form-field>

    <label class="register-form-labels"><sup>*</sup>Insurance Company</label>
    <mat-form-field class="fill-dropdown">
        <mat-select formControlName="insuranceCompany">
            <mat-option
                    *ngFor="let company of companyList"
                    [value]="company.companyName"
            >{{ company.companyName }}</mat-option
            >
        </mat-select>
    </mat-form-field>

    <label class="register-form-labels" for="insuranceCoverNoteNumber"
    ><sup>*</sup>Insurance Cover Note No.</label
    >
    <input
            class="form-input-common-style"
            formControlName="insuranceCoverNoteNumber"
            type="text"
            id="insuranceCoverNoteNumber"
    />

    <label class="register-form-labels">Vehicle No. Available</label>
    <p>{{ roadTaxDetails ? roadTaxDetails.vehicleNumberAvailable : '-' }}</p>

    <label class="register-form-labels" for="openMarketValue"
    ><sup>*</sup>Open Market Value No.</label
    >
    <input
            class="form-input-common-style"
            formControlName="openMarketValue"
            type="text"
            id="openMarketValue"
    />

    <div class="errormessage" [hidden]="isOMVErrorHidden">
        OMV must not be less than $100.
    </div>

    <div fxLayOutAlign="row" class="spacing-between">
        <label class="register-form-labels"><sup>*</sup>Road Tax Months</label>
        <div fxLayoutAlign="column" class="spacing-between">
            <mat-button-toggle-group
                    formControlName="roadTaxMonths"
                    class="app-toggle-button"
            >
                <mat-button-toggle
                        *ngFor="let roadTaxMonth of roadTaxMonthList"
                        [value]="roadTaxMonth"
                >{{ roadTaxMonth }}</mat-button-toggle
                >
            </mat-button-toggle-group>
        </div>
    </div>

    <label class="register-form-labels"
    >Refund excess COE deposit, if any to:</label
    >
    <mat-radio-group class="app-radio-group" formControlName="refundCoeTo">
        <mat-radio-button
                [value]="refundCoeTo"
                *ngFor="let refundCoeTo of refundCoeToList"
                class="app-radio-button"
        >{{ refundCoeTo }}</mat-radio-button
        >
    </mat-radio-group>

    <div fxLayOutAlign="row" class="spacing-between">
        <div fxLayOutAlign="column" class="spacing-between">
            <label class="register-form-labels"
            >(If both boxes are not ticketed. It is deemed that the refund is to be
                made to the Register Owner.)</label
            >
        </div>
        <div fxLayOutAlign="column" class="spacing-between">
            <label class="register-form-labels" for="refundAmount"
            >I understand that after offsetting the relevant fees and taxes payable
                to register my vehicle, there is a credit balance of</label
            >
            <input
                    class="form-input-common-style"
                    formControlName="refundAmount"
                    type="number"
                    id="refundAmount"
            />
        </div>
        <div fxLayOutAlign="column" class="spacing-between">
            <label class="register-form-labels"
            >Arising from the excess COE deposit, I hereby authorize LTA to refund
                this amount as indicated on the form by me.</label
            >
        </div>
    </div>
</form>
