<img
  class="closeIcon"
  mat-button
  (click)="onClose()"
  src="../../../assets/images/close-logo.svg"
/>


<div align="center" mat-dialog-title class="titleLabel">Are you sure you want to approve?</div>
<div align="center" mat-dialog-content class="transactionLabel"> Transaction No. {{ label }}</div>

<div mat-dialog-actions align="center">
  <div>
    <app-button-dialog  [btnConfig]="cancelButtonConfig"></app-button-dialog>
  </div>
 
  <div class="approve" (click)="approve()">
    <app-button-dialog [btnConfig]="approveButtonConfig" ></app-button-dialog>
  </div>
 
 
</div>
