@import "../../../styles/main.scss";

.lta-logo-wrapper {
  padding: 12px;
  text-align: center;
  box-shadow: 0px 2px 6px $black-29;
}

.app-header-wrapper {
  margin-bottom: 50px;
}

.register-page-wrapper {
  position: relative;
  height: 100%;
  padding: 0 20px 20px 20px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 410px) {
  .register-heading-text {
  font-size: 25px;
  }
}

@media only screen and (max-width: 336px) {
  .register-heading-text {
  font-size: 20px;
  }
}
.register-heading-wrapper {
  @include font-function('Lato', normal, 32px, 38px, $black-heading);
  font-weight: 900;
  padding: 24px 0 0 0;
  text-align: center;
  margin-bottom: 20px;
  .register-heading-text {
    display: inline;
    padding: 0 20px;
    padding-bottom: 17px;
    border-bottom: 1px solid $black-heading;
  }
}

.back-arrow {
  border: none;
  background: none;
  position: absolute;
  top: -50px;
  .mat-icon {
    color: $purple-bf;
  }
}
.vehicle-details-header {
  @include font-function("Lato", normal, 32px, 38px, $black-heading);
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 30px;
}

.label-thank-you {
  @include font-function("Lato", normal, 18px, 22px, $black-heading);
  font-weight: bold;
}

.label-input-bold {
  @include font-function("Lato", normal, 12px, 14px, $black-heading);
  font-weight: bold;
  margin-left: 25px;
}

.label-input {
  @include font-function("Lato", normal, 12px, 14px, $black-heading);
  font-weight: normal;
  margin-left: 25px;

}

.details-input {
  @include font-function("Lato", bold, 12px, 14px, $black-heading);
  font-weight: normal;
  white-space: pre-wrap;
}

.label-input-weight {
  @include font-function("Lato", normal, 12px, 14px, $black-heading);
  font-weight: 700;
  text-align: center;
}

.line-divider {
  padding: 0 20px;
  padding-bottom: 17px;
  border-bottom: 1px solid $black-heading;
}

.top-spacing {
  margin-top: 30px;
}

.save-btn {
  @include font-function("Lato", normal, 18px, 22px, $white);
  background-color: $purple-c5;
  padding: 10px 7px;
  width: 35%;
  outline: 0;
  border: none;
  border-radius: 7px;
}

.register-new-vehicle-common-footer {
  @include font-function('Lato', normal, 13px, 15px, $black-heading);
  position: absolute;
  bottom: 16px;
  left: 0;
  padding: 0 27px;
}

table .table-format {
  @include font-function('Lato', normal, 12px, 14px, $black-heading);
  font-weight: normal;

}

.mat-column-description {
  // flex-wrap: wrap;
  width: 80%;
  height: 100px;
  padding-left: 30px;
  padding-right: 40px;
}
