<div class="lta-logo-wrapper">
  <img src="../../../assets/images/oneMotoring.svg"/>
</div>

<div class="register-page-wrapper">
  <div class="register-heading-wrapper">
    <div class="register-heading-text">{{ registerHeading }}</div>
  </div>

  <button class="back-arrow" (click)="clickBackPrevious()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div fxLayout="column" fxLayoutGap="10px" style="margin-top:50px">
    <div class="label-thank-you">Thank You!</div>
    <div class="label-input">You have completed this transaction. A copy of the receipt
      has been sent to {{paymentDetails?.emailAddress}} as requested.
    </div>
    <div class="label-input" fxLayoutAlign="center">Tax Invoice/Receipt</div>
  </div>

  <table mat-table [dataSource]="paymentDescriptions" class="table-format">
    <ng-container matColumnDef="#">
      <th mat-header-cell *matHeaderCellDef> #</th>
      <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description</th>
      <td mat-cell *matCellDef="let element"> {{element?.description}} </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount (S$)</th>
      <td mat-cell *matCellDef="let element"> {{element?.amount}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="text-align-last: center;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div fxLayout='column' fxLayoutGap="10px">
    <div class="top-spacing">
      <div class="label-input-bold" fxFlex="80">Sub-Total</div>
      <div class="details-input" fxFlex="21">{{paymentDetails?.subTotal}}</div>
    </div>
    <div>
      <div class="label-input-bold" fxFlex="80">Total Amount Payable</div>
      <div class="details-input" fxFlex="21">{{paymentDetails?.totalAmountPayable}}</div>
    </div>
  </div>
  <div class="line-divider"></div>
  <div style="margin-top: 30px;" fxLayoutAlign="center center">
    <label class="label-input">
      THANK YOU AND HAVE A NICE DAY!
    </label>
  </div>
  <div style="margin-top: 30px;" fxLayoutAlign="center center">
    <label class="label-input-weight">
      Please ensure that all payments to the Authority are
      good and promptly settled by the payment service
      provider / financial institution. Otherwise, the transaction
      and receipt is considered void and late fee may apply.
    </label>
  </div>
  <div style="margin-top: 30px;" fxLayoutAlign="end">
    <label class="label-input">
      Receipt Date/Time: {{dateTime}}
    </label>
  </div>
  <div fxLayout="column" class="top-spacing" fxLayoutAlign="end end" fxLayoutGap="20px">
    <button fxLayout="row" fxLayoutAlign="center" type="button" class="save-btn">
      Save as PDF
    </button>
    <button fxLayout="row" fxLayoutAlign="center" type="button" class="save-btn">
      Print Receipt
    </button>
  </div>
  <app-footer></app-footer>
</div>
