@import '../../../../styles/main.scss';

.label {
  @include font-function('Lato', normal, 12px, 14px, $grey-ab);
}

.value {
  @include font-function('Lato', normal, 14px, 17px, $black-55);
  font-weight: 700;
}
