<div fxLayout="column" fxLayoutGap="3px">
  <span class="label">{{ label }}</span>
  <div class="value" *ngIf="!value">&nbsp;</div>
  <span class="value" *ngIf="!pipe">{{ value }}</span>
  <span class="value" *ngIf="pipe === 'uppercase'">{{
    value | uppercase
  }}</span>
  <span class="value" *ngIf="pipe === 'date'">{{
    value | date: "dd MMMM yyyy"
  }}</span>
</div>
