<div class="wrapper" *ngIf="lateFees.length">
  <div class="headers" fxLayout="column" fxLayoutGap="26px">
    <app-title-header [text]="titleHeader"></app-title-header>
    <app-subtitle-textgroup
      [subtitleTextgroup]="subtitleTextGroup"
    ></app-subtitle-textgroup>
  </div>
  <app-formula-card-contextual
    [settings]="settings"
    [headers]="spreadsheetHeaders"
    [fees]="lateFees"
    [exportData]="exportData"
    (selectionChange)="onSelectionChange($event)"
    (toggleCollapse)="onToggleCollapse($event)"
    (remarksFieldChange)="onRemarksFieldChange($event)"
    (approveCheckboxChange)="onApproveCheckboxChange($event)"
    (proceedButtonClick)="onApproveButtonClick($event)"
  ></app-formula-card-contextual>
  <div>&nbsp;</div>
</div>
