@import "../../../../styles/main.scss";

.view {
  @include font-function("Lato", normal, 12px, 14px, $purple-bf);
  margin: 15px 0 5px 0;
  font-weight: 700;
}

.mat-icon {
  font-size: 15px;
}

.yellow {
  color: $yellow-45;
  margin: 5px 0 !important;
}

.small-margin {
  margin: 0 !important;
}
