<div
  class="wrapper"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="36px"
>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
    <mat-icon
      [ngClass]="{
        success: data.icon === 'check_circle',
        error: data.icon === 'cancel'
      }"
      >{{ data.icon }}</mat-icon
    >
    <h1 class="message">{{ data.message | uppercase }}</h1>
  </div>
  <div>
    <button mat-flat-button class="close-button" mat-dialog-close>
      {{ data.buttonText }}
    </button>
  </div>
</div>
