@import '../../../../../styles/colors.scss';
@import '../../../../../styles/mixins.scss';

.wrapper {
  height: 100%;
}

.success {
  color: #86b89d;
}

.error {
  color: $red-22;
}

.mat-icon {
  font-size: 58px;
}

.message {
  @include font-function('Lato', normal, 30px, 36px, $purple-bf);
  font-weight: 900;
  width: 585px;
  text-align: center;
  overflow-wrap: break-word;
}

.close-button {
  @include font-function('Lato', normal, 18px, 22px, $white);
  font-weight: 700;
  border-radius: 5px;
  height: 43px;
  width: 222px;
  background: $purple-bf;
}
