@import '../../../../styles/mixins.scss';
@import '../../../../styles/colors.scss';

.proceed-button {
  @include font-function('Lato', normal, 18px, 22px, $white);
  font-weight: 700;
  height: 43px;
  width: 172px;
  border-radius: 5px;
  background: $purple-bf;
}
