@import '../../../styles/main.scss';

.back-arrow {
  border: none;
  background: none;
  position: absolute;
  top: -50px;
  .mat-icon {
    color: $purple-bf;
  }
}

.label {
  @include font-function('Lato', normal, 17px, 20px, $black-55);
  font-weight: 400;
  // padding: 5px;
  // margin-left: 2px;
}

.about {
  box-sizing: border-box;
  border: 1px solid $black-55;
  background: $white;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top: 8px;
}

.vehicle-details-header {
  @include font-function('Lato', normal, 32px, 38px, $black-heading);
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 30px;
}

mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
  background: $purple-48;
}

.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
  background: $purple-48;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
  color: $white;
}

.mat-expansion-panel-header:not([aria-disabled="true"]) {
  background: $purple-48;
}

.sub-header {
  @include font-function('Lato', normal, 18px, 22px, $black-55);
   font-weight: 400;
   width: 100%;
}

.vehicle-plate-info {
  @include font-function('Lato', normal, 14px, 17px, #D1D1D1);
}

:host::ng-deep .roundCheckBox {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 70% !important;
  }
}

.select-next-btn {
  @include font-function('Lato', normal, 18px, 22px, $white);
  background-color: $purple-c5;
  padding: 10px 7px ;
  width: 70%;
  outline: 0;
  border: none;
  border-radius: 7px;
}
.select-next-btn:disabled {
  background-color: $grey-ab;
}
