<button class="back-arrow" (click)="goBackDashboard()">
  <mat-icon>arrow_back</mat-icon>
</button>
<div class="label">
  Note: You may take about 5 minutes to
  complete this transaction. Upon a successful
  renewal, a LTA receipt will be shown.
</div>
<div class="about">
  <div class="label">About this digital service</div>
</div>

<div class="vehicle-details-header">Enter vehicle details</div>

<div fxLayout="column" fxLayoutGap="25px">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="exp-header">
      <mat-panel-title class="panel-header-title">
        <div class="header-panel">Vehicle details</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="10px">
      <div>
        <label class="sub-header">Select the vehicle plate number below: </label>
      </div>
      <div style="width:100%">
        <mat-form-field>
          <select matNativeControl [(ngModel)]="selectedVehicleIndex">
            <option *ngFor="let vehicleRoadTaxRenewal of vehicleRoadTaxRenewalList; let i = index;" [value]="i">
              {{ vehicleRoadTaxRenewal.vehicleNumber }}</option>
          </select>
        </mat-form-field>
      </div>
      <label class="vehicle-plate-info">Vehicle plate number</label>

    </div>
  </mat-expansion-panel>
  <mat-checkbox color="primary" class="roundCheckBox" [(ngModel)]="agreeCheckBox">
    <div>I have read and I agree to the terms and conditions.</div>
  </mat-checkbox>
  <div fxLayoutAlign="end">
    <button fxLayout="row" fxLayoutAlign="space-between stretch" type="button" [disabled]="!agreeCheckBox"
            class="select-next-btn" (click)="renewalPeriod()">Select renewal period
      <mat-icon>arrow_right_alt</mat-icon>
    </button>
  </div>
</div>
