<div class="main">
      <div fxLayout="column">
        <div class="page-title">
          <div>Successful</div>
          <div class="sub-header"> The vehicle has been successfully registered.</div>
        </div>
      </div>

      <div class="message">
        <div class="detailsInput">Thank You!</div>
        <div class="sub-header">
          You have completed your payment for {{amount}}.
          A notification will be sent to you once amendment 
          has been completed.
        </div>
      </div>
      <div class="date-label">Payment Date/Time: {{ paymentDate}}</div>
      
      <div class="backtohome">
      <app-buttons class="back-btn-width" [btnConfig]="home" (click)="backToDashboard()"></app-buttons>
    </div>
  </div>
  