@import '../../styles/main.scss';

.page-title {
  @include font-function('Lato', normal, 22px, 26px, $black-heading);
  font-weight: 900;
  padding: 5% 10% 5% 10%;
  background-color: $grey-56;
}

.header-name {
  @include font-function('Lato', regular, 18px, 22px, $black-heading);
  font-weight: 900;
  text-align: left;
  vertical-align: middle;
}

.detailsInput {
  @include font-function('Lato-Bold', normal, 16px, 19px, $black-55);
  white-space: pre-wrap;
}

.sub-header {
  font-size: 14px;
  line-height: 17px;
  color: #4e4f6c;
}

.message {
  padding: 5% 10% 5% 10%;
}

.date-label {
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #4e4f6c;
  padding: 0 10%;
  width: 45%;
  margin-left: auto;
}

.backtohome {
  width: 45%;
  margin: 50px auto;
  text-align: center;
}
