@import '../../../../styles/mixins.scss';
@import '../../../../styles/colors.scss';

.save-as-draft-button {
  @include font-function('Lato', normal, 18px, 22px, $black-55);
  font-weight: 700;
  height: 43px;
  width: 180px;
  border-radius: 7px;
  background: #f8cc55;
}
