<div class="wrapper" *ngIf="surcharges.length">
  <div class="headers" fxLayout="column" fxLayoutGap="26px">
    <app-title-header [text]="titleHeader"></app-title-header>
    <app-subtitle-textgroup
      [subtitleTextgroup]="subtitleTextGroup"
    ></app-subtitle-textgroup>
  </div>
  <div class="table-wrapper">
    <header fxLayout="row" fxLayoutAlign="space-between end">
      <div fxLayout="row" fxLayoutGap="13px">
        <app-view-button
          (viewOverPaymentReportClick)="onViewOverPaymentReportClick()"
        ></app-view-button>
      </div>
      <app-formula-card-legend></app-formula-card-legend>
    </header>
    <app-header-table-divider></app-header-table-divider>
    <app-contextual-table
      [settings]="settings"
      [headers]="spreadsheetHeaders"
      [fees]="surcharges"
      (toggleCollapse)="onToggleCollapse($event)"
      (remarksFieldChange)="onRemarksFieldChange($event)"
      (approveCheckboxChange)="onApproveCheckboxChange($event)"
      (proceedButtonClick)="onApproveButtonClick($event)"
    ></app-contextual-table>
  </div>
  <div>&nbsp;</div>
</div>
