<button mat-button class="view-button" (click)="viewOverpaymentReport()">
  <div fxLayout="row" fxLayoutGap="6px" fxLayoutAlign="center center">
    <mat-icon>insert_drive_file</mat-icon> <span>View Overpayment Report</span>
  </div>
</button>
