@import '../../../../styles/colors.scss';
@import '../../../../styles/mixins.scss';

.view-button {
  @include font-function('Lato', normal, 18px, 22px, $purple-bf);
  font-weight: 700;
  border: 1px solid $purple-bf;
  background: $white;
  border-radius: 5px;
  height: 46px;
  width: 283px;
}
