<div class="transaction-table-container">
    <div class="transaction-table-heading-container" fxLayout="row" fxLayoutAlign="space-between center"
         fxLayoutGap="2px">
        <div class="transaction-table-heading">
            <b *ngIf="isAll">All Transactions ({{totalTransactions}})</b>
            <b *ngIf="isApprovalList">My Tasks({{totalTransactions}})</b>
        </div>

        <div class="options-container" fxLayout="row" fxFlex="1 1 auto" fxLayout.sm="column" fxLayoutAlign="end center"
             fxLayoutGap="50px">

            <div class="options-container" fxLayout="row" fxFlex="1 1 auto" fxLayout.sm="column"
                 fxLayoutAlign="end center"
                 fxLayoutGap="50px">
                <div class="export-button" (click)="export()">Export</div>

                <mat-form-field *ngIf="showFilter">
                    <mat-select (selectionChange)="filterList($event)" placeholder="Filter">
                        <mat-option value="default">
                            <span>Select</span>
                        </mat-option>
                        <mat-option value="today">
                            <span class="duetoday"></span>
                            <span>Due today</span>
                        </mat-option>
                        <mat-option value="tomorrow">
                            <span class="duetomorrow"></span>
                            <span>Due Tomorrow</span>
                        </mat-option>
                        <mat-option value="nextweek">
                            <span class="duethisweek"></span>
                            <span>Due This Week</span>
                        </mat-option>
                        <mat-option value="weeklater">
                            <span class="dueoneweeklater"></span>
                            <span>Due 1-Week later</span>
                        </mat-option>
                        <mat-option *ngIf="isVqr" value="vehiclescheme">
                            <span>Vehicle Scheme Approval Records</span>
                        </mat-option>
                        <mat-option *ngIf="isVqr" value="pmdApproval">
                            <span>PMD Approval Records</span>
                        </mat-option>
                        <mat-option *ngIf="isVlc" value="certifyRefunds">
                            <span>Certify Refunds</span>
                        </mat-option>
                        <mat-option *ngIf="isVlc" value="roadTax">
                            <span>Amendment of Road Tax Formula Approval</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select class="showing" (selectionChange)="sortList($event)" placeholder="Showing"
                                [(value)]="selected">
                        <mat-option value="10">
                            10
                        </mat-option>
                        <mat-option value="15">
                            15
                        </mat-option>
                        <mat-option value="20">
                            20
                        </mat-option>
                        <mat-option value="25">
                            25
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>

<div class="transaction-table-container">
    <table mat-table [dataSource]="dataSource" matSort matSortDirection="asc" matSortActive="transactionNo">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="transactionNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headers.transactionNo?.label}} </th>
            <td mat-cell *matCellDef="let element"> {{element.transactionRefNum}} </td>
        </ng-container>

        <ng-container matColumnDef="registrationNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headers.registrationNo?.label}} </th>
            <td mat-cell *matCellDef="let element"> {{element.registrationNo}} </td>
        </ng-container>
        <ng-container matColumnDef="transactionType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headers.transactionType?.label}} </th>
            <td mat-cell *matCellDef="let element"> {{element.transactionType}} </td>
        </ng-container>


        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headers.status?.label}} </th>
            <td mat-cell *matCellDef="let element"> {{element.transactionStatus}} </td>
        </ng-container>


        <ng-container matColumnDef="ownerId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headers.ownerId?.label}} </th>
            <td mat-cell *matCellDef="let element"> {{element.ownerId}} </td>
        </ng-container>

        <ng-container matColumnDef="dateReg">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headers.dateReg?.label}} </th>
            <td mat-cell *matCellDef="let element"><span
                    [class]='element.timeline'></span> {{element.dateRegistered | date}}
            </td>
        </ng-container>

        <ng-container matColumnDef="timeReg">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headers.timeReg?.label}} </th>
            <td mat-cell *matCellDef="let element"><span [class]='element.timeline'></span> {{element.timeRegistered}}
            </td>
        </ng-container>

        <ng-container matColumnDef="vehicleType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headers.vehicleType?.label}} </th>
            <td mat-cell *matCellDef="let element"><span [class]='element.timeline'></span> {{element.vehicleType}}
            </td>
        </ng-container>

        <ng-container matColumnDef="regMarkId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headers.regMarkId?.label}} </th>
            <td mat-cell *matCellDef="let element"><span
                    [class]='element.timeline'></span> {{element.registrationMarkId}} </td>
        </ng-container>
        <ng-container matColumnDef="assignedto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headers.assignedto?.label}} </th>
            <td mat-cell *matCellDef="let element"> {{element.assignedUserId}} {{element.assignedToId}} </td>
        </ng-container>


        <ng-container matColumnDef="approval">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headers.approval?.label}} </th>
            <td class="progress" mat-cell *matCellDef="let element">
                <mat-progress-bar mode="determinate" [value]="element.likelihoodOfApproval"></mat-progress-bar>
                {{element.likelihoodOfApproval}}%
            </td>
        </ng-container>

        <ng-container *ngIf="isApprovalList" matColumnDef="transactionDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headers.transactionDate?.label}} </th>
            <td mat-cell *matCellDef="let element"><span [class]='element.timeline'></span> {{element.transactionDate |
                date}} </td>
        </ng-container>

        <ng-container matColumnDef="duedate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headers.duedate?.label}} </th>
            <td mat-cell *matCellDef="let element"><span [class]='element.timeline'></span> {{element.dueDate | date}}
            </td>
        </ng-container>

        <ng-container hidden matColumnDef="transactionId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headers.transactionId?.label}} </th>
            <td mat-cell *matCellDef="let element"> {{element.transactionId}} </td>
        </ng-container>

        <ng-container matColumnDef="transactionRefNum">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headers.transactionRefNum?.label}} </th>
            <td mat-cell *matCellDef="let element"> {{element.transactionRefNum}} </td>
        </ng-container>

        <ng-container matColumnDef="refundMethodDescription">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headers.refundMethodDescription?.label}} </th>
            <td mat-cell *matCellDef="let element"> {{element.refundMethodDescription}} </td>
        </ng-container>


        <ng-container matColumnDef="createdBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headers.createdBy?.label}} </th>
            <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
        </ng-container>

        <ng-container matColumnDef="gstAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headers.gstAmount?.label}} </th>
            <td mat-cell *matCellDef="let element"> {{element.gstAmount}} </td>
        </ng-container>

        <ng-container matColumnDef="createdDateTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headers.createdDateTime?.label}} </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDateTime}} </td>
        </ng-container>

        <ng-container matColumnDef="certifyStatusTypeDescription">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headers.certifyStatusTypeDescription?.label}} </th>
            <td mat-cell *matCellDef="let element"> {{element.certifyStatusTypeDescription}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions</th>
            <td mat-cell *matCellDef="let element">
                <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="20px">
                    <div *ngIf="isManager">
                        <app-button [buttonConfig]="textBtnConfig"
                                    (textBtnClickEmt)="onClickEventReceived($event)"></app-button>
                    </div>
                    <div *ngIf="isApprovalList">
                        <app-button [buttonConfig]="textBtnConfigApprove"
                                    (textBtnClickEmt)="approveTransactions(element.transactionRefNum)">
                        </app-button>

                    </div>
                    <div *ngIf="transactionNo || isApprovalList" routerLink="{{link}}">
                        <app-button [buttonConfig]="textBtnConfigView"
                                    (textBtnClickEmt)="viewDetails(element.transactionRefNum)">
                        </app-button>
                    </div>
                    <div *ngIf="regNum" routerLink="{{link}}">
                        <app-button [buttonConfig]="textBtnConfigView"
                                    (textBtnClickEmt)="viewDetails(element.registrationNo)">
                        </app-button>
                    </div>
                    <div *ngIf="isCertifyRefund" routerLink="{{link}}">
                        <app-button [buttonConfig]="textBtnConfigView"
                                    (textBtnClickEmt)="viewDetails(element.transactionId)">
                        </app-button>
                    </div>
                </div>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>


<!-- <mat-paginator [hidePageSize]="false" [pageSize]="totalTransactions" [pageSizeOptions]="[5, 10, 20]"></mat-paginator> -->
