@import '../../../styles/main.scss';
$globalappcolor: #626ede;

table {
    width: 100%;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 0;
    border-bottom-style: none;
}

.transaction-table-heading-container {
    border-bottom: 2px solid $globalappcolor;
    margin-top: 20px;
}

.transaction-table-heading {
    color: $globalappcolor;
    font-size: 16px;
}

.duetoday {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: -5px;
    background-color: $red-22;
}

.duetomorrow {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: -5px;
    background-color: $orange-40;
}

.duethisweek {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: -5px;
    background-color: $green-3B;
}

.dueoneweeklater {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: -5px;
    background-color: $blue-E5;
}


.filter {
    background: $globalappcolor;
    border-radius: 5px 5px 0px 0px;
    width: 125px;
    height: 50px;
    color: $white;
    margin-right: 100px;
}

.select-filter {
    background-color: $white;
}
.mat-progress-bar-fill::after {
    background-color: $globalappcolor;
  
}

.mat-progress-bar-buffer {
    background: $white;
}

.mat-progress-bar {
    border-radius: 2px;
    width: 100px; 
    height: 10px;
    margin-right: 10px;
    display: inline-block;
}

.filter{
    background: $globalappcolor;
    border-radius: 5px 5px 0px 0px;
    color: $white;
    height: 35px;
    width: 130px;
    text-align: center;
}

.export-button {
    margin-left: 50%;
    width: 103px;
    height: 36px;
    left: 1250px;
    top: 291px;
    background: $white;
    border: 1px solid $purple-bf;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px 0px 0px 29px;
    color: $purple-bf;
    cursor: pointer;
}

.showing {
font-weight: normal;
font-size: 15px;
line-height: 15px;
color: $black-55;
}

.count {
    border: 1px solid $black-55;
    box-sizing: border-box;
    border-radius: 4px;
    width: 57px;
    height: 30px;
    padding: 5px;
}

.icon::before {
    position: absolute;
    top: 98px;
    right: 58px;
    background-color: $red-22;
}

.select {
    height: 25px;
}



.filter{
    background: $purple-bf;
    border-radius: 5px 5px 0px 0px;
    color: $white;
    height: 35px;
    width: 130px;
    text-align: center;
}

.export-button {
    margin-left: 50%;
    width: 103px;
    height: 36px;
    left: 1250px;
    top: 291px;
    background: $white;
    border: 1px solid $purple-bf;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px 0px 0px 29px;
    color: $purple-bf;
}

.showing {
font-weight: normal;
font-size: 15px;
line-height: 15px;
color: $black-55;
}

.count {
    border: 1px solid $black-55;
    box-sizing: border-box;
    border-radius: 4px;
    width: 57px;
    height: 30px;
    padding: 5px;
}

.transaction-table-container {
    max-height: 400px;
    overflow-y: scroll;
}
