<form [formGroup]="vehicleDetailsFormGroup">
    <label class="register-form-labels"><sup>*</sup>Vitas Approval Code</label>
    <mat-form-field class="fill-dropdown">
        <mat-select formControlName="vitasApprovalCode">
            <mat-option
                    *ngFor="let vitasApprovalCode of vitasApprovalCodeList"
                    [value]="vitasApprovalCode"
            >{{ vitasApprovalCode }}</mat-option>
        </mat-select>
    </mat-form-field>

    <label class="register-form-labels">Vehicle Type</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.vehicleType !== ''
            ? vehicleDetails.vehicleType
            : '-'
        }}
    </p>

    <label class="register-form-labels">Vehicle Scheme</label>
    <mat-form-field class="fill-dropdown">
        <mat-select formControlName="vehicleScheme">
            <mat-option
                    *ngFor="let vehicleScheme of vehicleSchemeList"
                    [value]="vehicleScheme"
            >{{ vehicleScheme }}</mat-option>
        </mat-select>
    </mat-form-field>

    <div
            *ngIf="
        vehicleDetailsFormGroup.controls['vehicleScheme'].value !==
          vehicleSchemeList[0]; ">
        <label class="register-form-labels">Please ensure that you have these supporting documents ready:</label>

        <ul>
            <li class="register-form-labels">Diplomatic ID</li>
            <li class="register-form-labels">MFA Approval Letter</li>
        </ul>

        <label class="register-form-labels">Please ensure that your uploaded file meets the following
            requirements:</label>

        <ul>
            <li class="register-form-labels">The document format should be in PDF or image file format (e.g jpg)</li>
            <li class="register-form-labels">The filename contains only letters, numbers and underscore, without
                spaces or other special characters
            </li>
            <li class="register-form-labels">The filename should have at most 33 characters</li>
        </ul>

        <label class="register-form-labels" for="fileUpload"><sup>*</sup>Upload Diplomatic ID</label>
        <input
                type="file"
                class="file-input"
                (change)="onUploadFile($event)"
                #fileUpload
                accept="image/jpeg, image/png"
                id="fileUpload"
        />

        <div class="file-upload">
            <input formControlName="diplomaticId"
                   class="form-input-common-style"
                   type="text"
                   id="diplomaticId"
            />

            <button mat-button (click)="fileUpload.click()">Choose file
                <span [hidden]="isLoadingOneHidden"><mat-spinner></mat-spinner></span>
            </button>

        </div>

        <label class="register-form-labels" for="fileUpload2"><sup>*</sup>Upload MFA Approval Letter</label>
        <input
                type="file"
                class="file-input"
                (change)="onUploadFileTwo($event)"
                #fileUpload2
                accept="image/jpeg, image/png"
                id="fileUpload2"
        />

        <div class="file-upload">
            <input formControlName="mfaApprovalLetter"
                   class="form-input-common-style"
                   type="text"
                   id="mfaApprovalLetter"
            />

            <button mat-button (click)="fileUpload2.click()">Choose file
                <span [hidden]="isLoadingTwoHidden"><mat-spinner></mat-spinner></span>
            </button>
        </div>

        <div class="errormessage" [hidden]="isSizeErrorHidden">
            Document to be attached should be file size less than 28.4MB
        </div>

        <div class="errormessage" [hidden]="isTypeErrorHidden">
            Choose a file that is '.pdf' or '.jpeg'.
        </div>
    </div>


    <label class="register-form-labels">Vehicle Attachment 1</label>
    <mat-form-field class="fill-dropdown">
        <mat-select formControlName="attachmentOne">
            <mat-option
                    *ngFor="let vehicleAttachment of vehicleAttachmentList"
                    [value]="vehicleAttachment.id"
            >{{ vehicleAttachment.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <label class="register-form-labels">Vehicle Attachment 2</label>
    <div
            *ngIf="
          vehicleDetailsFormGroup.controls['attachmentOne'].value ===
            vehicleAttachmentList[0].id ;
        else elseAttachment2
      ">
        <p>-</p>
    </div>

    <ng-template #elseAttachment2>
        <mat-form-field class="fill-dropdown">
            <mat-select formControlName="attachmentTwo">
                <mat-option
                        *ngFor="let vehicleAttachment of vehicleAttachmentList"
                        [value]="vehicleAttachment.id"
                >{{ vehicleAttachment.name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </ng-template>

    <label class="register-form-labels">Vehicle Attachment 3</label>
    <div
            *ngIf="
          vehicleDetailsFormGroup.controls['attachmentOne'].value ===
            vehicleAttachmentList[0].id ||
          vehicleDetailsFormGroup.controls['attachmentTwo'].value ===
            vehicleAttachmentList[0].id;
        else elseAttachment3
      ">
        <p>-</p>
    </div>

    <ng-template #elseAttachment3>
        <mat-form-field class="fill-dropdown">
            <mat-select formControlName="attachmentThree">
                <mat-option
                        *ngFor="let vehicleAttachment of vehicleAttachmentList"
                        [value]="vehicleAttachment.id"
                >{{ vehicleAttachment.name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </ng-template>

    <label class="register-form-labels">Vehicle Make</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.vehicleMake !== ''
            ? vehicleDetails.vehicleMake
            : '-'
        }}
    </p>

    <label class="register-form-labels">Vehicle Model</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.vehicleModel !== ''
            ? vehicleDetails.vehicleModel
            : '-'
        }}
    </p>

    <label class="register-form-labels">Propellant</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.propellant !== ''
            ? vehicleDetails.propellant
            : '-'
        }}
    </p>

    <label class="register-form-labels">Passenger Capacity</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.passengerCapacity !== ''
            ? vehicleDetails.passengerCapacity
            : '-'
        }}
    </p>

    <label class="register-form-labels">Power Rating</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.powerRating !== ''
            ? vehicleDetails.powerRating
            : '-'
        }}
    </p>

    <label class="register-form-labels">Maximum Power Output</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.maximumPowerOutput !== ''
            ? vehicleDetails.maximumPowerOutput
            : '-'
        }}
    </p>

    <label class="register-form-labels">No. of Axles</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.numberOfAxles !== ''
            ? vehicleDetails.numberOfAxles
            : '-'
        }}
    </p>

    <label class="register-form-labels">Front/Rear Type Information</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.tyreInformation !== ''
            ? vehicleDetails.tyreInformation
            : '-'
        }}
    </p>

    <label class="register-form-labels">Unladen Weight</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.unladenWeight !== ''
            ? vehicleDetails.unladenWeight
            : '-'
        }}
    </p>

    <label class="register-form-labels">Maximum Unladen Weight</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.maximumUnladenWeight !== ''
            ? vehicleDetails.maximumUnladenWeight
            : '-'
        }}
    </p>

    <label class="register-form-labels">Emission Standard Code</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.emissionStandardCode !== ''
            ? vehicleDetails.emissionStandardCode
            : '-'
        }}
    </p>

    <label class="register-form-labels">CO2 Emission</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.carbonDioxideEmission !== ''
            ? vehicleDetails.carbonDioxideEmission
            : '-'
        }}
    </p>

    <label class="register-form-labels">CO Emission</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.carbonMonoxideEmission !== ''
            ? vehicleDetails.carbonMonoxideEmission
            : '-'
        }}
    </p>

    <label class="register-form-labels">HC Emission</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.hydroCarbonEmission !== ''
            ? vehicleDetails.hydroCarbonEmission
            : '-'
        }}
    </p>

    <label class="register-form-labels">NOx Emission</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.nitrousOxideEmission !== ''
            ? vehicleDetails.nitrousOxideEmission
            : '-'
        }}
    </p>

    <label class="register-form-labels">PM Emission</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.pmEmission !== ''
            ? vehicleDetails.pmEmission
            : '-'
        }}
    </p>

    <label class="register-form-labels"><sup>*</sup>Primary Colour</label>
    <mat-form-field class="fill-dropdown">
        <mat-select placeholder="Please Select" formControlName="primaryColour">
            <mat-option
                    *ngFor="let vehicleColour of vehicleColourList"
                    [value]="vehicleColour"
            >{{ vehicleColour }}</mat-option>
        </mat-select>
    </mat-form-field>

    <label class="register-form-labels">Secondary Colour</label>
    <mat-form-field class="fill-dropdown">
        <mat-select placeholder="Please Select" formControlName="secondaryColour">
            <mat-option
                    *ngFor="let vehicleColour of vehicleColourList"
                    [value]="vehicleColour"
            >{{ vehicleColour }}</mat-option
            >
        </mat-select>
    </mat-form-field>

    <label class="register-form-labels" for="manufacturingYear"><sup>*</sup>Manufacturing Year</label>
    <input
            class="form-input-common-style"
            formControlName="manufacturingYear"
            type="number"
            id="manufacturingYear"
    />

    <label class="register-form-labels">First Registration Date</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.firstRegistrationDate !== ''
            ? vehicleDetails.firstRegistrationDate
            : '-'
        }}
    </p>

    <label class="register-form-labels">Original Registration Date</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.originalRegistrationDate !== ''
            ? vehicleDetails.originalRegistrationDate
            : '-'
        }}
    </p>

    <label class="register-form-labels" for="chassisNumber"><sup>*</sup>Chassis No</label>
    <input
            class="form-input-common-style"
            formControlName="chassisNumber"
            type="text"
            id="chassisNumber"
    />

    <label class="register-form-labels" for="engineNumber"><sup>*</sup>Engine No.</label>
    <input
            class="form-input-common-style"
            formControlName="engineNumber"
            type="text"
            id="engineNumber"
    />
    <div class="errormessage" [hidden]="isChassisEngineFormatErrorHidden">
        Chassis number and Engine Number can only contain “/”, “\”, “A-Z”, “a-z” and “0-9”.
    </div>
    <label class="register-form-labels">Motor No.</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.motorNumber !== ''
            ? vehicleDetails.motorNumber
            : '-'
        }}
    </p>

    <label class="register-form-labels">Trailer Chassis No.</label>
    <p>
        {{
        vehicleDetails && vehicleDetails.motorNumber !== ''
            ? vehicleDetails.motorNumber
            : '-'
        }}
    </p>
</form>
