.file-input {
  display: none;
}

.errormessage {
  color: red;
}

//.fill-input-style {
//  width: 50%;
//  height: 44px;
//  box-sizing: border-box;
//  padding: 0 16px;
//  margin-bottom: 10px;
//  border-width: 1px;
//  border-color: $black-55;
//  border-style: solid;
//  border-radius: 4px;
//  outline: none;
//  margin-top: 4px;
//  @include font-function('Lato', normal, 16px, 20px, $black-55);
//  ::-webkit-input-placeholder {
//    font-size: 16px;
//  }
//}
