@import '../../../../styles/mixins.scss';
@import '../../../../styles/colors.scss';

.wrapper {
  margin-bottom: 50px;
}

.headers {
  margin-bottom: 33px;
  margin-left: 12px;
}

.table-wrapper {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 32px 33px 39px 27px;
  background: $white;
}
