@import '../../../../styles/main.scss';

:host ::ng-deep .mat-select-placeholder,
:host ::ng-deep .mat-select-value-text {
  @include font-function('Lato', normal, 14px, 17px, $black-heading);
  font-weight: 700;
}

:host ::ng-deep div.mat-form-field-outline-start,
:host ::ng-deep .mat-form-field-outline-gap,
:host ::ng-deep .mat-form-field-outline-end {
  border-radius: 5px;
  background: $yellow-55;
  border-width: 0 !important;
}

.mat-form-field {
  width: 137px;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
}

.mat-divider {
  border: 2px solid #f8cc55;
}
