<header fxLayout="row" fxLayoutAlign="space-between">
  <app-title title="My Vehicles and Assets:"></app-title>
  <form [formGroup]="vehicleIdForm">
    <mat-form-field appearance="outline">
      <mat-select
        formControlName="vehicleId"
        (selectionChange)="onVehicleIdChange()"
      >
        <mat-option *ngFor="let vehicleId of vehicleIds" [value]="vehicleId">{{
          vehicleId
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</header>
<mat-divider></mat-divider>
