@import '../../../styles/main.scss';

.note {
  @include font-function('Lato', normal, 13px, 18px, $black-55);
  margin-bottom: 22px;
}

.initiate-page-button-wrapper {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 30px;
}

.back-btn-width {
  width: 70%;
}

.errormessage {
  color: red;
}

