<div class="note">
    Note: This service is for Authorised Agents to register vehicles for vehicle
    owners. All vehicles must be registered with LTA before they can be used on
    the roads.
</div>

<form [formGroup]="initiateFormGroup">
    <label class="register-form-labels"><sup>*</sup>Owner ID Type</label>
    <mat-form-field class="initiate-dropdown">
        <mat-select placeholder="Owner ID Type" formControlName="ownerIdType">
            <mat-option *ngFor="let p of ownerIdTypeValues" [value]="p.value">
                {{ p.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <label class="register-form-labels" for="ownerId"><sup>*</sup>Owner ID</label>
    <input
            class="form-input-common-style"
            formControlName="ownerId"
            placeholder="Owner ID"
            type="text"
            maxlength="9"
            id="ownerId"
    />
    <label class="register-form-labels" for="ownerName">Owner Name</label>
    <input
            class="form-input-common-style"
            formControlName="ownerName"
            placeholder="Owner Name"
            type="text"
            id="ownerName"
    />
    <label class="register-form-labels" for="salesAgreementId"><sup>*</sup>Sales Agreement ID</label>
    <input
            class="form-input-common-style"
            formControlName="salesAgreementId"
            placeholder="Sales Agreement ID"
            type="text"
            id="salesAgreementId"
    />

    <div class="errormessage" [hidden]="!errorMsg">
        Please fill all the mandatory fields
    </div>
    <div class="errormessage" [hidden]="!validationErrMsg">
        Please match the owner id criteria
    </div>
    <div class="errormessage" [hidden]="isUserExistErrorHidden">
        {{ externalIdentificationError  }}
    </div>
</form>

<div class="initiate-page-button-wrapper" fxLayout="row"
     fxLayoutAlign="space-between center">

    <app-buttons [btnConfig]="backButtonConfig"></app-buttons>
    <app-buttons class="back-btn-width" [btnConfig]="proceedButtonConfig" (click)="proceedToFill()"></app-buttons>
</div>

<div class="register-form-labels">
    Please do not use your browser’s Back or Forward buttons
    as this may result in information loss
</div>



