@import '../../../styles/main.scss';

.button-font-16 {
  @include font-function('Lato', normal, 16px, 19px, $purple-bf);
}

.commonButton {
  border-radius: 7px;
  width: 100%;
}

.arrowIcon {
  float: right;
}

.proceedButton {
  @include font-function('Lato', normal, 16px, 19px, $white);
  font-weight: 40%;
  height: 50px;
  width: 200px;
  background-color: $purple-bf;
  border-radius: 7px;
  text-align: left;
  border: none;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
}
.Button {
  @include font-function('Lato', normal, 14px, 16px, $white);
  font-weight: 700px;
  height: 50px;
  width: 165px;
  background-color: $purple-bf;
  border-radius: 7px;
  text-align: center;
  border: none;
  padding-left: 25%;
 padding-right:20%;
}
.dashboardButton {
  @include font-function('Lato', normal, 16px, 19px, $white);
  font-weight: 40%;
  height: 50px;
  width: 200px;
  background-color: $purple-bf;
  border-radius: 7px;
  text-align: left;
  border: none;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  margin-top:75px;
}

.grey-button {
  background-color: $grey-f6;
  color: $black-heading;
  padding: 13px 25px;
}

.nologinButton {
  @include font-function('Lato', normal, 8px, 9px, $white);
  font-weight: 700;
  background-color: $purple-bf;
  border-radius: 7px;
  text-align: center;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top:10px;
}
