<div fxLayoutAlign="space-between center" class="singapore-common-header">
  <div fxLayout="row">
      <img src="../../../../assets/images/lion-icon.svg" alt="lion-icon"/>
      <div>A Singapore Government Agency Website</div>
  </div>
  <div fxLayout="row">
      <img src="../../../../assets/images/printer-icon.svg" alt="printer"/>
      <img src="../../../../assets/images/small-A.svg" alt="small-A"/>
      <img src="../../../../assets/images/medium-A.svg" alt="medium-A"/>
      <img src="../../../../assets/images/big-A.svg" alt="big-A"/>
  </div>
</div>
<div class="login-form-wrapper">
  <div class="login-form-container">
    <div class="login-heading">Welcome</div>
    <form
      [formGroup]="formdata"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <input
        class="form-input-common-style username"
        formControlName="username"
        placeholder="Username"
        type="text"
      />

      <input
        class="form-input-common-style password"
        formControlName="password"
        placeholder="Password"
        type="password"
      />
      <div class="login-btn">
        <button type="submit" (click)="login()">Login</button>
      </div>
      <div class="sso-login-btn">
        <button type="submit" (click)="loginSSO()">Login SSO</button>
      </div>
    </form>
    <!-- Error container -->
    <div class="error" [hidden]="!errorMessage">
      Unsuccessful Login:
      <ul>
        <li>{{ message }}</li>
      </ul>
    </div>
  </div>
</div>
