@import '../../../styles/main.scss';

.submit-heading-text-header {
  @include font-function('Lato', normal, 30px, 36px, $black-heading);
  font-weight: 800;
  text-align: left;
  vertical-align: top;
}

.submit-heading-text-1 {
  @include font-function('Lato', normal, 18px, 22px, $black-55);
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}

.submit-heading-text-2 {
  @include font-function('Lato', regular, 12px, 14px, $black-heading);
  text-align: left;
  vertical-align: top;
}

.transaction-card {
  background: #f8f8f8;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
  padding: 17px;
  margin-bottom: 20px;
}
.transaction-wrapper p {
  margin-bottom: 0;
}
.transaction-wrapper {
  margin-bottom: 17px;
}
.transaction-title {
  @include font-function('Lato', regular, 12px, 20px, $black-11);
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}

.transaction-info {
  @include font-function('Lato', normal, 16px, 20px, $black-11);
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}

.submit-footer {
  @include font-function('Lato', normal, 12px, 16px, $black-6c);
  text-align: left;
  vertical-align: top;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
