<ng-container *ngTemplateOutlet="buttonConfig['text'] ? text : image">
</ng-container>

<ng-template #text>
    <button type="button"
            [ngStyle]="buttonConfig.styles"
            (click)="onTextBtnClick()">
            <mat-icon>{{buttonConfig.iconName}}</mat-icon>
      {{ buttonConfig.text}}
    </button>
  </ng-template>

<!-- Image Button -->
<ng-template #image>

</ng-template>