<div class="lta-logo-wrapper">
  <img src="../../assets/images/oneMotoring.svg" />
</div>

<div>
  <div class="register-page-wrapper">
    <div class="register-heading-wrapper">
      <div class="register-heading-text">{{ registerHeading }}</div>
    </div>

    <mat-stepper [linear]="isLinear" labelPosition="bottom" #stepper class="register-stepper-wrapper">
      <ng-template matStepperIcon="edit" let-index="index">
        {{ index + 1 }}
      </ng-template>
      <ng-template matStepperIcon="done">
        <mat-icon>done_all</mat-icon>
      </ng-template>
      <mat-step>
        <ng-template matStepLabel>Fill Details</ng-template>
        <div class="app-header-wrapper">
          <app-fill-details (onNextStepper)="allowToProceed($event)"></app-fill-details>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Select Renewal</ng-template>
        <div class="app-header-wrapper">
          <app-select-renewal (onNextStepper)="allowToProceed($event)" (onPreviousStepper)="onBack()">
          </app-select-renewal>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Review</ng-template>
        <div class="app-header-wrapper">
          <app-review (onNextStepper)="allowToProceed($event)" (onPreviousStepper)="onBack()"></app-review>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Make Payment</ng-template>
        <div class="app-header-wrapper">
          <app-make-payment (onNextStepper)="allowToProceed($event)" (onPreviousStepper)="onBack()"></app-make-payment>
        </div>
      </mat-step>
    </mat-stepper>

    <div style="margin-bottom: 30px;">
      <label>
        Please do not use your browser’s Back or Forward buttons
        as this may result in information loss
      </label>
    </div>
  </div>

  <app-footer></app-footer>

</div>
