<div class="note">
    Note: This service is for Authorised Agents to register vehicles for vehicle
    owners. All vehicles must be registered with LTA before they can be used on
    the roads.
</div>

<label class="register-form-labels">Owner ID Type</label>
<p>
    {{
    ownerDetails && ownerDetails.ownerIdTypeDesc !== ''
        ? ownerDetails.ownerIdTypeDesc
        : '-'
    }}
</p>


<label class="register-form-labels">Owner ID</label>
<p>
    {{
    ownerDetails && ownerDetails.ownerId !== ''
        ? ownerDetails.ownerId
        : '-'
    }}
</p>


<label class="register-form-labels">Owner Name</label>
<p>
    {{
    ownerDetails && ownerDetails.ownerName !== ''
        ? ownerDetails.ownerName
        : '-'
    }}
</p>


<label class="register-form-labels">Sales Agreement ID</label>
<p>
    {{
    ownerDetails && ownerDetails.salesAgreementId !== ''
        ? ownerDetails.salesAgreementId
        : '-'
    }}
</p>


<div class="initiate-page-button-wrapper" fxLayout="row"
     fxLayoutAlign="space-between center">

    <app-buttons [btnConfig]="backButtonConfig"></app-buttons>
    <app-buttons class="back-btn-width" [btnConfig]="proceedButtonConfig" (click)="proceedToFill()"></app-buttons>
</div>

<div class="register-form-labels">
    Please do not use your browser’s Back or Forward buttons
    as this may result in information loss
</div>



