@import '../../../styles/main.scss';

.input {
  border: 1px solid #3E3B55;
  box-sizing: border-box;
  border-radius: 4px;
}

.reject-btn {
  @include font-function('Lato', normal, 18px, 22px, $blue-bf);
  background-color: $white;
  padding: 7px 33px;
  width: 10%;
  outline: 0;
  border-radius: 7px;
  margin-right: 10px;
  border: 1px solid $blue-bf;
  height: 40px;

}

.search-btn {
  @include font-function('Lato', normal, 18px, 22px, $white);
  background-color: $purple-c5;
  padding: 8px 33px;
  width: 9%;
  outline: 0;
  border: none;
  border-radius: 7px;
  height: 40px;
}


button {
  border: 0;
  outline: none;
  cursor: pointer
}

.search-label {
  font-size: 14px;
  line-height: 19px;
  color: #6471BF;
  margin-bottom: 20px;
}

.search-container {
  margin-bottom: 30px;
}

.form-input-common-style {
  width: 100%;
}

.container {
  width: 100%;
}

.container2 {
  width: 31%;
}

.mat-form-field {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  border-width: 1px;
  border-color: $black-55;
  border-style: solid;
  border-radius: 4px;
  outline: none;
  @include font-function('Lato', normal, 16px, 20px, $black-55);

  ::-webkit-input-placeholder {
    font-size: 16px;
  }

  ::ng-deep .mat-form-field-underline {
    display: none;
  }

  ::ng-deep .mat-form-field-infix {
    border-top: 0 !important;
  }
}

.form-input-common-style-search-select {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  border-width: 1px;
  border-color: $black-55;
  border-style: solid;
  border-radius: 4px;
  outline: none;
  @include font-function('Lato', normal, 16px, 20px, $black-55);

  ::-webkit-input-placeholder {
    font-size: 16px;
  }

  ::ng-deep .mat-form-field-infix {
    border-top: 0 !important;
  }
}