<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Search
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="userType">
            <div class="search-label">Enter search criteria below</div>
            <form [formGroup]="searchForm">
                <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
                    <ng-container *ngFor="let field of fieldList; let i = index;">
                        <div fxFlex="0 1 calc(33.3% - 32px)" [ngSwitch]="field.type">
                            <div *ngSwitchCase="'text'">
                                <label class="register-form-labels">{{ field.label }}</label>
                                <input class="form-input-common-style" [formControlName]="field.formControlName">
                            </div>
                            <div *ngSwitchCase="'date'">
                                <label class="register-form-labels">{{ field.label }}</label>
                                <mat-form-field class="mat-form-field">
                                    <input [formControlName]="field.formControlName"
                                           matInput
                                           [matDatepicker]="i">
                                    <mat-datepicker-toggle matSuffix
                                                           [for]="i"></mat-datepicker-toggle>
                                    <mat-datepicker #i></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div *ngSwitchCase="'select'">
                                <label class="register-form-labels">Status</label>
                                <mat-form-field class="form-input-common-style-search-select" floatLabel="never">
                                    <mat-select
                                            placeholder="PLEASE SELECT"
                                            [formControlName]=field.formControlName>
                                        <mat-option *ngFor="let selectInput of field.selectInputList "
                                                    [value]="selectInput.value">
                                            {{ selectInput.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </form>
        </div>

        <div fxLayout="row" class="spacing-between" fxLayoutAlign="end stretch">
            <button fxLayout="row" fxLayoutAlign="space-around stretch" type="button"
                    class="reject-btn" (click)="clear()">Cancel
            </button>
            <button fxLayout="row" fxLayoutAlign="space-between stretch" (click)="search()" type="button"
                    class="search-btn">Search
            </button>

        </div>
    </mat-expansion-panel>
</mat-accordion>
