@import "../../../styles/main.scss";

.greeting-msg {
  @include font-function("Lato-Bold", normal, 30px, 36px, $globalappcolor);
}

.day {
  @include font-function("Lato", normal, 14px, 17px, $globalappcolor);
  margin-bottom: 30px;
}
