<form [formGroup]="roadTaxForm">
    <div formArrayName="arrayForm">
      <div *ngFor="let a of roadTaxFormGroup.controls; let i = index" [formGroupName]="i">
        <div fxLayout="row" fxFlex="1 1 auto" fxLayout.sm="column">
          <div class="container" fxLayout="column" fxLayoutAlign="end center">
            <div class="base-amt ">
              <div class="edit-amount-container">
                <span>[$ </span>
                <input class="new-value" matInput formControlName="baseAmt" name="baseAmt">
                <span>+ $ </span>
                <input class="new-value" matInput formControlName="ecMultiplier" name="ecMultiplier">
                <span>(EC - 1,000 )] x</span>
                <input class="new-value" matInput formControlName="discount" name="discount">
              </div>
            </div>
          </div>

          <div fxLayout="column" class="edit-effective-date" fxLayoutAlign="end center">
            <div class="container">
              <mat-form-field class="date">
                <input matInput [matDatepicker]="picker" [min]="startDate" formControlName="effectiveDate"
                  name="effectiveDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

              </mat-form-field>

            </div>
          </div>
          <div fxLayout="column" class="edit-end-date" fxLayoutAlign="end center">
            <div class="container">
              <mat-form-field class="date">
                <input matInput [matDatepicker]="picker1" formControlName="endDate" name="endDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

        </div>

        <button>
          <mat-icon *ngIf="showDelete" class="delete" (click)="deleteItem(i)">remove_circle</mat-icon>
        </button>
      </div>
    </div>
  </form>