@import '../../../../styles/main.scss';

.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.active {
  background: #eaf4f0;
}

.inactive {
  background: #f1f1f1;
}

.text {
  @include font-function('Lato', 14px, 18px, 17px, $black-55);
}
