<div class="wrapper" fxLayout="column" fxLayoutGap="11px">
  <div class="mark" fxLayout="row" fxLayoutGap="13px">
    <div class="circle active"></div>
    <span class="text">Active Value(s)</span>
  </div>
  <div class="mark" fxLayout="row" fxLayoutGap="13px">
    <div class="circle inactive"></div>
    <span class="text">Inactive Value(s)</span>
  </div>
</div>
