<mat-card>
  <div class="road-tax-header">Road tax Calculator (For Draft Values)</div>
  <mat-divider class="horizontal-divider"></mat-divider>
  <div class="content-wrapper" fxLayout="row">
    <div class="parent-container">
      <div fxLayout="column">
        <div class="header-title">Enter Vehicle Specifications:</div>
        <div>
          <div class="calculator-inputs">
            <div class="column-child" fxLayout="row">
              <div class="label">Vehicle Propellant Type:</div>
              <div>
                <mat-form-field class="dimensions" appearance="outline">
                  <mat-select
                    placeholder="Please Select"
                    (selectionChange)="onSelectPropellantType($event.value)"
                  >
                    <mat-option
                      *ngFor="let propellantType of propellantTypeList"
                      [value]="propellantType.value"
                    >
                      {{ propellantType.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="column-child" fxLayout="row">
              <div class="label">Emission Standard:</div>
              <div>
                <mat-form-field
                  class="dimensions"
                  appearance="outline"
                  [ngClass]="{
                    'emission-standard-na-1': selectedEmissionStandard == 0,
                    'emission-standard-na-2': selectedPropellantType == 2
                  }"
                >
                  <mat-select
                    placeholder="Please Select"
                    (selectionChange)="onSelectEmissionStandard($event.value)"
                  >
                    <mat-option
                      *ngFor="let EmissionStandard of EmissionStandardList"
                      [value]="EmissionStandard.value"
                    >
                      {{ EmissionStandard.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="calculator-inputs">
            <div class="column-child" fxLayout="row">
              <div class="label">Engine Capacity (EC): <br /></div>
              <div>
                <mat-form-field
                  class="dimensions"
                  appearance="outline"
                  [ngClass]="{
                    'emission-standard-na-1':
                      selectedPropellantType == 3 ||
                      selectedPropellantType == undefined
                  }"
                >
                  <input
                    class="placeholder"
                    [(ngModel)]="engineCapacity"
                    [disabled]="
                      selectedPropellantType == 3 ||
                      selectedPropellantType == undefined
                    "
                    matInput
                    placeholder="e.g. 1600"
                  />
                  <span class="units" matSuffix>cc&nbsp;</span>
                </mat-form-field>
              </div>
            </div>
            <div class="column-child" fxLayout="row">
              <div class="label">Power Rating:</div>
              <div>
                <mat-form-field
                  class="dimensions"
                  appearance="outline"
                  [ngClass]="{
                    'emission-standard-na-1':
                      selectedPropellantType == 1 ||
                      selectedPropellantType == 2 ||
                      selectedPropellantType == undefined
                  }"
                >
                  <input
                    class="placeholder"
                    [(ngModel)]="powerRating"
                    [disabled]="
                      selectedPropellantType == 1 ||
                      selectedPropellantType == 2 ||
                      selectedPropellantType == undefined
                    "
                    matInput
                    placeholder="e.g. 30"
                  />
                  <span class="units" matSuffix>kW &nbsp;</span>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="header-title">Enter Licensing Details:</div>
        <div>
          <div class="calculator-inputs">
            <div class="column-child" fxLayout="row">
              <div class="label">Road Tax Start Date:</div>
              <div>
                <mat-form-field class="dimensions" appearance="outline">
                  <mat-label class="placeholder">dd-mm-yyyy</mat-label>
                  <input
                    [(ngModel)]="roadTaxStartDate"
                    matInput
                    [matDatepicker]="picker1"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker1"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="column-child" fxLayout="row">
              <div class="label">Road Tax End Date:</div>
              <div>
                <mat-form-field class="dimensions" appearance="outline">
                  <mat-label class="placeholder">dd-mm-yyyy</mat-label>
                  <input
                    [(ngModel)]="roadTaxEndDate"
                    matInput
                    [matDatepicker]="picker2"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker2"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="calculator-inputs">
            <div class="column-child" fxLayout="row">
              <div class="label">Vehicle Registration Date:</div>
              <div>
                <mat-form-field class="dimensions" appearance="outline">
                  <mat-label class="placeholder">dd-mm-yyyy</mat-label>
                  <input
                    [(ngModel)]="vehicleRegistrationDate"
                    matInput
                    [matDatepicker]="picker4"
                    (dateChange)="
                      onSelectedVehicleRegistrationDate($event.value)
                    "
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker4"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="calculate-button-wrapper">
          <button
            class="calculate-button"
            mat-raised-button
            color="primary"
            (click)="onCalculateRoadTax()"
          >
            Calculate
          </button>
        </div>
      </div>
    </div>
    <div class="right-container" fxLayout="column">
      <div class="header-title">Result(s):</div>
      <div>
        <div *ngIf="resultsDisplay == false; then icon; else outputs"></div>
        <ng-template #icon>
          <mat-icon class="icon">border_color</mat-icon>
          <div class="results">
            Please provide Vehicle Specifications and <br />
            Licensing Details to display results
          </div>
        </ng-template>
        <ng-template #outputs>
          <div fxLayout="column">
            <div class="bolded-label">Base Road Tax Fee(s)</div>
            <div *ngFor="let baseRoadTaxAmount of baseRoadTaxAmountBreakdown">
              <div fxLaout="row" fxLayoutAlign="space-between Start">
                <div class="calculator-label">
                  {{ baseRoadTaxAmount.Name }}:
                </div>
                <div class="calculator-value">
                  $
                  {{ baseRoadTaxAmount.Amount }}
                </div>
              </div>
            </div>
            <div class="bolded-label">Surcharge(s)</div>
            <div fxLaout="row" fxLayoutAlign="space-between Start">
              <div class="calculator-label">Surcharge Rate:</div>
              <div class="calculator-value">
                {{ roadTaxPayments[0].surchargeRate }}
              </div>
            </div>

            <div fxLaout="row" fxLayoutAlign="space-between Start">
              <div class="calculator-label">Surcharge Amount:</div>
              <div class="calculator-value">
                $ {{ roadTaxPayments[0].surcharge }}
              </div>
            </div>
            <div class="bolded-label">Late Fee(s)</div>
            <div fxLaout="row" fxLayoutAlign="space-between Start">
              <div class="calculator-label">Late Fee Amount:</div>
              <div class="calculator-value">
                $ {{ roadTaxPayments[0].lateFee }}
              </div>
            </div>
            <div fxLaout="row" fxLayoutAlign="space-between Start">
              <div class="total-calculator-values">Total Road Tax Amount:</div>
              <div class="total-calculator-values">
                $ {{ roadTaxPayments[0].finalRoadTaxAmount }}
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</mat-card>
