@import "../../../styles/main.scss";

.horizontal-divider {
  border-top-color: $purple-bf;
}

.content-wrapper {
  padding: 20px;
}

.parent-container {
  display: flex;
  border-right: 1px solid $grey-f4;
  margin-right: 50px;
}

.road-tax-header {
  @include font-function("Lato-Bold", normal, 18px, 21px, $purple-bf);
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.header-title {
  @include font-function("Lato-Bold", normal, 18px, 21px, $purple-bf);
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: wrap;
}

.column-child {
  margin-bottom: 30px;
  margin-right: 50px;
  display: flex;
}

.label {
  @include font-function("Lato", normal, 16px, 19px, $black-55);
  font-weight: 700;
  width: 200px;
  display: block;
  margin-top: 15px;
}

.dimensions {
  width: 195px;
  height: 30px;

}

.placeholder {
  @include font-function("Lato", italic, 16px, 19px, $grey-5f);
}

.calculate-button {
  @include font-function("Lato", normal, 18px, 21px, $black-heading);
  font-weight: bold;
  background-color: $yellow-55;
  width: 195px;
  height: 40px;
  float: right;
  margin-top: 30px;
  margin-right: 50px;
  margin-bottom: 100px;
}

.units {
  @include font-function("Lato", normal, 16px, 19px, $black-55);
}

:host::ng-deep .roundCheckBox {
  @include font-function("Lato", normal, 16px, 19px, $black-55);
  font-weight: 700;
  margin: 0 10px;

  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 70% !important;
  }
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: $black-55 !important;
}

.icon {
  font-size: 80px;
  color: $grey-c9;
  margin-top: 15%;
  margin-left: 45%;
  margin-right: 45%;
}

.results {
  font-style: italic;
  text-align: center;
  vertical-align: middle;
  margin-top: 15px;
}

@media only screen and (min-width: 1900px) {
  .calculator-inputs {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
  }
}

.right-container {
  width: 100%;
}

.bolded-label {
  @include font-function("Lato", normal, 14px, 17px, $black-heading);
  font-weight: 700;
  margin-bottom: 15px;
}

.Total-Base-Road-Tax {
  @include font-function("Lato", normal, 13px, 16px, $black-55);
  font-weight: 700;
  margin-bottom: 15px;
}

.calculator-label {
  @include font-function("Lato", normal, 13px, 16px, $black-55);
  font-weight: 400;
  margin-bottom: 15px;
}

.calculator-value {
  @include font-function("Lato", bold, 13px, 16px, $black-heading);
  font-weight: 700;
  margin-bottom: 15px;
}

.total-calculator-values {
  @include font-function("Lato", bold, 18px, 22px, $blue-bf);
  font-weight: 700;
  margin-top: 65px;
}

:host ::ng-deep .emission-standard-na-1.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: rgba(27, 38, 56, 0.26) !important;
}

:host ::ng-deep .emission-standard-na-2.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: $white !important;
}