@import '../../../styles/main.scss';

.common-button {
    outline: 0;
    border: none;
    border-radius: 4px;
    width: 100%;
}

.purple-button {
    background-color: $purple-c5;
    color: #fff;
    padding: 10px 25px;
}

.button-font-16 {
    @include font-function('Lato', normal, 16px, 19px, $white);
}

.grey-button {
    background-color: $grey-f6;
    color: $black-6c;
    padding: 13px 25px;
}
