<button fxLayout="row"
fxLayoutAlign="space-between center" type="button" 
[ngClass] = "[btnConfig.buttonClassName, btnConfig.buttonFont, btnConfig.buttonWidth]"
class="common-button"
(click)="onTextBtnClick()">
  {{ btnConfig.buttonText }}
  <mat-icon *ngIf="btnConfig.hasIcon">{{btnConfig.iconName}}</mat-icon>
</button>
