@import '../../../../styles/main.scss';

button {
  --size: 24px;
  line-height: var(--size);
  border-radius: 50%;
  height: var(--size);
  width: var(--size);
  border: 0;
}

.selected {
  @include font-function('Lato', normal, 14px, 24px, $purple-bf);
  background: $white-fd;
  font-weight: 700;
}

.unselected {
  @include font-function('Lato', normal, 14px, 24px, $black-55);
  background: $white-dd;
  font-weight: 400;
}

.mat-icon {
  font-weight: 900;
  font-size: 20px;
}
