<div
  [style.margin.px]="16"
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayoutGap="16px"
>
  <button class="selected" *ngIf="pageNo" (click)="onPreviousPageClick()">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-icon>chevron_left</mat-icon>
    </div>
  </button>
  <button class="selected">
    {{ pageNo + 1 }}
  </button>
  <button class="selected" *ngIf="pageNo > -1" (click)="onNextPageClick()">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-icon>chevron_right</mat-icon>
    </div>
  </button>
</div>
