@import '../../../../styles/main.scss';

.mat-card {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  border-radius: 10px;
  margin: 5px 0;
  z-index: -1;
}

.label {
  @include font-function('Lato', normal, 12px, 14px, #a7abb9);
  font-weight: 400;
}

.value {
  @include font-function('Lato', normal, 12px, 14px, $black-55);
  font-weight: 700;
}

.view-button {
  background: $purple-bf;
  border-radius: 13.5px;
  width: 90.82px;
  height: 27px;
}

.button-content {
  @include font-function('Lato', normal, 12px, 14px, $white);
  font-weight: 700;
}
