<mat-card>
  <mat-card-content fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <span class="label">Transaction No.</span>
      <span class="value">{{ transaction.transactionRefNum }}</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <span class="label">Owner ID</span>
      <span class="value">{{ transaction.ownerId }}</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <span class="label">Type</span>
      <span class="value">{{ transaction.transactionType | uppercase }}</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <span class="label">Status</span>
      <span class="value">{{ transaction.statusType | uppercase }}</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <span class="label">Last Modified</span>
      <span class="value">{{
        transaction.transactionStatusDate | date: 'dd MMM yyyy'
      }}</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="end">
      <button mat-button class="view-button">
        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          class="button-content"
          fxLayoutGap="5px"
        >
          <mat-icon>visibility</mat-icon>
          <span>View</span>
        </div>
      </button>
    </div>
  </mat-card-content>
</mat-card>
