<header
  class="lta-logo-wrapper"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div class="back-button">
    <button mat-icon-button (click)="goBackToDealerDashboard()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <div>
    <img
      src="../../../assets/images/lta-logo.svg"
      alt="lta-logo"
      width="auto"
      height="auto"
    />
  </div>
  <div class="spacer">
    <button mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
</header>
