<div class="selection-container" fxLayout="row" fxLayoutGap="20px">
    <app-formula-card-select
      (selectionChange)="onSelectionChange($event)"
      [options]="options"
    ></app-formula-card-select>
    <app-formula-card-export></app-formula-card-export>
    <div class="legend">
      <app-formula-card-legend></app-formula-card-legend>
    </div>
  </div>

  <div>
    <app-special-tax-diesel *ngIf="showSpecialTax" (proceedButtonClick)="submit($event)" (saveDraft)="saveDraft($event)"></app-special-tax-diesel>
</div>

<div>
  <app-rebates-diesel *ngIf="showRoadTaxRebates" (proceedButtonClick)="submit($event)" (saveDraft)="saveDraft($event)"></app-rebates-diesel>
</div>

<div>
  <app-additional-charge-diesel *ngIf="showAdditionalRoadTax" (proceedButtonClick)="submit($event)" (saveDraft)="saveDraft($event)"></app-additional-charge-diesel>
</div>
