@import '../../../styles/main.scss';

p {
  @include font-function('Lato', normal, 16px, 19px, $black-55);
}

.note {
  @include font-function('Lato', normal, 13px, 18px, $black-55);
  margin-bottom: 22px;
}

.fill-dropdown {
  margin-bottom: 10px;
}

.fill-page-button-wrapper {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 30px;
}


.fill-buttons {
   margin: 30px 0;
}

.saveasdraft {
  margin: 0 10px;
}

.errormessage {
  color: red;
}
