$white: #fff;
$black-29: #00000029;
$black-heading: #4e4f6c;
$global-purple: #3f4ea2;
$grey-f8: #f8f8f8;
$black-bd: #bdbdbd;
$purple-bf: #6471bf;
$purple-c5: #636fc5;
$purple-48: #222348;
$warning-red: #f60d0d;
$singpass-red: #f4333d;
$grey-ab: #a6a8ab;
$black-55: #3e3b55;
$red-22: #e23022;
$grey-ab: #a6a8ab;
$grey-f6: #e9edf6;
$grey-a6: #9d9fa6;
$black-11: #111111;
$blue-toolbar: #6371bf;
$yellow-55: #f8cc55;
$blue-f8: #3179f8;
$disabled-grey: #1b26381a;
$black: #000;
$grey-f5: #f5f5f5;
$grey-f7: #f7f7f7;
$white-f0: #f0f0f0;
$grey-5a: #5a5a5a;
$grey-f1: #f1f1f1;
$yellow-45: #efc145;
$black-30: #303030;
$black-40: #00000040;
