.register-form-labels {
  @include font-function('Lato', normal, 12px, 14px, $grey-ab);
  sup {
    color: $red-22;
    font-size: 16px;
    vertical-align: top;
    position: relative;
    top: 4px;
  }
}

.form-input-common-style {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  padding: 0 16px;
  margin-bottom: 10px;
  border-width: 1px;
  border-color: $black-55;
  border-style: solid;
  border-radius: 4px;
  outline: none;
  margin-top: 5px;
  @include font-function('Lato', normal, 16px, 20px, $black-55);
  ::-webkit-input-placeholder {
      font-size: 16px;
  }
}

button {
  cursor: pointer;
  border: 0;
  outline: none;
}

.owner-review-headers {
  margin: 15px 0;
  padding-bottom: 15px;
  box-shadow: 0 4px 4px $black-40;
}
