/* You can add global styles to this file, and also import other style files */

@import "fonts.scss";
@import "mixins.scss";
@import "colors.scss";
@import "global.scss";
@import "material-override.scss";

html, body { height: 100%; }
body { margin: 0; font-family: 'Lato', 'Helvetica Neue', sans-serif; }


