
.register-page-wrapper {
  .mat-step-header.mat-horizontal-stepper-header {
    padding: 24px 1px;
  }
  .mat-horizontal-content-container {
    padding: 0;
  }
  .mat-step-label {
    margin-top: -11px;
    font-size: 10px;
  }
  .mat-step-text-label {
    overflow: visible;
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
  }
  .mat-select {
    font-family: 'Lato';
  }
  .mat-form-field {
    display: block;
    @include font-function('Lato', normal, 16px, 20px, $black-55);
    border: 1px solid $black-55;
    border-radius: 4px;
    padding: 3px 16px;
    margin-top: 5px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 7px;
  }
  .mat-form-field-infix {
    border-top: 0;
  }
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label,
  .mat-form-field-appearance-legacy.mat-form-field-can-float
    .mat-input-server:focus
    + .mat-form-field-label-wrapper
    .mat-form-field-label {
    transform: none !important;
    color: transparent;
  }
}

// .mat-form-field.mat-focused .mat-form-field-label {
//   color: transparent;
// }

//disbale header stepper
.mat-step-header {
  pointer-events: none;
}

//expansion panel

.mat-expansion-panel-header-description {
  margin-right: 0;
}

.mat-expansion-panel-header {
  padding: 0 16px;
  border-bottom: 1px solid $grey-a6;
  border-radius: 0;
  }

  .mat-expansion-panel-body {
  padding: 16px 16px 0 16px !important;
  }

  .mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
  }

  .mat-expansion-panel-content {
  margin-top: 10px;
  @include font-function('Lato', normal, 16px, 19px, $black-55);
  }

  .mat-expansion-indicator::after {
    color: $white !important;
}

