@mixin font-function($font-family, $font-style, $font-size, $line-height, $color) {
    font-family: $font-family;
    font-style: $font-style;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}

