$white: #fff;
$black-29: #00000029;
$black-heading: #4e4f6c;
$global-purple: #3f4ea2;
$grey-f8: #f8f8f8;
$black-bd: #bdbdbd;
$purple-bf: #6471bf;
$purple-c5: #636fc5;
$warning-red: #f60d0d;
$red-22: #e23022;
$black-55: #3e3b55;
$grey-ab: #a6a8ab;
$grey-f6: #e9edf6;
$grey-a6: #9d9fa6;
$black-11: #111111;
$black-6c: #4e4f6c;
$yellow-55: #f8cc55;
$grey-56: #f5f5f6;
$white-fd: #ebeefd;
$white-dd: #dddddd;
