@import 'fonts.scss';
@import 'mixins.scss';
@import 'colors.scss';
@import 'material-override.scss';
@import 'global.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}
