<ng-container *ngIf="hasLoaded">
  <app-header
    [vehicleIds]="vehicleIds"
    (vehicleIdChange)="vehicleIdChange($event)"
  ></app-header>
  <app-card [vehicle]="vehicle"></app-card>
</ng-container>
