<label class="register-form-labels">Vitas Approval Code</label>
<p>{{vehicleDetails?.vitasApprovalCode}}</p>

<label class="register-form-labels">Vehicle Type</label>
<p>{{vehicleDetails?.vehicleType}}</p>

<label class="register-form-labels">Vehicle Scheme</label>
<p>{{vehicleDetails?.vehicleScheme}}</p>

<label class="register-form-labels">Vehicle Attachment 1</label>
<p>{{  filterVehicleNameById(vehicleDetails?.attachmentOne) }}</p>

<label class="register-form-labels">Vehicle Attachment 2</label>
<p>{{  filterVehicleNameById(vehicleDetails?.attachmentTwo) }}</p>

<label class="register-form-labels">Vehicle Attachment 3</label>
<p>{{  filterVehicleNameById(vehicleDetails?.attachmentThree) }}</p>

<label class="register-form-labels">Vehicle Make</label>
<p>{{vehicleDetails?.vehicleMake}} </p>

<label class="register-form-labels">Vehicle Model</label>
<p>{{vehicleDetails?.vehicleModel}}</p>

<label class="register-form-labels">Propellant</label>
<p>{{vehicleDetails?.propellant}}</p>

<label class="register-form-labels">Passenger Capacity</label>
<p>{{vehicleDetails?.passengerCapacity}}</p>

<label class="register-form-labels">Power Rating</label>
<p>{{vehicleDetails?.powerRating}}</p>

<label class="register-form-labels">Maximum Power Output</label>
<p>{{vehicleDetails?.maximumPowerOutput}}</p>

<label class="register-form-labels">No. of Axles</label>
<p>{{vehicleDetails?.numberOfAxles}} </p>

<label class="register-form-labels">Front/Rear Type Information</label>
<p>{{vehicleDetails?.tyreInformation}} </p>

<label class="register-form-labels">Unladen Weight</label>
<p>{{vehicleDetails?.unladenWeight}} </p>

<label class="register-form-labels">Maximum Unladen Weight</label>
<p>{{vehicleDetails?.maximumUnladenWeight}} </p>

<label class="register-form-labels">Emission Standard Code</label>
<p>{{vehicleDetails?.emissionStandardCode}} </p>

<label class="register-form-labels">CO2 Emission</label>
<p>{{vehicleDetails?.carbonDioxideEmission}} </p>

<label class="register-form-labels">CO Emission</label>
<p>{{vehicleDetails?.carbonMonoxideEmission}} </p>

<label class="register-form-labels">HC Emission</label>
<p>{{vehicleDetails?.hydroCarbonEmission}} </p>

<label class="register-form-labels">NOx Emission</label>
<p>{{vehicleDetails?.nitrousOxideEmission}} </p>

<label class="register-form-labels">PM Emission</label>
<p>{{vehicleDetails?.pmEmission}} </p>

<label class="register-form-labels">Primary Colour</label>
<p>{{vehicleDetails?.primaryColour === null ? '-' : vehicleDetails?.primaryColour }} </p>

<label class="register-form-labels">Secondary Colour</label>
<p>{{vehicleDetails?.secondaryColour === null ? '-' : vehicleDetails?.secondaryColour}} </p>

<label class="register-form-labels">Manufacturing Year</label>
<p>{{vehicleDetails?.manufacturingYear === null ? '-' : vehicleDetails?.manufacturingYear}} </p>

<label class="register-form-labels">First Registration Date</label>
<p>{{vehicleDetails?.firstRegistrationDate === null || '' ? '-' : vehicleDetails?.firstRegistrationDate}} </p>

<label class="register-form-labels">Original Registration Date</label>
<p>{{vehicleDetails?.originalRegistrationDate === null ? '-' : vehicleDetails?.originalRegistrationDate}} </p>

<label class="register-form-labels">Chasis No.</label>
<p>{{vehicleDetails?.chassisNumber === null ? '-' : vehicleDetails?.chassisNumber}} </p>

<label class="register-form-labels">Engine No.</label>
<p>{{vehicleDetails?.engineNumber === null ? '-' : vehicleDetails?.engineNumber}} </p>

<label class="register-form-labels">Motor No.</label>
<p>{{vehicleDetails?.motorNumber === null ? '-' : vehicleDetails?.motorNumber}} </p>

<label class="register-form-labels">Trailer Chassis No.:</label>
<p>{{vehicleDetails?.motorNumber === null ? '-' : vehicleDetails?.originalRegistrationDate}} </p>
