<app-dashboard-greeting></app-dashboard-greeting>
<app-card [card]="dueDates"></app-card>
<app-table [link]="url" (routeTo)="goToViewDetails($event)" [userType]="userType" *ngIf="transactions"
  [transactionDetails]="transactions" (sort)="sortList($event)" (filter)="filterList($event)"></app-table>

<app-pagination (pageMove)="onPageMove($event)" [pageNo]="pageNo"></app-pagination>