<form>
    <label class="register-form-labels">Owner ID:</label>
    <p>{{ ownerDetails && ownerDetails.ownerId !== ''
        ? ownerDetails.ownerId
        : '-' }}
    </p>


    <label class="register-form-labels">Owner Name:</label>
    <p>{{ ownerDetails && ownerDetails.ownerName !== ''
        ? ownerDetails.ownerName
        : '-'  }}
    </p>
</form>
