@import "../../../styles/main.scss";

.closeIcon {
  float: right;
}

#overlay {
  position: relative;
  width:100%;
  text-align: center;
  display: table;
  margin-top:50px;
}

.img{
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 80px;
}

.title {
  @include font-function("Lato-bold", normal, 25px, 30px, $blue-bf);
  font-weight: 900;
  text-align: center;
  vertical-align: top;
  margin-top: 125px;
}

.details {
  @include font-function("Lato", normal, 14px, 17px, $blue-bf);
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
