<img
  class="closeIcon"
  mat-button
  (click)="onClose()"
  src="../../../assets/images/close-logo.svg"
/>

<div id="overlay">
  <img class="img" src="{{ data.icon }}" alt="approve"/>
  <img class="img" src="{{ data.tick }}" alt="approve"/>
</div>

<div mat-dialog-title class="title">{{ data.title }}</div>
<div mat-dialog-content class="details">{{ data.details }}</div>

<div mat-dialog-actions align="center" (click)="back()">
  <app-button-dialog [btnConfig]="dashboardButtonConfig"></app-button-dialog>
</div>
