<img class="closeIcon" (click)="onClose()"
  src="../../../assets/images/close-logo.svg"
  alt="close"
/>

<div class="titleLabel" mat-dialog-title>Reject Application</div>
<div class="transactionLabel" mat-dialog-title>{{data.details}}</div>

<div class="remarksLabel" mat-dialog-title>Remarks</div>
<!-- <app-input-box></app-input-box> -->
<mat-form-field class="textInput" appearance="outline">
  <mat-label class="placeholderLabel">Remarks goes here..</mat-label>
  <textarea
    class="remarksInput"
    matInput
    rows="10"
    [ngModel]="remarksControl.value"
  ></textarea>
</mat-form-field>

<div class="messageLabel" mat-dialog-title>
  Select a message or type your own above
</div>

<mat-button-toggle-group
  [formControl]="remarksControl"
  appearance="legacy"
  class="toggleGroup"
>
  <mat-button-toggle value="Vehicle particulars are incorrect"
    >Vehicle particulars are incorrect</mat-button-toggle
  >
  <mat-button-toggle value="Wrong vehicle model registered"
    >Wrong vehicle model registered</mat-button-toggle
  >
  <mat-button-toggle value="Incorrect vehicle colour"
    >Incorrect vehicle colour</mat-button-toggle
  >
</mat-button-toggle-group>

<div mat-dialog-actions align="center">
  <app-button mat-raised-button (click)="onClose()" [btnConfig]="proceedButtonConfig"></app-button>
</div>

