<div class="wrapper">
  <header fxLayout="row" fxLayoutAlign="space-between end">
    <div
      fxLayout="row"
      [fxLayoutGap]="settings.hasSelectOptions ? '4px' : '109px'"
    >
      <app-formula-card-select
        *ngIf="settings.hasSelectOptions; else headerText"
        [options]="options"
        (selectionChange)="onSelectionChange($event)"
      ></app-formula-card-select>
      <app-formula-card-export [data]="exportData"></app-formula-card-export>
    </div>
    <app-formula-card-legend></app-formula-card-legend>
  </header>
  <app-header-table-divider></app-header-table-divider>
  <app-contextual-table
    [headers]="headers"
    [fees]="fees"
    [submitButtonText]="settings.submitButtonText"
    [hasPreviewButton]="settings.hasPreviewButton"
    [hasSaveAsDraftButton]="settings.hasSaveAsDraftButton"
    (addRow)="onAddRow()"
    (removeRow)="onRemoveRow($event)"
    (proceedButtonClick)="onProceedButtonClick($event)"
    (toggleCollapse)="onToggleCollapse($event)"
    (addNewValueClick)="onAddNewValueClick($event)"
    (datepickerChange)="onDatepickerChange($event)"
    (inputChange)="onInputChange($event)"
    (remarksFieldChange)="onRemarksFieldChange($event)"
    (approveCheckboxChange)="onApproveCheckboxChange($event)"
    (saveAsDraft)="onSaveAsDraft($event)"
  ></app-contextual-table>
</div>
<ng-template #headerText>
  <div fxLayout="column" fxLayoutAlign="end">
    <app-header-text [text]="settings.headerText"></app-header-text>
  </div>
</ng-template>
