@import '../../../../styles/main.scss';

.mat-card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 23px 28px 5px 28px;
  margin-bottom: 32px;
}

.rectangle {
  background: #eaeaea;
  padding: 15px 19px;
  margin-bottom: 17px !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.label {
  @include font-function('Lato', normal, 12px, 14px, $black-55);
}

.value {
  @include font-function('Lato', normal, 18px, 22px, $black-55);
  font-weight: 700;
  line-height: 22px;
}
