<mat-card>
  <mat-card-content fxLayout="column" fxLayoutGap="15px">
    <app-text-group
      label="Vehicle Type"
      [value]="vehicle?.vehicleType"
    ></app-text-group>
    <ng-container *ngIf="vehicle?.vehicleType === 'PMD'; else notPmd">
      <app-text-group
        label="E-scooter Make"
        [value]="vehicle?.pmdMake"
      ></app-text-group>
      <app-text-group
        label="E-scooter Model"
        [value]="vehicle?.pmdModel"
      ></app-text-group>
      <app-text-group
        label="E-scooter Color"
        [value]="vehicle?.pmdColour"
      ></app-text-group>
      <app-text-group
        label="Safety Standard Serial Number"
        [value]="vehicle?.safetyStandardSerialNum"
      ></app-text-group>
    </ng-container>
    <ng-template #notPmd>
      <div class="no-margin-bottom">
        <app-text-group
          label="Make/model"
          [value]="vehicle?.vehicleMakeModel"
          pipe="uppercase"
        ></app-text-group>
        <app-view text="View vehicle details" color="yellow"></app-view>
      </div>
      <app-text-group
        label="IU Label No."
        [value]="'1234567890'"
      ></app-text-group>
      <app-text-group
        label="COE value if deregistered today*"
        [value]="'$99,999.00'"
      ></app-text-group>
      <app-text-group
        label="PARF value if deregistered today"
        [value]="'$99,999.00'"
      ></app-text-group>
      <div class="rectangle" fxLayout="column" fxLayoutGap="14px">
        <div fxLayout="column" fxLayoutGap="3px">
          <span class="label">Road tax is valid until</span>
          <span
            class="value"
          >{{ vehicle?.roadTaxValidTo | date: "dd MMMM yyyy" }}</span
          >
        </div>
        <div fxLayout="column" fxLayoutGap="3px">
          <span class="label">COE expires on</span>
          <span
            class="value"
          >{{ '2022-12-08' | date: "dd MMMM yyyy" }}</span
          >
        </div>
        <ng-template #isEmpty>
          <div class="value">&nbsp;</div>
        </ng-template>
      </div>
      <app-text-group
        label="6 months renewal"
        [value]="'$605.00'"
      ></app-text-group>
      <div class="no-margin-bottom">
        <app-text-group
          label="12 months renewal"
          [value]="'$1,210.00'"
        ></app-text-group>
        <app-view text="View past receipt" color="blue"></app-view>
      </div>
      <div class="no-margin-bottom">
        <app-text-group label="Renew by Giro" [value]="'No'"></app-text-group>
        <button style="background: none; margin-left:-8px" type="button" (click)="renewRoadTax()">
          <app-view text="Renew road tax" color="blue"></app-view>
        </button>
      </div>
      <app-text-group
        label="Insurance valid till"
        [value]="'2022-05-11'"
        pipe="date"
      ></app-text-group>
    </ng-template>
    <div class="no-margin-bottom">
      <app-text-group
        label="Inspecton valid till"
        [value]="'2023-05-02'"
        pipe="date"
      ></app-text-group>
      <app-view
        text="Transfer vehicle"
        [color]="setBlueButtonColor(vehicle?.vehicleType)"
      ></app-view>
    </div>
    <ng-container *ngIf="vehicle?.vehicleType !== 'PMD'">
      <div class="rectangle no-margin-bottom">
        <span class="label"
        >*Deregistered vehicles exported within 2 years of registration will
          have their COE rebate capped at 80% of the Quota Premium (QP) paid.
          For vehicles with a Category E COE, the COE rebate is capped at 80% of
          whichever is lower - the QP of the COE you paid for, or the QP of the
          category your vehicle belongs to form the same COE bidding
          exercise.</span
        >
      </div>
    </ng-container
    >
    <div *ngIf="vehicle?.vehicleType !== 'PMD'">
      <button style="background: none; margin-left:-8px" type="button" (click)="onDeregisterVehicle()">
        <app-view
          text="Deregister vehicle"
          [color]="setBlueButtonColor(vehicle?.vehicleType)"
        ></app-view>
      </button>
    </div>

  </mat-card-content>
</mat-card>
