@import '../../../../styles/main.scss';

.icons {
  color: $purple-bf;
}

.mat-divider {
  border: 2px solid $purple-bf;
}

:host::ng-deep .status .mat-select-placeholder,
:host::ng-deep .status .mat-select-value-text {
  @include font-function('Lato', normal, 16px, 19px, $purple-bf);
  font-weight: 900;
}

:host::ng-deep .status div.mat-form-field-outline-start,
:host::ng-deep .status .mat-form-field-outline-gap,
:host::ng-deep .status .mat-form-field-outline-end {
  border-width: 0 !important;
}

.mat-form-field {
  margin: -1.25em 0 !important;
}

:host::ng-deep .icon .mat-select-value,
:host::ng-deep .icon .mat-select-arrow-wrapper {
  display: none;
}

:host::ng-deep .mat-button-focus-overlay {
  background-color: transparent !important;
}

form {
  padding: 0 10px;
}

:host::ng-deep .mat-select-arrow-wrapper {
  vertical-align: unset;
}

@media (max-width: 349px) {
  .mat-form-field {
    width: 65%;
  }
}

@media (min-width: 350px) and (max-width: 399px) {
  .mat-form-field {
    width: 240px;
  }
}

@media (min-width: 400px) {
  .mat-form-field {
    width: 250px;
  }
}
