<form
  [formGroup]="filterForm"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <mat-form-field class="status" appearance="outline">
    <mat-select
      formControlName="statusType"
      (selectionChange)="onFilterChange()"
      [placeholder]="'My Latest Transactions ' + '(' + stats[3].value + ')'"
    >
      <mat-option
        *ngFor="let statusLabel of statuses"
        [value]="statusLabel.value"
        >{{ statusLabel.label }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <div class="icons">
    <button
      mat-icon-button
      matTooltip="Sort Transaction Date/Time"
      (click)="sortDirectionSelect.open()"
      class="icon"
    >
      <mat-icon>import_export</mat-icon>
      <mat-select
        #sortDirectionSelect
        (selectionChange)="onFilterChange()"
        formControlName="sortDirection"
      >
        <mat-option
          *ngFor="let sortDate of sortDirectionSortDates; let i = index"
          [value]="sortDate.value"
        >
          {{ sortDate.label }}
        </mat-option>
      </mat-select>
    </button>
    <button
      mat-icon-button
      matTooltip="Filter Transaction Type"
      (click)="transactionTypeSelect.open()"
      class="icon"
    >
      <mat-icon>filter_list</mat-icon>
      <mat-select
        #transactionTypeSelect
        (selectionChange)="onFilterChange()"
        formControlName="schemeType"
      >
        <mat-option
          *ngFor="let transactionType of transactionTypes; let i = index"
          [value]="transactionType.value"
        >
          {{ transactionType.label }}
        </mat-option>
      </mat-select>
    </button>
  </div>
</form>
<mat-divider></mat-divider>
