@import "../../../styles/main.scss";

.button-font-16 {
  @include font-function("Lato", normal, 16px, 19px, $blue-bf);
}

.commonButton {
  border-radius: 7px;
  width: 100%;
}

.arrowIcon {
  float: right;
}

.proceedButton {
  @include font-function("Lato", normal, 16px, 19px, $white);
  font-weight: 400;
  height: 50px;
  width: 200px;
  background-color: $blue-bf;
  border-radius: 7px;
  text-align: left;
  border: none;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
}

.dashboardButton {
  @include font-function("Lato", normal, 16px, 19px, $white);
  font-weight: 400;
  height: 50px;
  width: 200px;
  background-color: $blue-bf;
  border-radius: 7px;
  text-align: left;
  border: none;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  margin-top:75px;
}
