<button class="back-arrow" (click)="clickBackPrevious()">
  <mat-icon>arrow_back</mat-icon>
</button>
<div>
  <div class="page-header-title">Request e-Receipt (Optional)</div>
</div>
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header class="exp-header">
    <mat-panel-title class="panel-header-title">
      <div class="header-panel">Email address</div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="label-title">
    Enter your email address to receive e-Receipt
  </div>
  <div>
    <input type="text" [formControl]="email" [(ngModel)]="emailAddress" class="email-text-area" />
    <div *ngIf="email.invalid" class="error-text">{{getErrorMessage()}}</div>
  </div>
</mat-expansion-panel>
<div fxLayout="column ">
  <div class="panel-header-title">
    PAY VIA <span class="select-one">(select one)</span>
  </div>
  <mat-button-toggle-group appearance="legacy" class="toggleGroup" [(ngModel)]="paymentMethod">
    <mat-button-toggle value="eNETS (internet banking) ">eNETS (internet banking)
    </mat-button-toggle>
    <mat-button-toggle value="eNETS Credit Card">eNETS Credit Card</mat-button-toggle>
    <div class="label-title">Additional Payment Methods</div>
    <mat-button-toggle value="SGQR PayNow">SGQR PayNow</mat-button-toggle>
    <mat-button-toggle value="Google Pay">Google Pay</mat-button-toggle>
    <mat-button-toggle value="Paypal">Paypal</mat-button-toggle>
  </mat-button-toggle-group>


</div>


<div fxLayout="row" style="margin-top:20px" fxLayoutAlign="space-between center">
  <app-button (click)="clickBackPrevious()" [btnConfig]="backButtonConfig"></app-button>
  <button fxLayout="row" fxLayoutAlign="space-between stretch" type="button" class="pay-btn " (click)="clickPay()">
    Make Payment
    <mat-icon>arrow_right_alt</mat-icon>
  </button>
</div>
