@import '../../../styles/main.scss';

.back-arrow {
  border: none;
  background: none;

  .mat-icon {
    color: $blue-bf;
  }
}

.transaction-header {
  @include font-function("Lato", normal, 30px, 36px, $globalappcolor);
  font-weight: 900;
  text-transform: uppercase;

}

.review-heading {
  margin-bottom: 30px;
}

.review-text {
  @include font-function("Lato-Bold", normal, 18px, 22px, $globalappcolor);
  font-weight: normal;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.box > * {
  flex: 1 1 33%;
}


.detailsInput {
  @include font-function("Lato-Bold", normal, 16px, 19px, $black-55);

}

.register-form-labels {
  @include font-function('Lato', normal, 12px, 14px, $grey-ab);

  sup {
    color: $red-22;
    font-size: 16px;
    vertical-align: top;
    position: relative;
    top: 4px;
  }
}

table {
  width: 100%;
}

.spacing-between {
  margin-top: 20px;
}

.reject-btn {
  @include font-function('Lato', normal, 18px, 22px, $blue-bf);
  box-sizing: border-box;
  background-color: $white;
  padding: 15px 33px;
  width: 20%;
  outline: 0;
  border-radius: 7px;
  margin-right: 10px;
  border: 1px solid $blue-bf;

}

.approve-btn {
  @include font-function('Lato', normal, 18px, 22px, $white);
  box-sizing: border-box;
  background-color: $purple-c5;
  padding: 15px 33px;
  width: 20%;
  outline: 0;
  border: none;
  border-radius: 7px;
}

.mat-expansion-panel-header-description {
  flex-direction: column;
}

.expansion-container {
  background-color: $white;
  padding: 10px;
}

.lta-id-img {
  margin: 20px 0;
}

.review-table-margin {
  margin-bottom: 30px;
}

.mat-progress-bar {
  height: 15px;
  width: 31%;
  margin-left: auto;
}

button {
  border: 0;
  outline: none;
  cursor: pointer
}

.mat-button-toggle {
  background-color: gainsboro;
  border: 1px solid black;
  color: black;
}

  .mat-button-toggle-checked.yes-toggle {
    background-color: darkseagreen;
    border: 1px solid black;
    color: white;
  }

  .mat-button-toggle-checked.no-toggle {
    background-color: red;
    border: 1px solid black;
    color: white;
  }

.mat-cell {
  padding: 8px 8px 8px 0;
}


