<div class="common-margin">
    <div class="review-heading" fxLayout="row" fxLayoutAlign="flex-start center">
        <div>
            <div class="transaction-header">TRANSACTION NO.:{{transactionId}}</div>
            <div class="review-text">Review Pending Vehicle Registration Application</div>
        </div>
        <mat-progress-bar mode="determinate" [value]="likelihoodOfApproval"></mat-progress-bar>
        <div class="review-text">{{ likelihoodOfApproval }}%</div>

    </div>
    <div class="expansion-container" fxLayout="column">
        <!-- Information -->
        <mat-expansion-panel *ngFor="let labelName of labelExpansionDetails">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{labelName.headerName}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <div class="box">
                    <ng-container *ngFor="let info of labelName.labelInfo; let i=index">
                        <div fxLayout="column">
                            <div class="register-form-labels">
                                <p>{{info}}:</p>
                            </div>
                            <div class="detailsInput">
                                <p>{{labelName.labelDetails[i]}}</p>
                            </div>
                        </div>
                    </ng-container>
                </div>

                <div *ngIf="diplomaScheme">
                    <div *ngIf="labelName.headerName==='VEHICLE PARTICULARS'">
                        <div fxLayout="row">
                            <img class="lta-id-img" [src]="this.imageSrc" alt="image" width="100%" height="100%">
                        </div>
                        <div class="review-table-margin" fxLayout="row">
                            <table mat-table [dataSource]="diplomaticIdDataSource" class="mat-elevation-z8">
                                <ng-container matColumnDef="documentField">
                                    <th scope="col" mat-header-cell *matHeaderCellDef> Document Field</th>
                                    <td mat-cell *matCellDef="let element"> {{element.documentField}} </td>
                                </ng-container>

                                <ng-container matColumnDef="approveCriteria">
                                    <th scope="col" mat-header-cell *matHeaderCellDef>Approve Criteria</th>
                                    <td mat-cell *matCellDef="let element"> {{element.approveCriteria}} </td>
                                </ng-container>

                                <ng-container matColumnDef="retrievedValue">
                                    <th scope="col" mat-header-cell *matHeaderCellDef>Retrieved Value</th>
                                    <td mat-cell *matCellDef="let element"> {{element.retrievedValue}} </td>
                                </ng-container>

                                <ng-container matColumnDef="confidenceScore">
                                    <th scope="col" mat-header-cell *matHeaderCellDef>Confidence Score</th>
                                    <td mat-cell *matCellDef="let element"> {{element.confidenceScore}} </td>
                                </ng-container>

                                <ng-container matColumnDef="result">
                                    <th scope="col" mat-header-cell *matHeaderCellDef>Result</th>
                                    <td mat-cell *matCellDef="let element; let i = index">
                                        <mat-button-toggle-group [value]="element.result" class="app-toggle-button">
                                            <mat-button-toggle [class.yes-toggle]="documentResult.value === 1"
                                                               [class.no-toggle]="documentResult.value === 2"
                                                               *ngFor="let documentResult of documentResultList"
                                                               [value]="documentResult.value" (change)="updateIDToggle(i, documentResult.value)">{{ documentResult.name }}</mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>

                        <div fxLayout="row">
                            <img class="lta-id-img" [src]="this.imageSrc2" alt="image" width="70%" height="70%">
                        </div>
                        <div class="review-table-margin" fxLayout="row">
                            <table mat-table [dataSource]="mfaApprovalLetterDataSource" class="mat-elevation-z8">
                                <ng-container matColumnDef="documentField">
                                    <th mat-header-cell *matHeaderCellDef> Document Field</th>
                                    <td mat-cell *matCellDef="let element"> {{element.documentField}} </td>
                                </ng-container>

                                <ng-container matColumnDef="approveCriteria">
                                    <th mat-header-cell *matHeaderCellDef> Approve Criteria</th>
                                    <td mat-cell *matCellDef="let element"> {{element.approveCriteria}} </td>
                                </ng-container>

                                <ng-container matColumnDef="retrievedValue">
                                    <th scope="col" mat-header-cell *matHeaderCellDef>Retrieved Value</th>
                                    <td mat-cell *matCellDef="let element"> {{element.retrievedValue}} </td>
                                </ng-container>

                                <ng-container matColumnDef="confidenceScore">
                                    <th scope="col" mat-header-cell *matHeaderCellDef>Confidence Score</th>
                                    <td mat-cell *matCellDef="let element"> {{element.confidenceScore}} </td>
                                </ng-container>

                                <ng-container matColumnDef="result">
                                    <th mat-header-cell *matHeaderCellDef> Result</th>
                                    <td mat-cell *matCellDef="let element; let i = index">
                                        <mat-button-toggle-group [value]="element.result" class="app-toggle-button">
                                            <mat-button-toggle [class.yes-toggle]="documentResult.value === 1"
                                                               [class.no-toggle]="documentResult.value === 2"
                                                               *ngFor="let documentResult of documentResultList"
                                                               [value]="documentResult.value" (change)="updateMfaToggle(i, documentResult.value)" >{{ documentResult.name }}</mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>

                    </div>
                </div>
            </mat-panel-description>
        </mat-expansion-panel>
    </div>

    <div *ngIf="showApproveReject">
        <div fxLayout="row" class="spacing-between" fxLayoutAlign="end stretch">
            <button fxLayout="row" fxLayoutAlign="space-around stretch" type="button"
                    class="reject-btn" (click)="rejectBtn()">
                <img src="../../assets/images/x_reject_button.svg" alt="reject" width="auto" height="auto"/>Reject
            </button>
            <button fxLayout="row" fxLayoutAlign="space-between stretch" type="button"
                    class="approve-btn" (click)="approveBtn()">
                <img src="../../assets/images/tick_approve.svg" alt="approve" width="auto" height="auto"/>Approve
            </button>
        </div>
    </div>

</div>
<app-modal></app-modal>
