<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
  #drawer
  class="sidenav"
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="isMenuOpen">
    
      <div
        class="intro"
        fxLayout="row" fxLayoutAlign="center center"
        fxLayoutGap="15px"
      >
        <div class="dp-frame"></div>
        <div class="dp-name">
            <div *ngFor = "let i of userdetails;">
               <b>{{i.name}}</b>
               <div>{{i.id}}</div>
            </div>
        </div>
      </div>
  
      <mat-nav-list>
        <div *ngFor = "let i of sidenavdetails" class="margin-navitem">
        <a mat-list-item [routerLink]="[i.link]" routerLinkActive="is-active">
          <div class="dashboard-icon">
            <mat-icon>{{i.icon}}</mat-icon>
            <div>{{i.name}}</div>
          </div>
        </a> 
      </div>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>      
      <router-outlet></router-outlet>
    
    </mat-sidenav-content>
  </mat-sidenav-container>
  