@import "../../../styles/main.scss";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  background-color: $globalappcolor;

}

.sidenav .mat-toolbar {
  background-color: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-list-base .mat-list-item {
  color: #fff;
}

.mat-sidenav-content {
  margin: 0 0 50px;
  padding: 0 50px 0 30px;
}

.dashboard-icon {
  display: flex;
  align-items: center;
}

.intro {
   margin: 50px 16px;
}

.dp-name {
  color: white;
  font-size: 14px;
}

.dp-frame {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
}

button {
padding: 0 16px;
display: flex;
justify-content: left;
text-align: left;
align-items: center;
cursor: pointer;
-webkit-tap-highlight-color: transparent;
width: 100%;
font-size: 16px;
color: white;
margin-bottom: 50px;
}

.mat-icon {
  margin-right: 15px;
}

.welcome-note {
  color: $globalappcolor;
  margin-bottom: 50px;
}

.welcome-text {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.date-text {
  font-size: 20px;
}

.mat-list-option:hover, .mat-list-option:focus, .mat-nav-list .mat-list-item:hover, .mat-nav-list .mat-list-item:focus, .mat-action-list .mat-list-item:hover, .mat-action-list .mat-list-item:focus {
  color: $globalappcolor !important;
  background-color: #fff;
  border-radius: 50px 0 0 50px;

}

.is-active {
  color: $globalappcolor !important;
  background-color: #fff;
  border-radius: 50px 0 0 50px;
}

.margin-navitem {
  margin: 15px 0;
}

.greeting-msg {
  @include font-function("Lato-Bold", normal, 30px, 36px, $globalappcolor);
}

.day {
  @include font-function("Lato", normal, 14px, 17px, $globalappcolor);
  margin-bottom: 30px;
}




