<button class="back-arrow" (click)="clickBackPrevious()">
  <mat-icon>arrow_back</mat-icon>
</button>
<div class="vehicle-details-header">Review payment details</div>

<div fxLayout='column' fxLayoutGap="10px">
  <div>
    <div class="label-input" fxFlex="75">Vehicle Number</div>
    <div class="details-input" fxFlex="30">{{vehicleRoadTaxRenewal?.vehicleNumber}}</div>
  </div>
  <div>
    <div class="label-input" fxFlex="75">Current Expiry Date</div>
    <div class="details-input" fxFlex="30">{{vehicleRoadTaxRenewal?.expiryDate}}</div>
  </div>
  <div>
    <div class="label-input" fxFlex="75">New Expiry Date</div>
    <div class="details-input" fxFlex="30">{{extendedDate}}</div>
  </div>

  <div class="line-divider"></div>
  <div class="top-spacing">
    <div *ngFor="let baseRoadTaxAmount of roadTaxPayment?.baseRoadTaxAmountBreakdown">
      <div class="break-down-margin">
        <div class="label-input" fxFlex="75">{{ baseRoadTaxAmount?.Name }}</div>
        <div class="details-input" fxFlex="30">{{ baseRoadTaxAmount?.Amount }}</div>
      </div>
    </div>
  </div>
  <div class="top-spacing">
    <div class="label-input" fxFlex="75">Total Surcharge</div>
    <div class="details-input" fxFlex="30">{{ roadTaxPayment?.surcharge }}</div>
  </div>
  <div>
    <div class="label-input" fxFlex="75">Total Late Renewal Fee</div>
    <div class="details-input" fxFlex="30">{{ roadTaxPayment?.lateFee }}</div>
  </div>
  <div>
    <div class="label-input" fxFlex="75">Total</div>
    <div class="details-input" fxFlex="30">{{ roadTaxPayment?.finalRoadTaxAmount }}</div>
  </div>
</div>

<div fxLayout="row" class="top-spacing" fxLayoutAlign="space-between center">
  <app-button (click)="clickBackPrevious()" [btnConfig]="backButtonConfig"></app-button>
  <button fxLayout="row" fxLayoutAlign="space-between stretch" type="button" class="review-payment-btn"
          (click)="clickNext()">
    Select payment method
    <mat-icon>arrow_right_alt</mat-icon>
  </button>
</div>
