@import "../../../styles/main.scss";

.back-arrow {
  border: none;
  background: none;
  position: absolute;
  top: -50px;
  .mat-icon {
    color: $purple-bf;
  }
}
.vehicle-details-header {
  @include font-function("Lato", normal, 32px, 38px, $black-heading);
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 30px;
}

.label-input {
  @include font-function("Lato", normal, 18px, 22px, $black-heading);
  font-weight: normal;
}
.details-input {
  @include font-function("Lato", bold, 18px, 22px, $black-heading);
  font-weight: normal;
  white-space: pre-wrap;
}

.line-divider {
  padding: 0 20px;
  padding-bottom: 17px;
  border-bottom: 1px solid $black-heading;
}

.top-spacing {
  margin-top: 30px;
}

.break-down-margin {
  margin-top: 10px;
}

.review-payment-btn {
  @include font-function("Lato", normal, 18px, 22px, $white);
  background-color: $purple-c5;
  padding: 10px 7px;
  width: 70%;
  outline: 0;
  border: none;
  border-radius: 7px;
}

.review-payment-btn:disabled {
  background-color: $grey-ab;
}
