<div>
  <div class="page-header-title">Successful!</div>
  <div class="success-message">
    The e-scooter has been successfully registered to {{ownID}}. Please affix
    onto the e-scooter the identifcation mark with registration no. {{scootNo}} by
    <span class="success-dates">{{threeDays}}</span> and the LTA registration mark
    by <span class="success-dates">{{fourteenDays}}</span>.
  </div>
</div>

<div fxLayout="column ">
  <!-- Information -->
  <mat-expansion-panel *ngFor="let labelName of labelExpansionDetails" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{labelName.headerName}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description style="display:block;">
      <div *ngFor="let info of labelName.labelInfo; let i=index">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div class="label-input">
            <p>{{info}}</p>
          </div>
          <div class="details-input">
            <span>{{labelName.labelDetails[i]}}</span>
          </div>

        </div>
        <div *ngIf="info === 'Seat'" class="escooter-declare">
          {{escooterDeclared}}
          <ul>
            <li *ngFor="let criteria of escooterCriteriaList">
              {{criteria}}
            </li>
          </ul>
        </div>

      </div>
      <div *ngIf="labelName.headerName == 'Message'" #message class="success-message">
        Please remember to affix onto the e-scooter the identification mark with
        registration no. 363DG by 11 Aug 2021 and the LTA registration mark by
        22 Aug 2021. The identification mark must meet the specifications and
        guidelines at
        <a href="onemotoring.lta.gov.sg">onemotoring.lta.gov.sg</a> and must be
        displayed at all times.
        <app-payment-message></app-payment-message>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>

</div>

<div fxLayout="row" fxLayoutAlign="space-around center">
  <app-button [btnConfig]="saveButtonConfig"></app-button>
  <app-button [btnConfig]="returnButtonConfig" (click)="goHome()"></app-button>
</div>
