@import '../../../styles/main.scss';

.page-header-title {
  @include font-function('Lato', normal, 30px, 36px, $black-heading);
  font-weight: 900;
  text-align: left;
  vertical-align: top;
  margin-bottom: 10px;
  margin-left: 3%;
}

.success-message {
  @include font-function('Lato', normal, 14px, 19px, $black-heading);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  vertical-align: top;
  margin-bottom: 10px;
  margin-left: 3%;
  margin-right: 5%;
}

.success-dates {
  @include font-function('Lato', normal, 14px, 19px, $black-heading);
  font-weight: 900;
  font-style: bold;
  text-align: center;
  vertical-align: top;
}


.panel-header-title {
  @include font-function('Lato', normal, 16px, 24px, $black-55);
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}
.panel-display {
  display: block;
}
.panel-items {
  margin-bottom: 15px;
  padding: 0 10px;
  .title {
    width: 100%;
    @include font-function('Lato', normal, 16px, 24px, $black-heading);
    font-weight: 400;
  }
  .info {
    width: 100%;
    text-align: right;
    @include font-function('Lato', normal, 16px, 24px, $black-heading);
    font-weight: 700;
    font-weight: bold;
  }
}
.particulars-msg{
  @include font-function('Lato', normal, 16px, 21px, #5B5B5B);
  font-weight: 400;
  font-weight: normal;
}
.label-input {
  @include font-function('Lato', normal, 16px, 24px, $black-heading);
  font-weight: normal;
}
.details-input {
  @include font-function('Lato', bold, 16px, 19px, $black-heading);
  font-weight: bold;
  white-space: pre-wrap;
}
