<div class="wrapper">
  <div class="headers" fxLayout="column" fxLayoutGap="26px">
    <app-title-header [text]="titleHeader"></app-title-header>
    <app-subtitle-textgroup
      [subtitleTextgroup]="subtitleTextGroup"
    ></app-subtitle-textgroup>
  </div>
  <div class="table-wrapper" *ngIf="show">
    <header fxLayout="row" fxLayoutAlign="space-between end">
      <div fxLayout="row" fxLayoutGap="13px">
        <app-formula-card-select
          [options]="selectOptions"
          (selectionChange)="onSelectionChange($event)"
        ></app-formula-card-select>
        <app-view-button
          (viewOverPaymentReportClick)="onViewOverPaymentReportClick()"
        ></app-view-button>
      </div>
      <app-formula-card-legend></app-formula-card-legend>
    </header>
    <app-header-table-divider></app-header-table-divider>
    <app-contextual-table
      *ngIf="selected === 'baseFee'"
      [headers]="baseFee.headers"
      [fees]="baseFee.fees"
      (remarksFieldChange)="onRemarksFieldChange($event, 'baseFee')"
      (approveCheckboxChange)="onApproveCheckboxChange($event, 'baseFee')"
      (toggleCollapse)="onToggleCollapse($event)"
      (proceedButtonClick)="onApproveButtonClick($event)"
      submitButtonText="Proceed"
    ></app-contextual-table>
    <app-contextual-table
      *ngIf="selected === 'rebate'"
      [headers]="rebate.headers"
      [fees]="rebate.fees"
      (remarksFieldChange)="onRemarksFieldChange($event, 'rebate')"
      (approveCheckboxChange)="onApproveCheckboxChange($event, 'rebate')"
      (proceedButtonClick)="onApproveButtonClick($event)"
      submitButtonText="Proceed"
    ></app-contextual-table>
    <app-contextual-table
      *ngIf="selected === 'addCharge'"
      [headers]="addCharge.headers"
      [fees]="addCharge.fees"
      (remarksFieldChange)="onRemarksFieldChange($event, 'addCharge')"
      (approveCheckboxChange)="onApproveCheckboxChange($event, 'addCharge')"
      (proceedButtonClick)="onApproveButtonClick($event)"
      submitButtonText="Proceed"
    ></app-contextual-table>
  </div>
</div>
