<div>
  <div class="page-header-title">Successful!</div>
</div>

<div fxLayout="column ">
  <!-- Information -->
  <mat-expansion-panel *ngFor="let labelName of labelExpansionDetails" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{labelName.headerName}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description style="display:block;">
      <div *ngFor="let info of labelName.labelInfo; let i=index">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div class="label-input">
            <p>{{info}}</p>
          </div>
          <div class="details-input">
            <span>{{labelName.labelDetails[i]}}</span>
          </div>
        </div>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>

</div>

<div fxLayout="row" fxLayoutAlign="space-around center">
  <app-button [btnConfig]="returnButtonConfig" (click)="goHome()"></app-button>
</div>
