@import '../../../styles/main.scss';

.page-header-title {
  @include font-function('Lato', normal, 30px, 36px, $black-heading);
  font-weight: 900;
  text-align: left;
  vertical-align: top;
  margin-bottom: 10px;
  margin-left: 3%;
}

.label-input {
  @include font-function('Lato', normal, 16px, 24px, $black-heading);
  font-weight: normal;
}
.details-input {
  @include font-function('Lato', bold, 16px, 19px, $black-heading);
  font-weight: bold;
  white-space: pre-wrap;
}
