<div *ngFor="let item of items;" [hidden]="item.hidden">
    <mat-accordion>
        <mat-expansion-panel (opened)="item.open = true"
                             (closed)="item.open = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ item.title }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngComponentOutlet="item.component"></ng-container>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="errormessage" [hidden]="isErrorHidden">
    Please fill all the mandatory fields
</div>

<div class="fill-buttons"
     fxLayout="row"
     fxLayoutAlign="center center">
    <app-buttons [btnConfig]="backButtonConfig" (click)="onBack()"></app-buttons>
    <app-buttons class="saveasdraft" [btnConfig]="saveButtonConfig" (click)="onSave()"></app-buttons>
    <app-buttons [btnConfig]="nextButtonConfig" (click)="onNext()"></app-buttons>
</div>

<div class="register-form-labels">
    Please do not use your browser’s Back or Forward buttons
    as this may result in information loss
</div>
