@import '../../../../styles/main.scss';

:host::ng-deep .mat-select-placeholder,
:host::ng-deep .mat-select-value-text {
  @include font-function('Lato', normal, 18px, 22px, $black-6c);
  font-weight: 900;
}

:host::ng-deep div.mat-form-field-outline-start,
:host::ng-deep .mat-form-field-outline-gap,
:host::ng-deep .mat-form-field-outline-end {
  border-width: 0 !important;
}

.mat-form-field {
  width: 455px;
  height: 46px;
  border-radius: 5px;
  background: #f8cc55;
}

:host::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

:host::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
}

:host::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0;
}

@media (max-width: 1300px) {
  .mat-form-field {
    width: 300px;
  }
}
