<form [formGroup]="selectForm">
  <mat-form-field appearance="outline" fxLayout="column" fxLayoutAlign="center">
    <mat-select (selectionChange)="onSelectChange()" formControlName="selected">
      <mat-option *ngFor="let option of options" [value]="option.value">{{
        option.label
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
