@import "../../../styles/main.scss";

.back-arrow {
  border: none;
  background: none;
  position: absolute;
  top: -50px;
  .mat-icon {
    color: $purple-bf;
  }
}
.vehicle-details-header {
  @include font-function("Lato", normal, 32px, 38px, $black-heading);
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 30px;
}

.label-input {
  @include font-function("Lato", normal, 17px, 20px, $black-heading);
  font-weight: normal;
}
.details-input {
  @include font-function("Lato", bold, 17px, 20px, $black-heading);
  font-weight: normal;
  white-space: pre-wrap;
}

.line-divider {
  padding: 0 20px;
  padding-bottom: 17px;
  border-bottom: 1px solid $black-heading;
}

.renew-toggle-button {
  @include font-function("Lato", normal, 17px, 20px, $white);

  display: flex;
}

.mat-button-toggle {
  background: $grey-f6 !important;
  color: #cbd3f4;
  border-radius: 7px;
  height: 80px;
}

.mat-button-toggle-checked {
  background: $purple-c5 !important;
  color: $white;
  border-radius: 7px;
}

:host::ng-deep .roundCheckBox {
  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 70% !important;

  }

}

.mat-checkbox .prerequisites-chkbox {
  @include font-function("Lato", normal, 17px, 20px, $purple-c5);
  text-decoration-line: underline;
}

.review-payment-btn {
  @include font-function("Lato", normal, 18px, 22px, $white);
  background-color: $purple-c5;
  padding: 10px 7px;
  width: 70%;
  outline: 0;
  border: none;
  border-radius: 7px;
}

.review-payment-btn:disabled {
  background-color: $grey-ab;
}
