@import '../../../../styles/main.scss';

.lta-logo-wrapper {
  margin-top: 57px;
  text-align: center;
}

.login-form-wrapper {
  position: absolute;
  width: 100%;
  height: 42%;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form-container {
  width: 80%;
  margin: 0 auto;
}

.login-heading {
  @include font-function('Lato-Bold', normal, 32px, 48px, $purple-bf);
  margin-bottom: 26px;
}

.username {
  background-image: url('../../../../assets/images/drafts.svg');
}

.password {
  background-image: url('../../../../assets/images/lock.svg');
}

.form-input-common-style {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 11px;
  background-color: $grey-f8;
  border-width: 0 0 1px 0;
  border-color: $black-bd;
  border-style: solid;
  outline: none;
  background-position: right 9px center;
  background-repeat: no-repeat;


  &:focus {
    border-bottom: 2px solid $purple-bf;
  }
}

.login-btn {
  width: 100%;
  margin: 31px 0 0px;

  button {
    display: block;
    width: 100%;
    height: 42px;
    background-color: $purple-bf;
    @include font-function('Lato', normal, 18px, 22px, $white);
    outline: 0;
    border: none;
    border-radius: 5px;

    &:focus {
      box-shadow: 0 2px 6px $purple-bf;
    }
  }
}

.sso-login-btn {
  width: 100%;
  margin: 31px 0 70px;

  button {
    display: block;
    width: 100%;
    height: 42px;
    background-color: $purple-bf;
    @include font-function('Lato', normal, 18px, 22px, $white);
    outline: 0;
    border: none;
    border-radius: 5px;

    &:focus {
      box-shadow: 0px 2px 6px $purple-bf;
    }
  }
}

.error {
  color: $warning-red;
  margin-top: -40px;

  ul {
    margin: 0;
  }
}
