<div class="lta-logo-wrapper">
  <img src="../../assets/images/lta-logo.svg" />
</div>

<div class="login-form-wrapper">
  <div class="login-form-container">
    <div class="login-heading">Welcome</div>
    <form
      [formGroup]="loginform"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <input
        class="form-input-common-style username"
        formControlName="username"
        placeholder="Username"
        type="text"
        id="username"
      />

            <input
                    class="form-input-common-style password"
                    formControlName="password"
                    placeholder="Password"
                    type="password"
                    id="password"
            />
            <div class="login-btn">
                <button type="submit" (click)="login()">Login</button>
            </div>
            <div class="sso-login-btn">
                <button type="submit" (click)="loginSSO()">Login SSO</button>
            </div>
        </form>
        <!-- Error container -->
        <div class="error" [hidden]="isErrorHidden">
            Unsuccessful Login:
            <ul>
                <li>{{ errorMessage }}</li>
            </ul>
        </div>
    </div>
</div>
