<div
  class="lta-logo-wrapper"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <img
    src="../../assets/images/lta-logo.svg"
    alt="ltalogo"
    width="auto"
    height="auto"
  />
  <div>
    <button
      [matMenuTriggerFor]="notificationMenu"
      mat-icon-button
      matTooltip="NotificationResponse"
      [style.overflow]="'visible'"
      class="topbar-button-right"
    >
      <mat-icon class="notif-fill-color">notifications</mat-icon>
      <span class="notification-number mat-bg-warn">{{
        notificationsLength
      }}</span>
    </button>
    <mat-menu #notificationMenu="matMenu">
      <div
        fxLayout="row"
        class="noti-word"
        fxLayoutAlign="space-between center"
      >
        <div class="notification-header">
          <span>NotificationResponse</span>
        </div>
        <button class="mark-all-read-btn">
          <div>Mark all as read</div>
        </button>
      </div>

      <button
        class="noti-card"
        mat-menu-item
        *ngFor="let notification of notificationList; let i = index"
        (click)="openNotification(i)"
      >
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div>
            <span style="white-space: pre-wrap">{{
              notification.transactionRefNum + ': ' + notification.subject
            }}</span>
          </div>
          <div>
            <button
              fxLayout="row"
              fxLayoutAlign="space-between center"
              class="view-button"
            >
              <img
                class="view-icon"
                src="../../assets/images/view-icon.svg"
                alt="view"
                width="auto"
                height="auto"
              />
              View
            </button>
          </div>
        </div>
      </button>
    </mat-menu>
    <button
      mat-icon-button
      [matMenuTriggerFor]="mainMenu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #mainMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>
  </div>
</div>

<div class="dashboard-register-buttons">
<button type="button" class="review-btn" (click)="registerNewVehicle()">
  Register New Vehicle
</button>

<button
  type="button"
  class="review-btn"
  (click)="registerNewVehicleBlockChain()"
>
  Register New Vehicle with Blockchain
</button>
</div>
<app-transactions></app-transactions>
