@import '../../styles/main.scss';

.lta-logo-wrapper {
  padding: 12px;
  text-align: center;
  box-shadow: 0 2px 6px $black-29;
}

.notif-fill-color {
  color: $purple-bf;
}

.review-btn {
  @include font-function('Lato', normal, 16px, 19px, $black-heading);
  background: $yellow-55;
  border-radius: 10px;
  width: 100%;
  height: 46px;
  margin-top: 20px;
  cursor: pointer;
  border: 0;
  outline: none;
}

.spacing-between {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 31px;
}

.notification-number {
  position: absolute;
  top: 0;
  left: 43%;
  width: 19px;
  height: 19px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}

.view-button {
  background-color: $purple-bf;
  border-radius: 12px;
  height: 50%;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  text-align: right;
  vertical-align: middle;
}
::ng-deep .mat-menu-panel {
  max-width: none !important;
  width: 100%;
}

.welcome-user {
  @include font-function('Lato', normal, 18px, 2px, $black-heading);
  font-weight: 900;
  padding: 24px 0 0 0;
  text-align: center;
  margin-bottom: 20px;
}

.noti-card {
  @include font-function('Lato', bold, 14px, 17px, $black-heading);
  background-color: #f5f3ff;
  width: 100%;
  margin-bottom: 1px;
}

.notification-header {
  padding-left: 18px;
  font-weight: bold;
}

.noti-word {
  @include font-function('Lato', bold, 14px, 17px, $black-heading);
  padding-top: 10px;
  padding-bottom: 10px;
}

.mark-all-read-btn {
  background: none;
  border: none;
  color: $purple-bf;
}

.dashboard-register-buttons {
  width: 98%;
  margin: 0 auto;
}

@media only screen and (max-width: 900px) {
  .dashboard-register-buttons {
    width: 90%;
    margin: 0 auto;
  }
}
