<form [formGroup]="feesForm" (ngSubmit)="onProceedButtonClick()" *ngIf="show">
  <table
    mat-table
    [dataSource]="fees"
    class="mat-elevation-z8"
    formArrayName="fees"
  >
    <ng-container
      *ngFor="let header of headers"
      [matColumnDef]="header.property"
    >
      <th role="cell" mat-header-cell *matHeaderCellDef [ngStyle]="adjustWidth(header)">
        <span *ngIf="header.property === 'warningTooltipButton'">&nbsp;</span>
        <mat-icon
        *ngIf=" (header.property === 'addButtonResubmission' && header.type === 'completed')" 
        class="add-icon"
        (click)="onAddRow()"
        >add_circle</mat-icon
      >
        <mat-icon
          *ngIf="header.property === 'addButton'" 
          class="add-icon"
          (click)="onAddRow()"
          >add_circle</mat-icon
        >
        <span *ngIf="header.type">{{ header.label }}</span>
      </th>
      <td
        role="cell"
        mat-cell
        *matCellDef="let element; let i = index"
        [formGroupName]="i"
        [ngClass]="setTdClass(element, header)"
      >
        <ng-container
          *ngIf="element.isAParent || element.isExpanded"
          [class.has-border-right]="hasNoBorderRight(header)"
        >
          <app-cell
            *ngIf="header.property === 'warningTooltipButton'"
            [element]="element"
            [header]="header"
            display="tooltipButton"
            type="tooltip"
          ></app-cell>
          <app-cell
            *ngIf="header.type && !header.type.includes('Field')"
            [element]="addIndexToElement(element, i)"
            [header]="header"
            [display]="header.property"
            [type]="header.type"
            (toggleCollapse)="onToggleCollapse($event)"
          ></app-cell>
          <app-cell
            *ngIf="header.property === 'addButton'"
            [element]="addIndexToElement(element, i)"
            [header]="header"
            display="addButton"
            (removeClick)="onRemoveClick($event)"
          ></app-cell>
          <app-cell
            *ngIf="header.property === 'rowAddButton'"
            [element]="addIndexToElement(element, i)"
            [header]="header"
            display="rowAddButton"
            (addNewValueClick)="onAddNewValueClick($event)"
            (removeClick)="onRemoveClick($event)"
          ></app-cell>          
          <app-cell
            *ngIf="header.type.includes('Field')"
            [element]="element"
            [header]="header"
            display="field"
          >
            <input
              *ngIf="header.type === 'editField'"
              matInput
              class="text-field"
              [formControlName]="header.property"
            />
            <input
              *ngIf="header.type === 'textField'"
              matInput
              class="text-field"
              type="text"
              [formControlName]="header.property"
              (keyup)="onInputChange(i)"
            />
          <mat-select *ngIf="header.type === 'selectField'" (selectionChange)="onSelectChange(i)" [formControlName]="header.property" placeholder="{{placeholder}}">
            <mat-option *ngFor="let option of selection"  [value]="option.value" >{{
              option.value
            }}</mat-option>
          </mat-select>
            <input
              *ngIf="header.type === 'numberField'"
              matInput
              class="text-field"
              type="number"
              [formControlName]="header.property"
              (keyup)="onInputChange(i)"
            />
            <input
              *ngIf="header.type === 'remarksFieldAndApproveButton'"
              matInput
              class="remarks"
              type="text"
              [formControlName]="header.property"
              (keyup)="onRemarksFieldChange(i)"
              placeholder="Remarks"
            />
            <mat-checkbox
              *ngIf="header.type === 'checkboxFieldAndApproveButton'"
              class="example-margin"
              [formControlName]="header.property"
              (change)="onCheckboxChange(i)"
              >Approve</mat-checkbox
            >
            <ng-container *ngIf="header.type === 'dateField'">
              <mat-form-field appearance="legacy">
                <input
                  matInput
                  [matDatepicker]="picker"
                  [formControlName]="header.property"
                  (dateChange)="onDatepickerChange(i)"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </ng-container>

            <ng-container  *ngIf="header.type === 'formulaField'">
              <div fxLayout="row" fxFlex="1 1 auto" fxLayout.sm="column">
                <div class="container" fxLayout="column" fxLayoutAlign="end center">
                  <div class="base-amt">
                    <div class="edit-amount-container">
                      <span>[$ </span>
                      <input class="base text-field" matInput (keyup)="onInputChange(i, true)" [formControlName]="header.property1" >
                      <span>+ $ </span>
                      <input class="multiplier text-field" matInput (keyup)="onInputChange(i, true)" [formControlName]="header.property2" *ngIf="element.showEcMultiplier">
                      <span *ngIf="!element.showEcMultiplier">{{element.ecMultiplier}}</span>
                      <span>{{element.minusText}}] x</span>
                      <input class="discount text-field" matInput (keyup)="onInputChange(i, true)" [formControlName]="header.property3" >
                    </div>
                  </div>
                </div>
              </div>

            </ng-container>

            <ng-container *ngIf="header.type === 'rangeField'">
              <span  class="date-range-container">
                <mat-form-field class="date-range" appearance="legacy">
                  <input
                    matInput
                    [matDatepicker]="picker1"
                    [formControlName]="header.property"
                    (dateChange)="onDatepickerRangeChange(i)"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker1"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
           
           
                <span class="toDate">
                  <mat-form-field class="date-range"  appearance="legacy">
                    <input
                      matInput
                      [matDatepicker]="picker2"
                      [formControlName]="header.property2"
                      (dateChange)="onDatepickerRangeChange(i)"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker2"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </span>
              </span>
            </ng-container>
          </app-cell>
        </ng-container>
      </td>
    </ng-container>
    <tr role="row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      role="row"
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [class.removed]="hideRow(row)"
    ></tr>
  </table>
  <footer
    class="proceed-wrapper"
    fxLayout="row"
    fxLayoutAlign="end"
    fxLayoutGap="14px"
  >
    <app-preview-button
      *ngIf="hasPreviewButton"
      (click)="preview()"
    ></app-preview-button>
    <app-save-as-draft-button
      *ngIf="hasSaveAsDraftButton"
      (saveAsDraft)="onSaveAsDraft()"
      ></app-save-as-draft-button>
    <app-submit-button [text]="submitButtonText"></app-submit-button>
  </footer>
</form>
