@import '../../../../styles/main.scss';

table {
  width: 100%;
  box-shadow: none;
}

th {
  @include font-function('Lato', normal, 16px, 19px, $black-55);
  font-weight: 700;
}

td.mat-cell,
th.mat-header-cell {
  border-bottom-width: 0;
}

th.mat-header-cell {
  padding-left: 30px;
  padding-right: 0 !important;
}

th.mat-header-cell:first-of-type,
th.mat-header-cell:last-of-type,
td.mat-cell:first-of-type,
td.mat-cell:last-of-type {
  padding: 0;
}

.has-border-right {
  border-right: 1px solid #eaedf4;
}

.add-icon {
  color: $purple-bf;
  font-size: 32px;
  cursor: pointer;
}

.text-field {
  border-bottom: 0.5px solid #a6a8ab;
  width: 75%;
}

.mat-form-field {
  margin: -1.4em 0 !important;
}

.removed {
  display: none !important;
}

.proceed-wrapper {
  margin-top: 60px;
}

.remarks {
  border: 0;
  background: #eaedf4;
}

.remarks:focus {
  outline: none;
}

.approving-cell {
  background: #eaedf4;
}

.approving-cell-circled {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

:host::ng-deep .mat-checkbox-frame,
:host::ng-deep .mat-checkbox-background {
  border-radius: 50%;
}

.date-range {
  width: 100px;
}

.toDate {
  margin-left: 10px;
}

.date-range-container {
  margin-left: 11px;
}

.discount {
  width: 60px;
}

.multiplier {
  width: 60px;
}

.base {
  width: 60px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

