<div class="wrapper" *ngIf="show">
  <header fxLayout="row" fxLayoutAlign="space-between end">
    <div fxLayout="row" fxLayoutGap="4px">
      <app-formula-card-select
        [options]="selectOptions"
        (selectionChange)="onSelectionChange($event)"
      ></app-formula-card-select>
      <app-formula-card-export [data]="exportData"></app-formula-card-export>
    </div>
    <app-formula-card-legend></app-formula-card-legend>
  </header>
  <app-header-table-divider></app-header-table-divider>
  <app-contextual-table
    *ngIf="selected === 'baseFee'"
    [settings]="settings"
    [headers]="baseFee.headers"
    [fees]="baseFee.fees"
    (toggleCollapse)="onToggleCollapse($event)"
    (addNewValueClick)="onAddNewChildClick($event)"
    (removeRow)="onRemoveBaseFeeRow($event)"
    (inputChange)="onInputChange($event, 'baseFee')"
    (datepickerChange)="onDatepickerChange($event, 'baseFee')"
    (proceedButtonClick)="onApproveButtonClick()"
    [hasSaveAsDraftButton]="true"
    (saveAsDraft)="onSaveAsDraftClick()"
    submitButtonText="Proceed"
  ></app-contextual-table>
  <app-contextual-table
    *ngIf="selected === 'rebate'"
    [headers]="rebate.headers"
    [fees]="rebate.fees"
    [selection]="selection"
    (selectionChange)="onFieldSelectionChange($event, 'rebate')"
    (inputChange)="onInputChange($event, 'rebate')"
    (datepickerChange)="onDatepickerChange($event, 'rebate')"
    (addRow)="onAddParentRow('rebate')"
    (removeRow)="onRemoveParentRow($event, 'rebate')"
    (proceedButtonClick)="onApproveButtonClick()"
    [hasSaveAsDraftButton]="true"
    (saveAsDraft)="onSaveAsDraftClick()"
    submitButtonText="Proceed"
  ></app-contextual-table>
  <app-contextual-table
    *ngIf="selected === 'addCharge'"
    [headers]="addCharge.headers"
    [fees]="addCharge.fees"
    [selection]="selection"
    (selectionChange)="onFieldSelectionChange($event, 'addCharge')"
    (inputChange)="onInputChange($event, 'addCharge')"
    (datepickerChange)="onDatepickerChange($event, 'addCharge')"
    (addRow)="onAddParentRow('addCharge')"
    (removeRow)="onRemoveParentRow($event, 'addCharge')"
    (proceedButtonClick)="onApproveButtonClick()"
    [hasSaveAsDraftButton]="true"
    (saveAsDraft)="onSaveAsDraftClick()"
    submitButtonText="Proceed"
  ></app-contextual-table>
</div>
