<button class="back-arrow" (click)="clickCancel()">
  <mat-icon>arrow_back</mat-icon>
</button>
<div>
  <div class="page-header-title">Select payment method</div>
</div>

<div fxLayout="column ">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="panel-header-title">INFORMATION</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description class="panel-display">
      <div class="panel-items" fxLayout="row" *ngFor="let item of panelItems">
        <div class="title">{{ item.title }}</div>
        <div class="info">{{ item.info }}</div>
      </div>
      <div class="grand-total" fxLayout="row">
        <div class="title">Grand Total</div>
        <div class="info">S$20.00</div>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="panel-header-title">
          PAY VIA <span class="select-one">(select one)</span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description class="panel-display">
      <mat-button-toggle-group appearance="legacy" class="toggleGroup" [(ngModel)]="paymentMethod">
        <mat-button-toggle value="eNETS (internet banking) ">eNETS (internet banking)
        </mat-button-toggle>
        <mat-button-toggle value="eNETS Credit Card">eNETS Credit Card</mat-button-toggle>
        <div class="label-title">Additional Payment Methods</div>
        <mat-button-toggle value="SGQR PayNow">SGQR PayNow</mat-button-toggle>
        <mat-button-toggle value="Google Pay">Google Pay</mat-button-toggle>
        <mat-button-toggle value="Paypal">Paypal</mat-button-toggle>
      </mat-button-toggle-group>

      <div class="label-title">
        Email Address to receive e-Receipt (Optional):
      </div>
      <input type="text" class="email-text-area" />
    </mat-panel-description>
  </mat-expansion-panel>
</div>
<!-- <div fxLayout="row" fxLayoutAlign="space-around stretch">
    <button type="button" class="cancel-button">Cancel</button>
    <app-button [btnConfig]="payButtonConfig"></app-button>
  </div> -->

<div fxLayout="row" style="margin-top:20px" fxLayoutAlign="space-between center">
  <app-button (click)="clickCancel()" [btnConfig]="cancelButtonConfig"></app-button>
  <button fxLayout="row" fxLayoutAlign="space-between stretch" type="button" class="pay-btn " (click)="clickPay()">
    Pay
    <mat-icon>arrow_right_alt</mat-icon>
  </button>
</div>
