@import '../../../styles/main.scss';
.back-arrow {
  border: none;
  background: none;
  position:absolute;
  top: -50px;
  .mat-icon {
    color: $purple-bf;
  }
}
.page-header-title {
  @include font-function('Lato', normal, 30px, 36px, $black-heading);
  font-weight: 900;
  text-align: left;
  vertical-align: top;
  margin-bottom: 10px;
  margin-left: 3%;
}

.review-app-header-wrapper {
  @include font-function("Lato-Bold", normal, 30px, 36px, $black-heading);
  text-align: left;
}

.panel-header-title {
  @include font-function('Lato', normal, 16px, 24px, $black-55);
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}
.panel-display {
  display: block;
}
.panel-items {
  margin-bottom: 15px;
  padding: 0 10px;
  .title {
    width: 100%;
    @include font-function('Lato', normal, 16px, 24px, $black-heading);
    font-weight: 400;
  }
  .info {
    width: 100%;
    text-align: right;
    @include font-function('Lato', normal, 16px, 24px, $black-heading);
    font-weight: 700;
    font-weight: bold;
  }
}
.grand-total {
  background-color: #e9edf6;
  border-top: 2px solid $grey-a6;
  padding: 0 10px;
  .title {
    width: 100%;
    @include font-function('Lato', normal, 16px, 30px, $black-heading);
    font-weight: bold;
  }
  .info {
    width: 100%;
    text-align: right;
    @include font-function('Lato', normal, 16px, 30px, $black-heading);
    font-weight: bold;
  }
}
.select-one {
  @include font-function('Lato', normal, 16px, 24px, $black-heading);
  font-weight: 200;
  text-align: left;
  vertical-align: top;
}
.toggleGroup {
  flex-direction: column;
  border: 1px;
  display: flex;
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
}
.mat-button-toggle {
  @include font-function('Lato', normal, 14px, 16px, $blue-f8);
  font-weight: 400;
  text-align: left;
  border: 1px solid $blue-f8;
  border-radius: 10px;
  margin-bottom: 5px;
}
.label-title {
  @include font-function('Lato', regular, 12px, 14px, $grey-ab);
  font-weight: 400;
  text-align: left;
  vertical-align: top;
  margin-bottom: 10px;
  margin-top: 5px;
}
.email-text-area {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 4px;
  height: 40px;
  border: 1px solid $black-55;
  margin-bottom: 30px;
}
.cancel-button {
  @include font-function('Lato', normal, 16px, 19px, black-heading);
  font-weight: 400;
  height: 50px;
  width: 80px;
  background-color: grey-f6;
  border-radius: 7px;
  text-align: center;
  border: none;
}

.pay-btn {
  @include font-function('Lato', normal, 18px, 22px, $white);
  background-color: $purple-c5;
  padding: 10px 7px ;
  width: 70%;
  outline: 0;
  border: none;
  border-radius: 7px;
}


