
@import '../../styles/main.scss';

.owner-dashboard-header {
  margin: 10px 30px;
}

.review-btn {
  @include font-function('Lato', normal, 16px, 19px, $black-heading);
  box-sizing: border-box;
  background: $yellow-55;
  border-radius: 10px;
  width: 100%;
  height: 46px;
  margin-top: 20px;
}

.access-btn {
  @include font-function('Lato', normal, 16px, 19px, $white);
  background: $purple-bf;
  border-radius: 10px;
  width: 100%;
  height: 46px;
  margin-top: 20px;
  display: flex;
  padding-top: 12px;

}

.notif-label {
  @include font-function('Lato-Bold', normal, 15px, 19px, $purple-48);
  padding-top: 20px;
}

.spacing-between {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 31px;
}

.toolbar-dashboard {
  background: $blue-toolbar;
  color: $white;
}

.notification-arrow {
  background-color: $yellow-55;
  width: 15px;
  height: 15px;
  mat-icon {
    font-size: 10px;
    color: $black-heading;
    margin-top: -11px;
    margin-left: -3px;
  }
}

.notification-number {
  @include font-function('Lato', normal, 12px, 20px, $white);
  position: absolute;
  top: 0;
  left: 43%;
  width: 19px;
  height: 19px;
  font-weight: 700;
  color: #fff;
  background-color: $singpass-red;
  text-align: center;
  border-radius: 50%;
}

.view-button {
  @include font-function('Lato', normal, 12px, 17px, $white);
  background-color: $purple-bf;
  border-radius: 12px;
  height: 50%;
  font-weight: 700;
  text-align: right;
  vertical-align: middle;
  border: none;
  outline: none;
  cursor: pointer;
}

::ng-deep .mat-menu-panel {
  max-width: none !important;
  width: 100%;
}

.welcome-user {
  @include font-function('Lato', normal, 18px, 2px, $black-heading);
  font-weight: 900;
  padding: 24px 0 0 0;
  text-align: center;
  margin-bottom: 20px;
}

.noti-card {
  @include font-function('Lato', bold, 14px, 17px, $black-heading);
  background-color: #f5f3ff;
  width: 100%;
  margin-bottom: 1px;
}

.notification-header {
  padding-left: 18px;
  font-weight: bold;
}

.noti-word {
  @include font-function('Lato', bold, 14px, 17px, $black-heading);
  padding-top: 10px;
  padding-bottom: 10px;
}

.mark-all-read-btn {
  background: none;
  border: none;
  color: $purple-bf;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
}

.email-icon {
  margin-left: 90px;
  margin-top: -2px;
  margin-right: 5px;
}

.card-content {
  box-sizing: border-box;
  width: 94%;
  margin: 10px auto 17px auto;
  padding: 15px 15px 41px 15px;
  background: $grey-f5;
  box-shadow: 0 4px 4px #00000040;
}

.vehicles-and-assets {
  margin-top: 33px;
}
