<div class="owner-dashboard-header" fxLayout="row" fxLayoutAlign="space-between center">
  <img src="../../assets/images/oneMotoring.svg" alt="oneMotoring" width="auto" height="auto" />
  <button mat-icon-button [matMenuTriggerFor]="mainMenu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #mainMenu="matMenu">
    <button mat-menu-item (click)="goHomePage()">
      <mat-icon>home</mat-icon>
      <span>Homepage</span>
    </button>
  </mat-menu>
</div>
<mat-toolbar class="toolbar-dashboard" fxLayout="row" fxLayoutAlign="space-between center">
  <div>Dashboard</div>
  <button [matMenuTriggerFor]="notificationMenu" mat-icon-button matTooltip="Notifications" [style.overflow]="'visible'"
    class="topbar-button-right">
    <mat-icon>mail_outline</mat-icon>
    <span class="notification-number mat-bg-warn">{{ notifnum }}</span>

  </button>
  <mat-menu #notificationMenu="matMenu">
    <div fxLayout="row" class="noti-word" fxLayoutAlign="space-between center">
      <div class="notification-header">
        <span>Notifications</span>
      </div>
      <button class="mark-all-read-btn">
        <div>Mark all as read</div>
      </button>
      <button class="mark-all-read-btn" (click)="goToInbox()">
        <div>Inbox</div>
      </button>
    </div>

    <button class="noti-card" mat-menu-item *ngFor="let mode of modes; let i = index" (click)="openNotification(i)">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div *ngIf="mode.msg == 'PMD Registration Completed' || mode.msg == 'Vehicle Registration Paid and Completed'; then noViewButton; else normalView"></div>
        <ng-template #noViewButton>
          <div *ngIf="mode.msg == 'PMD Registration Completed'">
            <span style="white-space:pre-wrap;">PMD {{mode.transactionId}}: {{ mode.msg }}</span>
          </div>
          <div *ngIf="mode.msg == 'Vehicle Registration Paid and Completed'">
            <span style="white-space:pre-wrap;">{{mode.transactionRefNum}}: {{ mode.msg }}</span>
          </div>
        </ng-template>
        <ng-template #normalView>
          <div>
            <span style="white-space:pre-wrap;">{{mode.transactionRefNum}}: {{ mode.msg }}</span>
          </div>
          <div>
            <button fxLayout="row" fxLayoutAlign="space-between center" class="view-button">
              <img class="view-icon" src="../../assets/images/view-icon.svg" alt="view" width="auto" height="auto" />
              View
            </button>
          </div>
        </ng-template>
      </div>
    </button>
  </mat-menu>
</mat-toolbar>
<div fxLayout="column" class="spacing-between center" class="card-content">
  <div class="welcome-user">Welcome, ROBERT LOH </div>
  <button mat-button class="toolbar-dashboard ">Looking for vehicle hub? Click here.</button>
  <mat-card>
    <div fxLayout="row" fxLayoutAlign="spacing-between center">
      <div>
        <button mat-mini-fab class="notification-arrow">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
      <div style="margin-left: 15px;">{{PendingReview}}</div>
    </div>
    <button type="button" class="review-btn" (click)="reviewNow()">
      Review Now
    </button>
  </mat-card>

  <div class="notif-label">You have 2 notification(s):</div>
  <button type="button" class="access-btn" (click)="goToInbox()">
    <mat-icon class="email-icon"> email</mat-icon> Access Inbox
   </button>
  <app-modal></app-modal>

  <div class="vehicles-and-assets">
    <app-vehicles-and-assets></app-vehicles-and-assets>
  </div>

  <app-profile></app-profile>
</div>
<app-footer></app-footer>
