<div class="common-margin">
    <div class="review-heading" fxLayout="row" fxLayoutAlign="flex-start center">
        <div>
            <div class="transaction-header"> REGISTER E-SCOOTER/ PAB (CONFRIMATION)</div>
            <div class="review-text">Review the details below</div>
        </div>

    </div>
    <div class="expansion-container">
        <!-- Information -->
        <mat-expansion-panel *ngFor="let labelName of labelExpansionDetails">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{labelName.headerName}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <div class="box">

                    <!-- condition for 1 column flex-basis, 3 columns is flex 1 1 33%, 2 item is flex 1 1 66%  -->
                    <div *ngFor="let info of labelName.labelInfo; let i=index"
                        [ngClass]="excludeInputTxt.includes(info) ? 'flex-one-col': info !== 'Seat' ? 'flex-three-col' : 'flex-two-item'">
                        <div *ngIf="!excludeInputTxt.includes(info) ; then labelTxt; else chkBox"></div>
                        <ng-template #labelTxt>
                            <div fxLayout="column">
                                <div class="register-form-labels">
                                    <p>{{info}}:</p>
                                </div>
                                <div class="details-input">
                                    <p>{{labelName.labelDetails[i]}}</p>
                                </div>
                                <div *ngIf="info==='Photo of E-scooter'">
                                    <img class="lta-id-img" [src]="this.imageSrc" alt="image" width="70%" height="70%">
                                </div>
                                <div *ngIf="info==='E-scooter Safety Standard Sticker'">
                                    <img class="lta-id-img" [src]="this.imageSrc2" alt="image" width="70%" height="70%">
                                </div>
                            </div>
                        </ng-template>

                        <ng-template #chkBox>
                            <div *ngIf="info=='chk_weightDeclaration'">
                                <div>Applicant declared that the e-scooter meets the following criteria:</div>
                            </div>
                            <div>
                                <mat-checkbox disabled color="primary" class="roundCheckBox"
                                    [ngModel]="labelName.labelDetails[i]" [ngModelOptions]="{standalone: true}">
                                    <pre class="chkbox-content">{{chkBoxContent[info]}}</pre>
                                </mat-checkbox>
                            </div>
                        </ng-template>

                    </div>
                </div>



                <div *ngIf="labelName.headerName==='AMOUNT PAYABLE'">
                    <div class="review-table-margin" fxLayout="row">
                        <table role="table" mat-table [dataSource]="amountPayment" class="table-display">
                            <ng-container matColumnDef="key">
                                <th scope="col" mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let element" style="width:50%"> {{element.key}} </td>
                            </ng-container>

                            <ng-container matColumnDef="amt_Before_GST">
                                <th scope="col" mat-header-cell *matHeaderCellDef> Amount Before GST (S$)</th>
                                <td mat-cell *matCellDef="let element"> {{element.amt_Before_GST}} </td>
                            </ng-container>

                            <ng-container matColumnDef="gst_Amount">
                                <th scope="col" mat-header-cell *matHeaderCellDef> GST Amount (S$)</th>
                                <td mat-cell *matCellDef="let element"> {{element.gst_Amount}} </td>
                            </ng-container>

                            <ng-container matColumnDef="amt_After_GST">
                                <th scope="col" mat-header-cell *matHeaderCellDef> Amount After GST (S$)</th>
                                <td mat-cell *matCellDef="let element"> {{element.amt_After_GST}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background:white"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>

                </div>
            </mat-panel-description>
        </mat-expansion-panel>
    </div>

    <div *ngIf="showApproveReject">
        <div fxLayout="row" class="spacing-between" fxLayoutAlign="end stretch">
            <button fxLayout="row" fxLayoutAlign="space-around stretch" type="button" class="reject-btn"
                (click)="rejectBtn()">
                <img src="../../assets/images/x_reject_button.svg" alt="reject" width="auto" height="auto" />Reject
            </button>
            <button fxLayout="row" fxLayoutAlign="space-between stretch" type="button" class="approve-btn"
                (click)="approveBtn()">
                <img src="../../assets/images/tick_approve.svg" alt="approve" width="auto" height="auto" />Approve
            </button>
        </div>
    </div>
</div>
<app-modal></app-modal>