<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="singpass-header"
>
  <img src="../../assets/images/singpass-word.png" />
  <mat-icon>menu</mat-icon>
</div>
<img class="responsive" src="../../assets/images/singpass-header.png" />

<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
  <mat-tab label="Singpass app">
    <div class="scan-singpass">Scan with Singpass app</div>
    <div class="login">to log in</div>
    <div class="singpass-icon">
      <img src="../../assets/images/singpass-login.svg" (click)="Dashboard()" />
    </div>

    <div class="grey-background">
      <div class="singpass-question">
        Don’t have Singpass app? <span class="download">Download now</span>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Password login">
    <div class="login-wrapper">
      <div class="login-heading">Welcome</div>
      <input
        class="form-input-common-style username"
        placeholder="Username"
        type="text"
        [(ngModel)]="username"
      />
      <input
        class="form-input-common-style password"
        placeholder="Password"
        type="password"
        [(ngModel)]="password"

      />
      <div class="login-btn">
        <button type="submit" (click)="login()">Login</button>
      </div>
      <div class="sso-login-btn">
        <button type="submit" (click)="loginSSO()">Login SSO</button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<img class="responsive" src="../../assets/images/singpass-footer.png" />
