@import '../../styles/main.scss';

.scan-singpass {
  @include font-function('Lato', normal, 22px, 26px, $black);
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}
.login {
  @include font-function('Lato', normal, 22px, 26px, $black);
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}
.login-wrapper {
  text-align: center;
  margin-top: 30px;
}
.singpass-icon {
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;

}
.grey-background {
  background-color: $grey-f1;
  width: 100%;
  height: 90px;
  text-align: center;
}

.singpass-question {
  @include font-function('Lato', normal, 18px, 20px, $black);
  padding-top: 35px;
  padding-bottom: 40px;
}

.download {
  @include font-function('Lato', normal, 18px, 20px, $blue-f8);
  font-weight: 400;
}
:host ::ng-deep .mat-tab-label-active {
  color: red !important;
  font-weight: bold;
}

:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: red !important;
}

:host ::ng-deep .mat-tab-label {
  @include font-function('Lato', normal, 18px, 20px, #cbcbcf);
  font-weight: 700;
}

.responsive {
  width: 100%;
  height: auto;
}

.singpass-header {
  background-color: $white;
  width: 100%;
  height: 75px;
  vertical-align: middle;
  padding: 0 40px 0 30px;
}

.login-heading {
  @include font-function("Lato-Bold", normal, 32px, 48px, $blue-toolbar);
  margin-bottom: 26px;
}
.form-input-common-style {
  width: 80%;
  height: 44px;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 11px;
  background-color: $grey-f8;
  border-width: 0 0 1px 0;
  border-color: $black-bd;
  border-style: solid;
  outline: none;
  background-position: right 9px center;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  &:focus {
    border-bottom: 2px solid $blue-toolbar;
  }
}

.login-btn {
  @include font-function('Lato', normal, 18px, 22px, $white);
  width: 100%;
  button {
    width: 80%;
    height: 42px;
    color: $white;
    background-color: $blue-toolbar;
    outline: 0;
    border: none;
    margin-bottom: 30px;
    border-radius: 5px;
    &:focus {
      box-shadow: 0 2px 6px $blue-toolbar;
    }
  }
}

.sso-login-btn {
  @include font-function('Lato', normal, 18px, 22px, $white);
  width: 100%;
  button {
    width: 80%;
    height: 42px;
    color: $white;
    background-color: $blue-toolbar;
    outline: 0;
    border: none;
    margin-bottom: 30px;
    border-radius: 5px;
    &:focus {
      box-shadow: 0 2px 6px $blue-toolbar;
    }
  }
}
