@import '../../../styles/main.scss';
.error-label {
  @include font-function('Lato', normal, 30px, 36px, $black-55);
  font-weight: normal;
  text-align: center;
  margin-top: 5%;
}

.icon {
  font-size: 90px;
  text-align: center;
  margin-top: 20%;
  color: #3e3b55;
}
