<form [formGroup]=roadTaxFormGroup>
    <label class="register-form-labels">TCOE No.</label>
    <p>{{ roadTaxDetails ? roadTaxDetails.tcoeNumber : '-' }}</p>

    <label class="register-form-labels">PARF/COE Rebate No.</label>
    <p>{{ roadTaxDetails ? roadTaxDetails.coeRebateNumber : '-' }}</p>

    <label class="register-form-labels">Insurance Company</label>
    <p>{{ roadTaxDetails ? roadTaxDetails.insuranceCompany : '-' }}</p>

    <label class="register-form-labels">Insurance Cover Note No.</label>
    <p>{{ roadTaxDetails ? roadTaxDetails.insuranceCoverNoteNumber : '-' }}</p>

    <label class="register-form-labels">Vehicle No. Available</label>
    <p>{{ roadTaxDetails ? roadTaxDetails.vehicleNumberAvailable : '-' }}</p>

    <label class="register-form-labels" for="openMarketValue"><sup>*</sup>Open Market Value No.</label>
    <input class="form-input-common-style" formControlName="openMarketValue" type="text" id="openMarketValue" />

    <div fxLayOutAlign="row" class="spacing-between">
        <label class="register-form-labels"><sup>*</sup>Road Tax Months</label>
        <div fxLayoutAlign="column" class="spacing-between">
            <mat-button-toggle-group formControlName="roadTaxMonths" class="app-toggle-button">
                <mat-button-toggle *ngFor="let roadTaxMonth of roadTaxMonthList"
                                   [value]="roadTaxMonth">{{ roadTaxMonth }}</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>

    <label class="register-form-labels">Refund excess COE deposit, if any to:</label>
    <p>{{ roadTaxDetails ? roadTaxDetails.tcoeNumber : '-' }}</p>


    <div fxLayOutAlign="row" class="spacing-between">
        <div fxLayOutAlign="column" class="spacing-between">
            <label class="register-form-labels">(If both boxes are not ticketed. It is deemed that the refund is to be
                made to the Register Owner.)</label>
        </div>
        <div fxLayOutAlign="column" class="spacing-between">
            <label class="register-form-labels">I understand that after offsetting the relevant fees and taxes payable
                to register my vehicle, there is a credit balance of</label>
            <p>{{ roadTaxDetails ? roadTaxDetails.refundAmount : '-' }}</p>
        </div>
        <div fxLayOutAlign="column" class="spacing-between">
            <label class="register-form-labels">Arising from the excess COE deposit, I hereby authorize LTA to refund
                this amount as indicated on the form by me.</label>
        </div>
    </div>
</form>
