@import '../../../styles/main.scss';

.detailsInput {
  @include font-function("Lato-Bold", normal, 16px, 19px, $black-55);
  white-space: pre-wrap;
}

.incorrect-comment {
  @include font-function("Lato-Bold", normal, 16px, 19px, $warning-red);
  white-space: pre-wrap;
  margin-bottom: 20px;

}

.app-header-wrapper {
  padding: 24px 0 0 0;
  text-align: center;
  margin-bottom: 20px;
}

.spacing-between {
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 31px;
}

.singpassTxtFasterForm {
  @include font-function('Lato', normal, 28px, 34px, $black-heading);
  font-weight: normal;
  margin-top: 20px;
}

.singpassTxtSingpassEnable {
  @include font-function('Lato', normal, 16px, 19px, $black-heading);
  margin-top: 20px;
}

.singpassTxtBtn {
  border: none;
  padding: 0;
  margin-top: 20px;
}

.back-arrow {
  border: none;
  background: none;
  position:absolute;
  top: -50px;
  .mat-icon {
    color: $purple-bf;
  }
}

.mat-button-toggle {
  @include font-function('Lato', normal, 16px, 19px, #5F6CB7);
  width: 50%;
  border: 1px solid $purple-bf;
  box-sizing: border-box;
}
.toggle-btn-yes {
  border-radius: 4px 0px 0px 4px;
}
.toggle-btn-no {
  border-radius: 0px 4px 4px 0px;
}

.mat-button-toggle-group-appearance-standard {
  border: 0;
}

.mat-button-toggle-checked {
  @include font-function('Lato', normal, 16px, 19px, $white);

  background: $purple-bf;

}
.file-input {
  display: none;
}

.upload-btn {
  background: $black-55;
  border: 1px solid $black-55;
  box-sizing: border-box;
  border-radius: 4px;
  color: $white;
  width: 40%;
}

.select-next-btn {
  @include font-function('Lato', normal, 18px, 22px, $white);
  background-color: $purple-c5;
  padding: 10px 7px ;
  width: 70%;
  outline: 0;
  border: none;
  border-radius: 7px;
}
.select-next-btn:disabled {
  background-color: $grey-ab;
}

:host::ng-deep .roundCheckBox {
  & .mat-checkbox-background, .mat-checkbox-frame {
      border-radius: 70% !important;
  }
}

.chkbox-content {
  @include font-function('Lato', normal, 16px, 21px, #5F6CB7);
  font-weight: normal;
}
.errormessage {
  color: red;
}

.escooter-file-upload-declare {
  @include font-function('Lato', normal, 16px, 21px, #5B5B5B);
  font-weight: normal;
}

.form-input-common-style[disabled] {
  background-color: $disabled-grey;
  color: $black;
}
