<button class="back-arrow" (click)="goBackDashboard()">
  <mat-icon>arrow_back</mat-icon>
</button>
<div class="fill-container">
  <div [formGroup]="registerScooter">
    <div fxLayout="column">
      <!-- Information -->
      <mat-expansion-panel *ngFor="let labelName of labelExpansionDetails" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{labelName.headerName}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description style="display:block;">
          <div *ngIf="labelName.headerName==='YOUR DETAILS'">
            <mat-card fxLayout="column" fxLayoutAlign="space-between center">
              <div class="singpassTxtSingpassEnable">{{singPassTxtSingpassEnable}}</div>
              <button class="singpassTxtBtn" (click)="retrieveMyInfo()"><img
                  src="../../../assets/images/singPassFont.svg" /></button>
            </mat-card>
          </div>
          <div *ngFor="let info of labelName.labelInfo; let i=index">
            <!-- exclude the list so that all will be input -->
            <div *ngIf="!excludeInputTxt.includes(info) ; then inputTextOption; else textOut"></div>
            <ng-template #inputTextOption>
              <div *ngIf="info!=='Incorrect information'" class="register-form-labels">
                <p>{{info}}</p>
              </div>
              <div *ngIf="info=='Incorrect information'" class="incorrect-comment">
                <p>{{info}}:</p>
              </div>
              <div
                *ngIf="info == 'Photo of E-scooter' || info == 'E-scooter Safety Standard Sticker'; then inputFile; else inputTextOnly">
              </div>
              <div class="detailsInput">
                <ng-template #inputTextOnly>
                  <div *ngIf="labelName.headerName==='YOUR DETAILS'; then lockSingpass; else normalInput"></div>

                  <ng-template #lockSingpass>
                    <div *ngIf="info.indexOf('Date of Birth')!=-1; then dateInput; else singpassInput"></div>
                    <ng-template #dateInput>
                      <input [formControlName]="info" [attr.disabled]="disableSingpassInput ? true : null"
                        class="form-input-common-style" type="text" [value]="labelName.labelDetails[i]"
                        (change)="chkLegalAge($event)" placeholder="e.g 01 Jun 1999" />
                      <div class="errormessage"
                        *ngIf="registerScooter.controls[info].errors?.pattern && registerScooter.controls[info].touched">
                        Date format is DD MMM YYY e.g 01 Jun 1999
                      </div>
                      <div class="errormessage"
                        *ngIf="isLegalAgeErrorHidden && (registerScooter.controls[info].value || labelName.labelDetails[i])">
                        Owner must be older than {{legalAge}} years upon time of registration
                      </div>
                    </ng-template>
                    <ng-template #singpassInput>
                      <div *ngIf="info.indexOf('*Owner ID Type')!=-1; then dropDown; else normalInput"></div>
                      <ng-template #dropDown>
                        <select [attr.disabled]="disableSingpassInput ? true : null" [formControlName]="info"
                          [value]="labelName.labelDetails[i]" class="form-input-common-style">
                          <option value="NRIC">Singapore NRIC</option>
                          <option value="Malaysia NRIC">Malaysia NRIC</option>
                        </select>
                      </ng-template>

                      <ng-template #normalInput>
                        <input [formControlName]="info" [attr.disabled]="disableSingpassInput ? true : null"
                          class="form-input-common-style" type="text" [value]="labelName.labelDetails[i]" />
                      </ng-template>
                    </ng-template>
                  </ng-template>
                  <!-- NRIC error message -->
                  <div class="errormessage"
                    *ngIf="info.indexOf('NRIC No')!=-1 && registerScooter.controls[info].errors?.pattern && registerScooter.controls[info].touched">
                    The Unique Identification Number (UIN) must be 9 characters long and starts with ‘S’ or ‘T’ and end
                    with an Alphabet from “A-Z”
                  </div>
                  <ng-template #normalInput>
                    <div *ngIf="info.indexOf('Wheels')!=-1; then numberInput; else normalTxtInput"></div>
                    <ng-template #numberInput>
                      <input required [formControlName]="info" class="form-input-common-style" type="number"
                        [value]="labelName.labelDetails[i]" />
                    </ng-template>
                    <ng-template #normalTxtInput>
                      <div *ngIf="labelName.headerName==='OWNER\'S FEEDBACK'; then textOnly; else inputOnly"></div>
                      <ng-template #textOnly>
                        <div class="incorrect-comment">
                          <span>{{labelName.labelDetails[i]}}</span>
                        </div>
                      </ng-template>
                      <ng-template #inputOnly>
                        <input required [formControlName]="info" class="form-input-common-style" type="text"
                          [value]="labelName.labelDetails[i]" />
                      </ng-template>
                    </ng-template>


                  </ng-template>
                  <!-- check if * present in the label then will show error if empty -->
                  <div class="errormessage"
                    *ngIf="info.indexOf('*')!=-1 && !registerScooter.controls[info].value && registerScooter.controls[info].touched">
                    Field cannot be empty
                  </div>
                  <div *ngIf="info == 'Safety Standard Serial No.'" class="escooter-file-upload-declare">
                    {{escooterEnsureUploadFile}}
                    <ul>
                      <li *ngFor="let criteria of escooterUploadFileCriteria">
                        {{criteria}}
                      </li>
                    </ul>
                  </div>
                </ng-template>
                <!-- Upload file -->
                <ng-template #inputFile>
                  <div fxLayout="row" fxLayoutAlign="space-between stretch">
                    <input disabled [ngModel]="safetyFile[info]" class="form-input-common-style" type="text"
                      [ngModelOptions]="{standalone: true}" />

                    <input type="file" class="file-input" (change)="onUploadFile($event, info)" #fileUpload
                      accept="image/jpeg, application/pdf" />
                    <button mat-button class="upload-btn" (click)="fileUpload.click()">Choose file
                      <!-- <span [hidden]="isLoadingTwoHidden"><mat-spinner></mat-spinner></span> -->
                    </button>

                  </div>
                  <div class="errormessage"
                    *ngIf="info.indexOf('Safety Standard')!=-1 && !isSafetyStickerFileNameLengthErrorHidden">
                    {{escooterUploadFileCriteria[2]}}
                  </div>
                  <div class="errormessage"
                    *ngIf="info.indexOf('Photo of E-scooter')!=-1 && !isEScooterPhotoFileNameLengthErrorHidden">
                    {{escooterUploadFileCriteria[2]}}
                  </div>
                  <div class="errormessage"
                    *ngIf="info.indexOf('Safety Standard')!=-1 && !isSafetyStickerletterNumUnderScoreErrorHidden">
                    The filename contains only letters, numbers and underscore, without spaces or other special
                    characters
                  </div>
                  <div class="errormessage"
                    *ngIf="info.indexOf('Photo of E-scooter')!=-1 && !isEScooterPhotoletterNumUnderScoreErrorHidden">
                    The filename contains only letters, numbers and underscore, without spaces or other special
                    characters
                  </div>
                  <!-- <div class="errormessage" [hidden]="isSizeErrorHidden+info">
                      Document to be attached should be file size less than 28.4MB
                    </div>

                    <div class="errormessage" [hidden]="isTypeErrorHidden+info">
                      Choose a file that is '.pdf' or '.jpeg'.
                    </div> -->
                </ng-template>
              </div>
            </ng-template>
            <ng-template #textOut>
              <div *ngIf="info == 'Seat' ; then toggBtn; else chkBox"></div>

              <ng-template #toggBtn>
                <div class="register-form-labels">
                  <p>{{info}}</p>
                </div>
                <mat-button-toggle-group #group="matButtonToggleGroup" fxLayoutAlign="space-between center"
                  [(ngModel)]="labelName.labelDetails[i]" [ngModelOptions]="{standalone: true}">
                  <mat-button-toggle [value]="true" class="toggle-btn-yes">Yes</mat-button-toggle>
                  <mat-button-toggle [value]="false" class="toggle-btn-no">No</mat-button-toggle>
                </mat-button-toggle-group>
              </ng-template>
              <ng-template #chkBox>
                <div fxLayoutAlign="column">
                  <mat-checkbox color="primary" class="roundCheckBox" [(ngModel)]="labelName.labelDetails[i]"
                    [ngModelOptions]="{standalone: true}">
                    <pre class="chkbox-content">{{chkBoxContent[info]}}</pre>
                  </mat-checkbox>
                </div>
              </ng-template>
            </ng-template>
          </div>

        </mat-panel-description>
      </mat-expansion-panel>
    </div>
    <div fxLayout="row" style="margin-top:20px" fxLayoutAlign="space-between center">
      <app-button (click)="clickBackHomePage()" [btnConfig]="backButtonConfig"></app-button>
      <button [disabled]="(!nextButtonValidFile || !nextButtonValidForInput)" fxLayout="row"  fxLayoutAlign="space-between stretch" type="button" class="select-next-btn"
        (click)="clickNext()">
        Next
        <mat-icon>arrow_right_alt</mat-icon>
      </button>
    </div>
  </div>

</div>
