<app-title title="Your Profile:"></app-title>
<mat-card>
  <mat-card-content fxLayout="column" fxLayoutGap="15px">
    <app-text-group
      label="Owner name"
      [value]="ownerDetails.ownerName"
      pipe="uppercase"
    ></app-text-group>
    <div class="no-margin-bottom">
      <app-text-group
        label="Registered address"
        [value]="ownerDetails.registeredAddress"
        pipe="uppercase"
      ></app-text-group>
      <app-view text="View profile" color="blue"></app-view>
    </div>
    <app-text-group
      label="Handphone no."
      [value]="ownerDetails.handphoneNumber"
    ></app-text-group>
    <app-text-group
      label="Email address"
      [value]="ownerDetails.emailAddress"
      pipe="uppercase"
    ></app-text-group>
    <app-text-group
      label="Receive hardcopy letters*"
      [value]="ownerDetails.receiveHardCopyLetters"
    ></app-text-group>
    <div class="note">
      *LTA has replaced hardcopy letters with SMS and e-letters. To receive
      hardcopy letters, click
      <span class="highlight">View profile > Update owner particulars</span> to
      edit your preferences.
    </div>
  </mat-card-content>
</mat-card>
