@import '../../../styles/main.scss';

.mat-card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 23px 42px 21px 23px;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.note {
  @include font-function('Lato', normal, 12px, 14px, $grey-ab);
}

.highlight {
  font-weight: 900;
}
