<div
  *ngIf="!header.property.includes('Button')"
  class="display"
  [ngClass]="{
    active: isHighlighted && element.active && element.isAParent,
    inactive: isInactive()
  }"
>
  <ng-container
    *ngIf="element[display] || element[display] === 0 || display === 'field'; else blankSpace"
  >
    <span *ngIf="type === 'dateString'">
      {{ element[display] | date: "yyyy-MM-dd" }}
    </span>
    <div
      *ngIf="type === 'string' || type === 'number' || type === 'collapsible'"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <span>{{ element[display] }}</span>
      <span
        class="arrow-right"
        *ngIf="type === 'collapsible' && element.hasChildren"
      >
        <mat-icon (click)="onToggleCollapse()">
          <span *ngIf="!element.isExpanded">arrow_right</span>
          <span *ngIf="element.isExpanded">arrow_drop_down</span>
        </mat-icon>
      </span>
    </div>
    <div *ngIf="display === 'field'">
      <div
        *ngIf="(!element.isAParent && !element.fromApi) || (element.isAParent && !element.fromApi || element.parentRowHasApproval) || (element.transactionStatus === 'resubmission')
        || (element.amendmentStatus === 'Pending Manager Review' && !element.isOfficer) || isEditable || parentEndDateEditable
          else fieldAsText
        "
      >
        <ng-content></ng-content>
      </div>

      <ng-template #fieldAsText>
        <span *ngIf="header.type === 'numberField' || header.type === 'textField'">
          {{ element[header.property] }}
        </span>
        <span *ngIf="header.type === 'editField'">
          {{ element[header.property] }}
        </span>
        <span *ngIf="header.type === 'formulaField'">
          {{ element[header.property] }}
        </span>
        <span *ngIf="header.type === 'selectField'">
          {{ element[header.property] }}
        </span>
        <span *ngIf="header.type === 'dateField'">
          {{ element[header.property] | date: "yyyy-MM-dd" }}
        </span>
        <span class="from" *ngIf="header.type === 'rangeField'">
          {{ element[header.property] | date: "yyyy-MM-dd" }}
        </span>
        <span class="to" *ngIf="header.type === 'rangeField'">
          {{ element[header.property2] | date: "yyyy-MM-dd" }}
        </span>
      </ng-template>
    </div>
  </ng-container>
</div>
<div
  *ngIf="display === 'tooltipButton'"
  fxLayout="row"
  fxLayoutAlign="center center"
  class="no-text start-radius-style"
  [ngClass]="element.tooltip ? 'icon-padding' : ''"
>
  <mat-icon
    *ngIf="element.tooltip; else blankSpace"
    class="tooltip-icon"
    [matTooltip]="element.tooltip"
    matTooltipHideDelay="1000"
    matTooltipClass="tooltip"
    >error</mat-icon
  >
</div>
<div
  *ngIf="
    element.newlyAdded &&
    (display === 'remove' ||
    (display === 'rowAddButton' && ((!element.isAParent && !element.fromApi) || element.amendmentStatus === 'Draft')) || 
    (display === 'addButton' && element.amendmentStatus === 'Draft'))
  "
  fxLayout="row"
  fxLayoutAlign="start center"
  class="no-text end-radius-style"
  [ngClass]="{ 'icon-padding': element.active }"
>
  <mat-icon class="remove-icon" (click)="onRemoveClick()"
    >remove_circle</mat-icon
  >
</div>
<div
  *ngIf="
  element.newlyAdded &&
  display === 'remove' ||
  (display === 'addButton' && element.isAParent && !element.fromApi )
  "
  fxLayout="row"
  fxLayoutAlign="start center"
  class="no-text end-radius-style"
  [ngClass]="{ 'icon-padding': element.active }"
>
  <mat-icon class="remove-icon" (click)="onRemoveClick()"
    >remove_circle</mat-icon
  >
</div>
<div
  *ngIf="display === 'rowAddButton' && element.isAParent && !element.forResubmission"
  fxLayout="row"
  fxLayoutAlign="start center"
  class="no-text end-radius-style"
  [ngClass]="element.active ? 'icon-padding active' : ''"
>
  <mat-icon class="add-icon" (click)="onAddNewValueClick()"
    >add_circle</mat-icon
  >
</div>
<div
  *ngIf="
    display === 'rowAddButton' && !element.active && endDateIsPastCurrentDate()
  "
  class="inactive inactive-spacing no-text end-radius-style"
>
</div>
<mat-divider
  [ngClass]="{
    'blank-space':
      display === 'rowAddButton' &&
      !element.isAParent &&
      (element.fromApi &&
      !endDateIsPastCurrentDate()),
    'approve-spacing': hasNoTdContent
  }"
></mat-divider>
<ng-template #blankSpace>
  <span>&nbsp;</span>
</ng-template>
