@import '../../../../styles/main.scss';

.display {
  padding: 18px 0 7px 30px;
}

.no-text,
.display {
  margin: 7px 0;
}

.inactive {
  background: #f1f1f1;
}

.history{
  background: #f1f1f1;
}

.active {
  background: #eaf4f0;
}

.start-radius-style {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.end-radius-style {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.icon-padding {
  padding-top: 8px;
  padding-bottom: 0;
}

.mat-icon {
  cursor: pointer;
}

.tooltip-icon {
  color: #ef7c30;
}

.arrow-right {
  height: 0;
  padding-bottom: 20px;
}

.remove-icon {
  color: $red-22;
}

.add-icon {
  color: $purple-bf;
}

.add-icon,
.tooltip-icon,
.remove-icon {
  margin-bottom: 14px;
  font-size: 32px;
}

.tooltip-icon,
.remove-icon {
  margin-bottom: 14px;
}

.mat-divider {
  border: 1px solid #eaedf4;
}

.blank-space {
  margin-top: 60px;
}

.approve-spacing {
  margin-top: 27px;
}

::ng-deep .tooltip {
  @include font-function('Lato', normal, 14px, 17px, $black-55);
  color: $black-55 !important;
  font-weight: 700;
  background: #6c7bc6;
  border-radius: 5px;
  width: 162px;
  margin-left: 170px !important;
}

@media (max-width: 1300px) {
  .display {
    height: 40px;
  }
}

.to {
  margin-left: 39px;
}

.from {
  margin-left: 19px;
}
