<div>
    <app-search-form (searchParams)="getSearchParams($event)" [userType]="userType"></app-search-form>
    <app-table *ngIf="transactions" [link]="url" [userType]="userType" (routeTo)="goToViewDetails($event)"
        [transactionDetails]="transactions" (sort)="sortList($event)" ></app-table>
</div>
<app-pagination (pageMove)="onPageMove($event)" [pageNo]="pageNo"></app-pagination>