@import '../../../styles/main.scss';

  .margin-bottom {
    margin-bottom: 30px;
  }

  .input {
    border: 1px solid #3E3B55;
    box-sizing: border-box;
    border-radius: 4px;
  }


button {
  border: 0;
  outline: none;
  cursor: pointer;
}

.search-label {
  font-size: 14px;
  line-height: 19px;
  color: #6471BF;
  margin-bottom: 20px;
}

.search-container {
  margin-bottom: 30px;
}
