<div class="lta-logo-wrapper">
  <!-- <button class="back-arrow" (click)="clickBackPrevious()">
    <mat-icon>arrow_back</mat-icon>
  </button> -->
  <img src="../../assets/images/oneMotoring.svg" />
</div>

<div class="register-page-wrapper">
  <div class="register-heading-wrapper">
      <div class="register-heading-text">{{ registerHeading }}</div>
  </div>

  <mat-stepper [linear]="isLinear" labelPosition="bottom" #stepper class="register-stepper-wrapper">
      <ng-template matStepperIcon="edit" let-index="index">
          {{ index + 1 }}
      </ng-template>
      <ng-template matStepperIcon="done">
          <mat-icon>done_all</mat-icon>
      </ng-template>
      <mat-step>
          <ng-template matStepLabel>Particulars <br> & Details</ng-template>
          <div class="app-header-wrapper">
              <app-fill (onNextStepper)="allowToProceed($event)"></app-fill>
          </div>
      </mat-step>
      <mat-step>
          <ng-template matStepLabel>Review</ng-template>
          <div class="app-header-wrapper">
              <app-review-payment (onNextStepper)="allowToProceed($event)" (onPreviousStepper)="onBack()"></app-review-payment>
          </div>
      </mat-step>
      <mat-step>
          <ng-template matStepLabel>Payment</ng-template>
          <div class="app-header-wrapper">
              <!-- <app-payment-method (onNextStepper)="onSubmit($event)" (onPreviousStepper)="onBack()"></app-payment-method> -->
              <app-payment-method (onNextStepper)="allowToProceed($event)" (onPreviousStepper)="onBack()"></app-payment-method>
          </div>
      </mat-step>
      <mat-step>
          <ng-template matStepLabel>Acknowledgement</ng-template>
          <div class="app-header-wrapper">
              <app-payment-acknowledge></app-payment-acknowledge>
          </div>
      </mat-step>
  </mat-stepper>
</div>

