@import '../../styles/main.scss';

.lta-logo-wrapper {
  padding: 12px;
  text-align: center;
  box-shadow: 0px 2px 6px $black-29;
}

.app-header-wrapper {
  margin-bottom: 50px;
}

.register-page-wrapper {
  position: relative;
  height: 100%;
  padding: 0 20px 20px 20px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 410px) {
  .register-heading-text {
  font-size: 25px;
  }
}

@media only screen and (max-width: 336px) {
  .register-heading-text {
  font-size: 20px;
  }
}

.register-heading-wrapper {
  @include font-function('Lato', normal, 32px, 38px, $black-heading);
  font-weight: 900;
  padding: 24px 0 0 0;
  text-align: center;
  margin-bottom: 20px;
  .register-heading-text {
    display: inline;
    padding: 0 20px;
    padding-bottom: 17px;
    border-bottom: 1px solid $black-heading;
  }
}

.mat-step-header.mat-horizontal-stepper-header {
  padding: 24px 1px !important;
}

.register-new-vehicle-common-footer {
  @include font-function('Lato', normal, 13px, 15px, $black-heading);
  position: absolute;
  bottom: 16px;
  left: 0;
  padding: 0 27px;
}


