<mat-tab-group animationDuration="0ms" >
    <mat-tab label="Petrol">
        <ng-template matTabContent>
            <div class="selection-container" fxLayout="row" fxLayoutGap="20px">
                <app-formula-card-select
                        (selectionChange)="onSelectionChange($event)"
                        [options]="options"
                ></app-formula-card-select>
                <app-formula-card-export></app-formula-card-export>
                <div class="legend">
                    <app-formula-card-legend></app-formula-card-legend>
                </div>
            </div>
            <div *ngIf="showBaseRoadTax">
                <app-road-tax-table [roadTax]="baseFees" *ngIf="baseFees" (proceedButtonClick)="submit($event)"
                                    (saveDraft)="saveDraft($event)"></app-road-tax-table>
            </div>
            <div *ngIf="showRoadTaxRebates">
                <app-road-tax-rebates [fees]="rebates" (proceedButtonClick)="submit($event)" *ngIf="rebates"
                                      (saveDraft)="saveDraft($event)"></app-road-tax-rebates>
            </div>
            <div *ngIf="showAdditionalRoadTax">
                <app-additional-road-tax [fees]="additionalRoadTax" (proceedButtonClick)="submit($event)"
                                         *ngIf="additionalRoadTax"
                                         (saveDraft)="saveDraft($event)"></app-additional-road-tax>
            </div>
        </ng-template>
    </mat-tab>

    <mat-tab label="Diesel Vehicles">
        <app-diesel-tab></app-diesel-tab>
    </mat-tab>
    <mat-tab label="Electric Vehicles (EV)">
        <app-electric-vehicles-tab></app-electric-vehicles-tab>
    </mat-tab>
    <mat-tab label="Surcharge">
        <app-surcharge-tab></app-surcharge-tab>
    </mat-tab>
    <mat-tab label="Late Fees">
        <app-late-fees-tab></app-late-fees-tab>
    </mat-tab>
    <mat-tab label="Calculator">
        <app-calculator></app-calculator>
    </mat-tab>
</mat-tab-group>
