<div class="common-margin">
    <div class="reference-heading" fxLayout="row">
        <div fxFlex="auto">
            <div class="reference-header">Review Refund Reference No.:{{transactionId}}</div>
            <div class="intervention-text">Manual intervention required</div>
        </div>
        <div fxFlex="auto" fxLayoutAlign="flex-end center">
            <div>
                <div class="likelihood-text">Likelihood of Approval</div>
                <div fxLayout="row wrap">
                    <mat-progress-bar mode="determinate" [value]="likelihoodOfApproval"></mat-progress-bar>
                    <div class="likelihood-value">{{ likelihoodOfApproval }}%</div>
                </div>
            </div>
        </div>

    </div>
    <div fxLayout="column" fxLayoutAlign="flex-end">
        <mat-card class="detail-card" *ngIf="certifyRefundResponseList">
            <div class="transaction-table-heading-container" fxLayout="row" fxLayoutAlign="space-between center"
                 fxLayoutGap="2px">
                <div class="transaction-table-heading">
                    <b>Pending Refund Certification</b>
                </div>
            </div>
            <app-expansion-table [data]="certifyRefundResponseList"
                                 [tableType]="refund"></app-expansion-table>
        </mat-card>
        <mat-card class="detail-card" *ngIf="vehicleTransactionHistory">
            <div class="transaction-table-heading-container" fxLayout="row" fxLayoutAlign="space-between center"
                 fxLayoutGap="2px">
                <div class="transaction-table-heading">
                    <b>Vehicle-Related Transaction History</b>
                </div>
            </div>
            <app-expansion-table [data]="vehicleTransactionHistory"
                                 [tableType]="vehicle"></app-expansion-table>
        </mat-card>
    </div>

    <div *ngIf="showCertifyReject">
        <div fxLayout="row" class="spacing-between" fxLayoutAlign="end stretch">
            <button fxLayout="row" fxLayoutAlign="space-around stretch" type="button" class="reject-btn"
                    (click)="onReject()">
                Reject
            </button>
            <button fxLayout="row" fxLayoutAlign="space-between stretch" type="button" class="certify-btn"
                    (click)="onCertify()">
                Certify
            </button>
        </div>
    </div>

    <app-modal></app-modal>
</div>
