@import '../../../../styles/main.scss';

.reference-heading {
  margin-bottom: 30px;
}

.reference-header {
  @include font-function("Lato", normal, 30px, 36px, $globalappcolor);
  font-weight: 900;
  margin-bottom: 5px;
}

.intervention-text {
  @include font-function("Lato", normal, 18px, 22px, $globalappcolor);
  font-weight: normal;
}


.mat-progress-bar {
  height: 17px;
  width: 70%;
  margin-right: 10px;
}


.likelihood-text {
  @include font-function("Lato-Bold", normal, 15px, 19px, $black-heading);
  font-weight: normal;
  margin-right: 400px;
  margin-bottom: 5px;
}

.likelihood-value {
  @include font-function("Lato-Bold", normal, 15px, 19px, $black-heading);
  font-weight: normal;
}

.detail-card {
  margin-bottom: 20px;
}

.reject-btn {
  @include font-function("Lato", normal, 18px, 22px, $blue-bf);
  box-sizing: border-box;
  background-color: $white;
  padding: 15px 33px;
  width: 20%;
  outline: 0;
  border-radius: 7px;
  margin-right: 10px;
  border: 1px solid $blue-bf;
}

.certify-btn {
  @include font-function("Lato", normal, 18px, 22px, $white);
  box-sizing: border-box;
  background-color: $purple-c5;
  padding: 15px 33px;
  width: 22%;
  outline: 0;
  border: none;
  border-radius: 7px;
}

.transaction-table-heading-container {
  border-bottom: 2px solid $globalappcolor;
  margin-top: 10px;
}

.transaction-table-heading {
  color: $globalappcolor;
  font-size: 14px;
  margin-bottom: 10px;
}