.singapore-common-header {
  background-color: #f0f0f0;
  padding: 8px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  img {
    margin-right: 8px;
  }
}
